<div class="title">
  <h1><%= @genre.name %></h1>

  <%= render partial: 'show_nav', locals: { genre: @genre } %>
</div>

<div class="whole">
  <% if true %>
    <%= render partial: 'stations/playlist', locals: { station: @genre_station, songs: @genre_songs } %>
  <% else %>
    <%= render partial: 'stations/playlist', locals: { station: @genre_station, songs: @genre_songs, classname: 'playlist-shuffle open', dont_paginate: true } %>
  <% end %>
</div>