<div class="whole">
  <h1><%= @genre.name %></h1>

  <% if true %>
    <%= render partial: 'stations/playlist', locals: { station: @genre_station, songs: @genre_songs } %>
  <% else %>
    <%= render partial: 'stations/playlist', locals: { station: @genre_station, songs: @genre_songs, classname: 'playlist-shuffle open', already_limited: true, dont_paginate: true } %>
  <% end %>
</div>