<div class="nav-container">
  <div class="title">
    <h1>About 2u.fm</h1>

    <nav class="nav-menu">
      <%= nav_link_to 'About Us', '/us/about' %>
      <%= nav_link_to 'Legal', '/us/legal' %>
      <%= nav_link_to 'Privacy Policy', '/us/privacy' %>
      <%= nav_link_to 'Contact', '/us/contact' %>
    </nav>
  </div>
</div>

<div class="whole">
  <p class="large">
    Discover new music and share it with friends.  That is what 2u.fm is all about, creating the best social platform for music discovery.
  </p>

  <p>

  </p>
</div>