<section class="half">
  <h2>Featured Stations</h2>
  <div id="featured-stations">
    <%= render :partial => 'stations/station', :collection => @stations unless @stations.nil? %>
  </div>
  <%= link_to 'Browse more stations', '/stations', :class => 'more-button' %>
</section>

<section class="half">
  <h2>Popular Songs</h2>
  <div id="song-playlist" class="mini">
    <%= render :partial => 'shared/song', :collection => @popular unless @popular.nil? %>
  </div>
  <%= link_to 'Browse more songs', '/songs', :class => 'more-button' %>
</section>

<section class="feature">
  <h2>Create your station</h2>
  <h3>Enter your favorite blogs (by URL) here to begin building your station</h3>
</section>