<%- if !user_signed_in? -%>
<div class="shelf">
  <h3>Featured Stations</h3>
  <ul>
    <%= render :partial => 'stations/shelf', :collection => @featured %>
  </ul>
</div>
<%- end -%>

<div class="twothirds">
<%- if user_signed_in? -%>
  <h3>Song Feed</h3>
  <%= render :partial => 'stations/playlist', :locals => { :station => @feed } %>
<%- else -%>
  <h3>Popular Now</h3>
  <%= render :partial => 'stations/playlist', :locals => { :station => @popular } %>
  <%= link_to 'Browse more songs', '/songs', :class => 'button right' %>
<%- end -%>
</div>

<div class="third">

</div>