<%- if !user_signed_in? -%>
<div class="shelf">
  <h3>Featured Stations</h3>
  <ul>
    <%= render :partial => 'stations/shelf', :collection => @featured %>
  </ul>
</div>
<%- end -%>

<div class="whole">
  <h3>Trending Songs</h3>
  <%= render :partial => 'stations/table', :locals => { :station => @popular, :songs => @popular.songs } %>
  <%= link_to 'Browse more songs', '/songs/fresh', :class => 'button right' %>
</div>