  <%= render 'main/nav', :locals => { :title => 'New' } %>

  <div class="whole">
    <%= render :partial => 'stations/playlist', :locals => { :station => @just_in_station, :songs => @just_in_songs } %>
  </div>