<div class="third">
  <div class="image">
    <%= image_tag(@blog.image.url(:original)) %>
  </div>
  
  <h3>Genres</h3>

  <h3><%= @blog.name %> Stats</h3>

  <h3>Recent posts</h3>
  <%- if @posts.empty? -%>
  <p>No posts!</p>
  <%- else -%>
  <ul id="posts">
    <%= render :partial => 'post', :collection => @posts, :as => :post %>
  </ul>
  <%- end -%>
</div>