<div class="title">
  <h2>Music Blog Directory</h2>
  <p>Browse blogs and subscribe to their stations</p>
  
  <div class="title_nav">
    <%= link_to 'Submit your blog to the directory', new_blog_path, :class => 'button' %>
  </div>
</div>

<div class="whole">
  <h4>Filter by genre</h4>
  <ul id="genres">
    <%= render @genres %>
  </ul>
  
  <div id="directory-list">
    <%= render @blogs %>
  </div>
  
  <%= paginate @blogs %>
</div>