<div class="content">
  <h2>Listen to <%= link_to @blog.name, @blog.url %> Radio</h2>
  <p class="description">
    <%= @blog.description || "Browse the latest from #{@blog.name}" %>
  </p>
  
  <h3>Recent posts</h3>
  <%- if @posts.empty? -%>
  <p>No posts!</p>
  <%- else -%>
  <div id="posts">
    <%= render :partial => 'post', :collection => @posts, :as => :post %>
  </div>
  <%- end -%>
</div>

<%= render 'side' %>