<% size ||= :small %>
<section class="section">
  <%= link_to image_tag(artist.image.url(size)), artist, :class => 'image' %>
  <div>
    <h3><%= link_to artist.name, artist %></h3>
  </div>
</section>