<div class="title">
  <%= render :partial => 'shared/stations_nav' %>
</div>

<div class="whole">
  <%= render partial: 'shared/genre_subnav', locals: { object: 'artists' } %>

  <div class="stations">
    <%= render partial: 'stations/station', collection: @artists, locals: { content: true } %>
    <%= paginate @artists if @artists.respond_to? 'current_page' %>
  </div>
</div>