<div class="title">
  <h2>Artists</h2>
</div>

<ul class="subnav">
  <li><%= link_to 'Random', '/artists' %></li>
  <li><%= link_to "#", "/artists?letter=0" %></li>
  <%- ('A'..'Z').each do |letter| -%>
  <li><%= link_to letter, "/artists?letter=#{letter}" %></li>
  <%- end -%>
</ul>

<div class="whole">
  <div class="shelf">
    <%= render :partial => 'stations/shelf', :collection => @artists %>
  </div>
</div>