<div class="title">
  <h2>Artists</h2>
  <p>Browse artists and subscribe to their stations</p>
</div>

<div class="whole">
  
</div>

<div class="artist-list full">
  <%= render @artists %>
</div>