<html>
<head>
  <title>
    <%= @song.artist_name %> - <%= @song.name %>
  </title>
  <script type="text/javascript">
    top.location = "<%= @go.html_safe %>"
  </script>
</head>
<body><%= image_tag @song.resolve_image %></body></html>