<% icon, label, method, path = (action == 'add') ?
    ['+','Follow', :post, follow_path(id)] :
    ['2','Following', :delete, follow_path(id) ]
    change_class = changed ? 'first-hover' : ''
%>
  <div class="count"><%= pluralize count, 'Follower' %></div>
  <%= link_to "<span>#{icon}</span>#{label}".html_safe, path, class: "follow-station button #{action} control #{change_class} restricted", remote: true, method: method unless on_own_profile? %>