<% icon, label, title, method, path = (action == 'add') ? 
    ['+','Follow','Follow', :post, follow_path(id)] :
    ['2','Following','Unfollow', :delete, follow_path(id) ]
%>
  <div class="count"><%= pluralize count, 'Follower' %></div>
  <%= link_to "<span>#{icon}</span>#{label}".html_safe, path, class: "follow-station button #{action} control tip", title: title, remote: true, method: method unless on_own_profile? %>