<%- type ||= 'large'
    icon, text, tip, method, path =
      (action == 'add') ?
      ['+','Follow', 'Follow station', :post, follow_path(id)] :
      ['2','Following', 'Unfollow station', :delete, follow_path(id) ]
    change_class = changed ? 'first-hover' : ''
    disable = 'disabled' if user_signed_in? and id == current_user.station.id
    class_name = "follow-station #{action} #{disable} #{change_class} button restricted control tip"
    label = "<span>#{icon}</span> <strong>#{text}</strong>"
-%>

  <%= link_to label.html_safe, path, class: class_name, title: "#{tip}", remote: true, method: method %>
  <div class="count"><%= pluralize count, 'Follower' %></div>