<%- station       ||= Station.new
		id              = station.id || 0
    no_pagination ||= false
		per           ||= 12
    songs         ||= station.songs.playlist_order_rank.page(params[:page]).per(per)
    compact       ||= false -%>
<div id="playlist-<%= id %>" class="playlist" data-playlist="<%= station.to_playlist_json %>">
  <%= render :partial => (compact ? 'songs/mini' : 'songs/song'), :collection => songs, :locals => { :station_id => id } unless songs.nil? %>
</div>
<%= paginate songs unless no_pagination %>