<%-
  image_size ||= :medium
-%>
  <li>
    <a href="/<%= shelf.slug %>">
      <strong><%= shelf.name %></strong>
      <span><%= image_tag shelf.image.url(image_size) %></span>
    </a>
    <%= debug(shelf) %>
  </li>