<%- image_size ||= :medium -%>
  <li>
    <a href="<%= url_for(shelf) %>">
      <strong><%= shelf.title %></strong>
      <span><%= image_tag shelf.image.url(image_size) %></span>
      <p><%= pluralize(shelf.broadcasts_count, 'song') %></p>
    </a>
    <% debug(shelf) %>
  </li>