  <li>
    <a class="cover-128" href="<%= url_for(shelf) %>">
      <strong><%= shelf.name %></strong>
      <span><%= image_tag shelf.image.url(:medium) %></span>
    </a>
    <%= debug(shelf) %>
  </li>