<div class="third">
  <%- if @artists -%>
  <h3>Artists on this station</h3>
  <div class="shelf">
    <%= render :partial => 'stations/shelf', :collection => @artists %>
  </div>
  <%- end -%>
</div>