<div class="third">
  <% if @station.blog %>
  <div class="image">
    <%= image_tag(@station.image.url) %>
  </div>
  <%= station_follow_unfollow(@station.id) %>
  <%= link_to "View the #{@station.blog.name} profile", @station.blog, :class => 'button' unless @station.blog.nil? %>
  <% end %>
  

  <h3><%= @station.name %> Stats</h3>
</div>