<div class="title">
  <h2>Stations</h2>
  <p>Browse stations and subscribe to their stations</p>
</div>

<div class="whole">
  <div id="stations">
    <%= render @stations %>
  </div>

  <%= paginate @stations %>
</div>