<div class="whole">
  <h2>Featured Stations</h2>

  <div class="playlist-cover">
    <%= render @featured_stations %>
  </div>

  <h2>Another Section</h2>

  <div class="playlist-cover">
    <%= render @top_stations %>
  </div>

  <h2>Lots of Stations</h2>

  <div class="playlist-cover">
    <%= render @other_stations %>
  </div>
</div>