<div class="content">
  <section class="begin">
    <h2>Browse stations</h2>
    <%= link_to 'Submit to our directory', new_blog_path, :class => 'button right' %>
  </section>
  
  <div id="station-list">
    <%= render @stations %>
  </div>
</div>

<div class="side">
  <h3>Want to see your blog here?</h3>
  <p>Submit to our directory using the submit button to your left and we will review your blog within 24 hours.  Learn more about what it means to be in our blog directory and how you can increase exposure and earn money!</p>
  
  <h3>Browse by genre</h3>
  <ul id="genres">
    <%= render @genres %>
  </ul>
</div>