<p>See you on <strong><a href="http://2u.fm">2u.fm</a></strong>!</p>

<p style="font-size:11px; color:#999;">
  Adjust your <%= link_to 'privacy settings', 'http://2u.fm/account' %> or
  <%= link_to 'unsubscribe', "http://2u.fm/unsubscribe/#{@unsubscribe_type}/#{@unsubscribe_key}" %>.
</p>