<html><body>
  <p>Hello, <strong><%= @user.username %></strong>,</p>

  <p><strong>Your account is now active!</strong></p>

  <p>See you on <strong><a href="http://2u.fm">2u.fm</a></strong></p>
</body></html>