<html><body>
  <p>Hello, <strong><%= @user.username %></strong>,</p>

  <p><strong>You have requested to reset your password.</strong></p>

  <p>Your new password is: <strong><%= @reset %></strong></p>

  <p>Please <a href="http://2u.fm/account">login to your account</a> and set a new password!</p>

  <p>Thanks!</p>
  <%= render 'signature' %>
</body></html>