<html><body>
  <p>Hello, <strong><%= @user.username %></strong>,</p>

  <p><strong>You are one step away from activating your account on 2u.fm!</strong></p>

  <p>Visit this url to activate your account:
  <a href="<%= @url %>"><%= @url %></a></p>

  <p>Thank you!</p>
  <p>We'll see you on <strong><a href="http://2u.fm">2u.fm</a></strong></p>
</body></html>