<div class="nav-container">
  <div class="title">
    <h1>Shares</h1>
    <%= render 'nav' %>
  </div>
</div>

<div class="whole">
  <%- if @has_songs -%>
    <%= render partial: 'stations/playlist', locals: @playlist %>
  <%- else -%>
    <h3>No one has shared songs with you yet :(</h3>
    <p>Your inbox will show you songs other users have sent to you!</p>
  <%- end -%>
</div>