<div class="nav-container">
  <div class="title">
    <h2>Shares</h2>
    <%= render 'nav' %>
  </div>
</div>

<div class="whole">
  <%- if @has_songs -%>
    <%= render :partial => 'stations/playlist', :locals => { station: @inbox_station, songs: @inbox_songs, already_limited: true, has_title: true } %>
  <%- else -%>
    <h3>No one has shared songs with you yet :(</h3>
    <p>Your inbox will show you songs other users have sent to you!</p>
  <%- end -%>
</div>