{{#full_name}}
<div>
  <a class="friend-link" href="/{{slug}}" id="friend-{{id}}" data-user="{{user_id}}">{{full_name}}</a>
  <a class="tune-in tip-w" title="Tune into @{{title}}" href="/@{{slug}}">@</a>
</div>
{{/full_name}}