<div>
  {{#full_name}}<a class="friend-link" href="/{{slug}}" id="friend-{{id}}" data-user="{{user_id}}">{{full_name}}</a>{{/full_name}}
  <a class="tune-in tip-w" title="Tune into @{{title}}" href="/@{{slug}}">@</a>
</div>
<!-- <img class="hidden" src="http://s3.amazonaws.com/media.2u.fm/user_avatars/{{user_id}}_small.jpg" /> -->