<div class="nav-container">
  <div class="title">
    <h1><%= title %></h1>

    <nav class="nav-menu">
      <%= nav_link_to 'Account', account_path %>
      <%= nav_link_to 'Privacy &amp; Notifications'.html_safe, privacy_main_path %>
    </nav>
  </div>
</div>