<div class="whole">
  <h2>Feed</h2>
  <%- if @has_songs -%>
    <%= render :partial => 'stations/playlist', :locals => { :station => @user_station, :songs => @user_songs, :nolimit => true } %>
  <%- else -%>
    <h3><strong>Your feed is empty!</strong> Follow your friends, artists and blogs!</h3>
    <p>Your feed will automatically fill with the latest songs from all the people you follow</p>
  <%- end -%>
</div>