<div class="whole">
  <h2>Feed</h2>
  <%- if @has_songs -%>
    <%= render :partial => 'stations/playlist', :locals => { :station => @user_station, :songs => @user_songs, :nolimit => true } %>
  <%- else -%>
    <p class="attention"><strong>Your feed is empty!</strong> Follow some users, artists or blogs to fill up your feed!</p>
  <%- end -%>
</div>