<div class="whole">
  <h2>Feed</h2>
  <%- if params[:welcome] -%>
    <div class="sub">
      <strong>Welcome to 2u.fm! <small>Thank you for registering.</small></strong>
      Now would be a great time to <a href="/account">update your avatar</a> and <a href="/artists">start browsing some stations</a>.
    </div>
    <script type="text/javascript">
      window.history.replaceState(null,document.title,'/feed');
    </script>
  <%- end -%>

  <%- if @has_songs -%>
    <%= render :partial => 'stations/playlist', :locals => { :station => @user_station, :songs => @user_songs, :nolimit => true } %>
  <%- else -%>
    <h3><strong>Your feed is empty!</strong> Follow your friends, artists and blogs!</h3>
    <p>Your feed will automatically fill with the latest songs from all the people you follow</p>
  <%- end -%>
</div>