<%= render partial: 'shared/stations_nav' %>

<div class="whole">
  <%= render partial: 'shared/stations_subnav', locals: { object: 'users' } %>

  <div class="stations">
    <%= render :partial => 'stations/station', :collection => @users %>
    <%= paginate @users if @users.respond_to? 'current_page' %>
  </div>
</div>