<div class="whole">
  <% if @user %>
    <h2>Tuning into <%= @user.username %>...</h2>

    <script type="text/javascript">
      tuneInto = <%= @user.id %>;
      <% if @listen %>
        beginListen = <%= raw @listen.as_json.to_json %>;
      <% else %>
        beginListen = false;
      <% end %>
    </script>
  <% else %>
    <h2>Incorrect station name!</h2>
  <% end %>
</div>