@import 'bourbon';

/*  header  */
$header-color: #418bd4;
$header-light: lighten($header-color, 5%);
$header-dark: darken($header-color, 5%);
$header-height: 60px;
$header-shadow: rgba(255,255,255,0.15);

/* body */
$body-bg: #2f2f2f;
$body-dark: darken($body-bg,2.5%);
$body-light: lighten($body-bg,2.5%);
$body-darker: darken($body-bg,5%);
$body-lighter: lighten($body-bg,5%);

/* containers */
$third-width: 220px;

/* play button */
$play-button-size: 46px;
$play-button-small: 36px;

/* links */
$link-color: #ccc;
$link-hover: #fff;

/* layout widths */
$width: 800px;

$heading-color: #fff;
$heading-color-light: lighten($heading-color,20%);
$heading-color-dark: darken($heading-color, 20%);

$button-bg: lighten($header-color,10%);
$button-border-color: darken($button-bg,7%);
$button-color: #fff;

$primary: #3786dd;
$primary-light: lighten($primary,10%);
$primary-dark: darken($primary,10%);

/*  navbar  */
$navbar-width: 200px;
$navbar-bg: #222;
$navbar-active: $primary;

$yellow: #acac04;
$light-yellow: lighten($yellow,12%);

$green: #4c773c;
$light-green: lighten($green,12%);
$dark-green: darken($green,12%);

$red: #983114;
$light-red: lighten($red,6%);
$dark-red: darken($red,6%);

$orange: #eb983f;

/* like */
$like-color: $green;
$like-light: lighten($like-color,8%);
$like-dark: darken($like-color,8%);

@mixin dim($percent) {
  background: rgba(0,0,0,$percent/100);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000$percent,endColorstr=#000000$percent);
}

@mixin light($percent) {
  background: rgba(255,255,255,$percent/100);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff$percent,endColorstr=#ffffff$percent);
}

@mixin background-gradient($start: #fff, $stop: #000) {
  @include linear-gradient($start, $stop);
  background-color: none;
}

@-webkit-keyframes rotation {
    50% { -webkit-transform: rotate(180deg); }
    100% { -webkit-transform: rotate(360deg); }
}