@import 'bourbon';

$header-height: 65px;
$header-shadow: rgba(255,255,255,0.15);

/*  navbar  */
$navbar-width: 130px;

/* containers */
$third-width: 220px;

/* play button */
$play-button-size: 46px;
$play-button-small: 36px;

/* links */
$link-color: #ccc;
$link-hover: #fff;

/* layout widths */
$min-width: 660px;
$max-width: 1100px;

$heading-color: #fff;
$heading-color-light: lighten($heading-color,20%);
$heading-color-dark: darken($heading-color, 20%);

$primary: #3786dd;
$primary-light: lighten($primary,10%);
$primary-dark: darken($primary,10%);

$yellow: #acac04;
$light-yellow: lighten($yellow,12%);

$green: #4c773c;
$light-green: lighten($green,12%);
$dark-green: darken($green,12%);

$red: #983114;
$light-red: lighten($red,6%);
$dark-red: darken($red,6%);

/* like */
$like-color: $green;
$like-light: lighten($like-color,8%);
$like-dark: darken($like-color,8%);

@mixin dim($percent) {
  background: rgba(0,0,0,$percent/100);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000$percent,endColorstr=#000000$percent);
}

@mixin light($percent) {
  background: rgba(255,255,255,$percent/100);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff$percent,endColorstr=#ffffff$percent);
}

@mixin background-gradient($start: #fff, $stop: #000) {
  @include linear-gradient($start, $stop);
  background-color: none;
}
