@import "mixins.css.scss";

/* Modals */

.hidden { display: none; }
.center { text-align: center; }

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 200;
  left: 0;
  top: 0;
  background-color: #000;
  pointer-events: none;
  opacity: 0;
  @include transition(opacity linear .1s);
}

#overlay.slow-fade {
  @include transition(opacity linear .3s);
}

#overlay.shown {
  pointer-events: auto;
  opacity: .6;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  text-decoration: none;
  font-size: 16px;
}

#modal .permanent {
  .modal-close {
    display: none;
  }

  .restricted-notice {
    display: block;
  }
}

#modal {
  z-index: 201;
  position: fixed;
  top: -1000px;
  left: 50%;
  margin-left: -350px;
  width: 700px;
  color: #ddd;
  padding: 0 20px;
  overflow: auto;
  opacity: 0;
  font-weight: normal;
  @include box-shadow(0 0 15px rgba(0,0,0,0.8));
  @include box-sizing(border-box);
  @include transition(top ease-in .5s);

  &.shown {
    opacity: 1;
    top: $header-height;
  }

  h2, h3 {
    color: #fff;
    font-size: 22px;
    padding: 20px 20px 12px;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    margin: -20px;
    margin-bottom: 20px;

    small {
      font-size: 50%;
      display: block;
      line-height: 1.5em;
    }
  }

  h3 {
    margin-top: -5px;
    font-size: 32px;
  }

  p {
    font-size: 16px;
    font-weight: 300;

    em {
      color: #fff;
    }
  }

  .large {
    font-size: 18px;
    line-height: 1.6em;
    margin: -10px 0 16px;
    color: #fff;
  }

  .restricted-notice {
    display: none;
    background: $primary-dark;
    color: #fff;
    padding: 5px;
    text-align: center;
    margin: -20px -20px 20px;
  }

  .section-container {
    position: relative;
  }

  .section {
    display: block;
    @include transition(all linear .3s);

    &.hidden {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      display: block;
      visibility: visible;
    }
  }

  .loading {
    min-height: 200px;

    &:before {
      content: "Loading...";
      display: block;
      text-align: center;
      position: absolute;
      top: 0;
      padding-top: 10%;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0,0,0,0.2);
    }
  }

  .friends-list {
    max-height: 350px;
  }

  .station-link { display:none; }

  .greater {
    h4 {
      padding: 10px;
      margin-top: 0;
      background: $primary-dark;}
    background: #393939;
    padding: 0 0 20px 0;
  }

  .lesser h4 {margin-top: 0;}
  .inline form {
    padding:0 10px;
    input[type="text"] { margin: 0 0 10px 0; }
    .actions input {float: right;}
  }

  form {text-align: left;}

  .actions {
    background: none;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    a {margin: 0 0 10px 0;}
    p {margin-left: 0;}
  }
}

.modal-actions {
  background: rgba(0,0,0,0.2);
  padding: 20px;
  margin: 0 -20px;
  margin-top: 10px;
  clear: both;

  .afterthought {
    font-size: 12px;
    color: #555;
    float: right;
    padding: 8px;

    a {
      float: none;
      color: #888;
    }
  }
}

#modal-login {
  .split {
    display: block;
    margin: 15px 0;
    color: #888;
    font-size: 14px;
    a {color:#aaa;}
  }

  #octo-dj {
    width: 282px;
    float: right;
  }

  a.alt { color: #aaa; }
}

#modal-new-user {
  .stations {
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: auto;

    .play-station {
      display: none;
    }
  }
}

#modal > div.hidden {
  display: block !important;
  visibility: visible;
}

* html #modal {
   position: absolute;
   top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}
