@import "mixins.css.scss";

h3.horizontal {
  float: left;
  font-size: 14px;
  margin: 5px 10px 0 0;
  color: #999;
}

.genres-list {
  clear: both;
  margin: 10px 0 0;
}

.title .genres {
  margin-bottom: 0;
}

.genres {
  padding: 0;
  margin: 0 -6px 15px 0;

  li {
    list-style: none;
    float: left;
    width: 20%;
    margin-bottom: 6px;
  }

  a {
    font-size: 13px;
    margin: 0 6px 0 0;
    padding: 14px 0;
    display: block;
    text-align: center;
    background: rgba(255,255,255,0.03);
    text-decoration: none;

    &:hover {
      background: rgba(255,255,255,0.05);
    }

    &.selected {
      background: $green;
      color: #fff;
    }
  }
}

.third .genres {
  margin-right: 0;

  li {
    width: 100%;
    margin-bottom: 5px;
  }

  a {
    padding: 8px 0;
    margin: 0;
  }
}

#body .genres {
  a {
    font-size: 14px;
    position: relative;
    @include transition(all ease-in .2s);

    &.play-station:hover {
      color: rgba(255,255,255,0.3);
    }

    &.play-station:before {
      display: block;
      visibility: hidden;
      opacity: 0;
      content: "4";
      font-family: 'Icon';
      font-size: 28px;
      color: #fff;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      padding: 12% 0 0;
      text-align: center;
      text-indent: 0;
    }

    &:hover:before {
      opacity: 1;
      visibility: visible;
    }
  }
}

#body .genres.horizontal {
  li {
    width: auto;
    margin-bottom: 6px;
  }

  a {
    padding: 5px 12px;
    margin: 0 6px 0 0;
    border-radius: 0;
    font-size: 12px;
  }
}