@import "mixins.css.scss";

body.live {
  #player-controls span,
  #player-mode,
  #nav-music,
  #nav-music:before {
    pointer-events: none !important;
    color: $header-light !important;
  }

  #player-progress-grabber {
    pointer-events: none;
  }
}