@import "mixins.css.scss";

body.live {
  #player-controls span,
  #player-mode,
  #nav-music,
  #nav-music:before {
    pointer-events: none !important;
    color: rgba(255,255,255,0.05) !important;
  }

  #player-progress-grabber,
  .song-link,
  #player-playlist a {
    pointer-events: none !important;
  }
}