@import "mixins.css.scss";

* { -webkit-tap-highlight-color: rgba(0,0,0,0); }
body, button, input, select, textarea, #navbar h1 {
  font: 13px/21px 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #bbb;
}

::selection {
  background: #000;
  }
::-moz-selection {
  background: #000;
}

:focus {outline:none;}
a:active, a:visited { outline: 0; }
::-moz-focus-inner { border: 0; }

/* Layout */
html,body {height: 100%;}
body {
  background: $body-bg;
  position: relative;
  font-weight: 300;
  max-width: $max-width;
  min-width: $min-width;
}

p {
  font-weight: 400;
}

a { color: $link-color; @include transition(color .1s linear); }
a:hover { color: $link-hover; }

#main-mid {
  padding: $header-height 0 0;
  min-height: 100%;
  position: relative;
}

.page-contain {
  position: relative;
}

/* HEADING AND TEXT STYLES */

h1 { font-size: 36px; }
h2 { font-size: 32px; }
h3 { font-size: 18px; }
h4 { font-size: 14px; }
h5 { font-size: 14px; }

h1, h2, h3.horizontal {
  font-family: "Stratum", "Open Sans", Helvetiva, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  line-height: 1.4em;
  padding: 0;
  margin: 15px 0;
  font-weight: 300;
  color: $heading-color;

  &.inline {
    display: inline-block;
    float: left;
  }

  small {
    font-size: .8em;
    color: #aaa;
    font-weight: normal;

    a {
      color: #ccc;
    }
  }
}

h1 span { font-size: 26px; }

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: $header-height;
  min-width: $min-width;
  line-height: 1em;
  background: $header-color;
  @include box-shadow(0 3px 0 rgba(0,0,0,0.2));
  @include box-sizing(border-box);

  &:after {
    visibility: visible;
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: rgba(0,0,0,0.1);
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -41px;
    left: 130px;
    right: 130px;
    box-shadow: 0 0 120px rgba(255,255,255,0.5);
    height: 41px;
    z-index: 10;
    pointer-events: none;
  }

  /* logo */
  h1 {
    position: absolute;
    top: 4px;
    left: 0;
    margin: -12px 0 0 -5px;

    a {
      background: url(/images/2ufm.png) no-repeat 0 3px;
      width: 90px;
      height: $header-height + 10;
      overflow: hidden;
      text-indent: -3000em;
      display: block;
      @include transition(all ease-in .2s);

      &:hover {
        background-color: rgba(0,0,0,0.15);
      }
    }
  }

  nav {
    position: absolute;
    top: 24px;
    right: 220px;
    z-index: 200;

    a {
      font-size: 22px;
      color: rgba(255,255,255,0.8);
      padding: 4px;
      margin: -4px;
      float: left;
      margin-right: 10px;

      &:hover {
        color: #fff !important;
      }

      &#nav-music {
        margin-top: -5px;
      }

      &.disabled {
        color: $header-color;
        cursor: default;
      }
    }
  }
}

/* BAR */
#bar {
  position: absolute;
  top: 0;
  left: 90px;
  right: 0;
  z-index: 0;
  height: $header-height;
}

#player {
  padding-top: 7px;
  white-space: nowrap;
  height: $header-height;
  @include box-sizing(border-box);

  &.playing {
    #player-controls {
      .play span {
        left: -3px;
        top: 0;
        font-size: 41px;
      }
    }
  }

  &.loaded {
    #player-main #player-meta {
      visibility: visible;
    }

    #player-controls a {
      span { color: #fff; }
      &:hover span { text-shadow: 0 0 15px rgba(255,255,255,0.8); }
    }

    #player-bottom #player-timer {color: lighten($header-color, 15%);}
    #player-bottom a.control {
      pointer-events: auto;
      color: #fff;
      opacity: 1;

      &:hover {
        color: #fff;
      }
    }

    #player-bottom #player-mini-controls a {
      opacity: 0.6;
      &:hover {opacity: 0.8;}
    }
  }
}

#player-controls {
  margin: 1px 0 -4px -4px;
  float: left;
  width: 100px;

  a {
    position: relative;
    display: block;
    float: left;
    overflow: hidden;
    color: $header-color;
    text-shadow: none;

    span {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: inline-block;
      @include box-sizing(border-box);
      @include transition(all .1s linear);
    }
  }

  /* play button */
  .play {
    font-size: 46px;
    width: 52px;
    height: 50px;
    color: #fff;

    span { padding: 21px 0 0 12px; }
    &:hover span { text-shadow: 0 0 15px rgba(255,255,255,0.8); }
  }

  .next {
    margin: 6px 0 0;
    font-size: 26px;

    span {
      padding: 20px;
      margin: -6px -9px 0;
    }
  }
}

#player-main {
  position: absolute;
  top: 0;
  left: 110px;
  right: $navbar-width + 85;
  height: 100%;

  #player-meta {
    text-overflow: ellipsis;
    overflow: hidden;
    visibility: hidden;
    margin: 2px 0 0;
    line-height: 17px;

    &:before, &:after {
      display: block;
      position: absolute;
      z-index: 500;
      top: -5px;
      width: 15px;
      bottom: 23px;
      pointer-events: none;
    }

    &:before {
      content: "";
      left: 0;
      @include linear-gradient(left, $header-color, rgba($header-color,0));
      background-color: transparent;
    }

    &:after {
      position: absolute;
      visibility: visible;
      height: auto;
      right: 0;
      @include linear-gradient(right, $header-color, rgba($header-color,0));
      background-color: transparent;
    }

    span {
      display: block;
      text-align: center;
    }

    #player-song-name {
      position: relative;
      z-index: 10;

      a {
        font-size: 14px;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #fff;
        display: inline-block;
      }
    }

    #player-artist-name {
      color: lighten($header-light, 20%);
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      font-weight: 400;
      text-overflow: ellipsis;
      position: relative;
      z-index: 9;

      a {color: lighten($header-light, 29%) !important;
        &:hover { color: #fff !important; }
        &:after { font-size: 9px; } }
    }

    a {
      color: #fff;
      text-decoration: none;
      &:hover {text-decoration: underline; color: #fff !important;}
    }
  }
}

#player-bottom {
  clear: both;
  position: absolute;
  bottom: 6px;
  left: -10px;
  right: -10px;
  height: 14px;

  &:hover {
    overflow: visible;
    #player-timer {display: block;}
  }

  #player-timer {
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: rgba(255,255,255,0.3);
    font-weight: 400;
    font-size: 11px;
    pointer-events: none;
  }

  #player-progress-bar {
    position: absolute;
    top: 0;
    left: 30px;
    right: 30px;
    z-index: 1;
    bottom: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: darken($header-dark,3%);

    #player-progress-inner-wrap {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }

    #player-progress-grabber {
      position: absolute;
      top: 0;
      z-index: 11;
      width: 100%;
      height: 100%;
      cursor: ew-resize;
    }

    #player-progress-position,
    #player-progress-loaded {
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 28px;
      background: rgba(0,0,0,0.1);
    }

    #player-progress-position {
      z-index: 4;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background: darken($header-dark,20%);
    }
  }
}

#player-mini-controls {
  position: absolute;
  top: -5px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  overflow: hidden;

  a {
    width: 24px;
    padding: 28px 0 0;
    float: left;
    color: #fff;
    opacity: 0.6;
    font-size: 18px;

    &:hover {
      opacity: 0.8;
    }

    &:before {
      font-size: 18px;
    }

    &.post {
      float: right;
    }
  }
}

#player-buttons {
  position: absolute;
  top: 6px;
  right: 0;
  width: 196px;

  .broadcast {
    height: 48px;
    width: 44px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    float: left;

    &.remove {
      .add {display: none;}
    }
  }

  a {
    display: inline-block;
    font-weight: bold;
    font-size: 10px;
    padding: 0;
    width: 44px;
    text-align: center;
    margin: 0 1px;
    color: #fff;
    float: left;
    text-decoration: none;

    &:before {
      display: block;
      position: relative;
      left: auto;
      top: auto;
      float: none;
      padding: 10px 0 22px 0;
      margin: 0 0 -10px 0;
      font-size: 26px;
      display: block;
      text-align: center;
      color: #fff;
    }

    &:hover, &:hover:before {
      color: #fff;
      text-shadow: 0 0 15px rgba(255,255,255,0.8);
    }

    &.disabled, &.disabled:before {
      pointer-events: none;
      color: lighten($header-light,10%);
    }
  }

  #tune-in {
    padding: 8px 0 10px;
    margin: -10px -6px 0 4px;
    width: 55px;
    color: lighten($header-color, 25%);
    background: rgba(0,0,0,0.1);

    &:hover { background: rgba(0,0,0,0.05); }
    &:before { color: lighten($header-color, 25%); }

    &.live {
      background: rgba(255,255,255,0.2);
      color: #fff;
      &:before { color:#fff; }
      &:hover { background: rgba(255,255,255,0.3); }
    }
  }
}

#player-live {
  position: fixed;
  top: $header-height;
  right: 0;
  margin-top: -25px;
  z-index: 100;
  @include transition(all ease-in 0.2s);

  &.subscribed {
    margin-top: 0;
  }

  a {
    display: inline-block;
    color: #fff;
    padding: 8px 10px;
    margin: 0;
    line-height: .7em;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    border-bottom-left-radius: 4px;
    background: rgba(0,0,0,0.5);
  }
}

#friends {
  width: 160px;

  a {
    color: #555;
  }

  .online a {
    color: #fff;
  }
}

/* navbar fade in colors */
#navbar {
  h1 {color: #4c4c4c;}
  a  {color: #777777;
    &.secondary  { color: #4c4c4c; }
    &:before     { color: #6c6c6c; } }
  #navbar-friends {
    .friend-link { color: #7f7f7f; }
    .online a    { color: #e0e0e0; }
    .tune-in     { color: #5a5a5a; } }
}

#navbar:hover {
  h1 {color: #777;}
  a  {color: #ccc;
    &.secondary  { color: #777; }
    &:before     { color: #999; } }
  #navbar-friends {
    .friend-link { color: #aaa; }
    .online a    { color: #fff; }
    .tune-in     { color: #888; } }
}

#navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  width: $navbar-width;
  padding: 0;
  background: $navbar-bg;
  overflow: hidden;
  @include box-sizing(border-box);

  &:before {
    content: "";
    display: block;
    position: fixed;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: $navbar-width;
    @include linear-gradient($navbar-bg, darken($navbar-bg, 10%));
  }

  #navbar-menus {
    margin-right: -20px;
    padding-right: 20px;
    overflow: hidden;
    overflow-y: scroll;
    @include box-sizing(border-box);
  }

  #navbar-menus-inner {
    padding-top: $header-height + 35px;
  }

  h1 {
    font-size: 12px;
    font-weight: 300;
    padding: 3px 10px;
    margin: 0;
  }

  a {
    position: relative;
    display: block;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    padding: 4px 12px 4px 31px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    @include box-sizing(border-box);
    @include transition(all .1s linear);

    &:hover { background: rgba(0,0,0,0.5); }
    &:before {
      padding-left: 5px;
      font-size: 14px;
    }

    &.active {
      color: #fff;
      background: $body-bg;
      &:before { color:#fff; }
    }

    span {
      position: absolute;
      padding: 0 6px;
      top: 4px;
      right: 10px;
      font-size: 12px;
      color: #fff;
      background: #6a0007;
      float: right;
      text-align: center;
      min-width: 22px;
      border-radius: 20px;
      @include box-sizing(border-box);
    }
  }

  section {
    display: block;
    position: relative;
    z-index: 1;
    margin: 5px 0 0 0;
  }

  .nav-user {
    img {
      top: 7px;
      left: 9px;
      position: absolute;
      width: 14px;
      height: 14px;
    }
  }

  .nav-extra {
    margin-top: 10px;
    a { padding-left: 10px; }
  }

  #navbar-friends {
    margin-top: 10px;
    border-top: 1px solid $body-dark;
    width: $navbar-width + 20;
    background: rgba(0,0,0,0.1);

    h1 {
      background: rgba(0,0,0,0.1);
      font-weight: bold;
      margin-bottom: 4px;
    }

    #navbar-friends-inner {
      overflow-x: hidden;
      overflow-y: scroll;
    }

    div { position: relative; }
    #nav-friends { color: #777; }

    .friend-link {
      margin-left: 0;
      margin-right: 0;
      padding: 3px 20px 3px 10px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 12px;
      position: relative;

      &.active {
        background: $primary;
        color: #fff;
      }
    }

    .online .tune-in { display: block; }
    .tune-in {
      display: none;
      position: absolute;
      z-index: 100;
      top: 0;
      right: 20px;
      padding: 3px 5px;
      font-size: 11px;
      font-style: normal;
    }
  }
}

#body {
  margin-left: $navbar-width;
  overflow: hidden;
  padding: 10px 0 10px 0;
  position: relative;
  z-index: 2;

  #breadcrumbs {
    background: lighten($body-dark, 1%);
    padding: 6px 20px;
    margin: -10px 0 10px 0;
    font-size: 12px;

    a {
      color: #aaa;
      text-decoration: none;
      float: left;

      &:hover {
        color: #fff;

        &.after:after {
          color: #aaa;
        }
      }

      &.highlight {
        color: #ccc;
        font-weight: 400;
        &:after {color: #aaa;}
      }

      &.after:after {
        display: inline-block;
        padding: 0 5px;
        margin: -2px 0 0;
        font-size: 10px;
        content: ">";
      }
    }
  }
}

$placeholder-color: #999;

#query:-moz-placeholder {
  color: $placeholder-color;
}

#query::-webkit-input-placeholder {
  color: $placeholder-color;
}

#search-form {
  margin: 0 0 6px 0;
  position: fixed;
  top: $header-height;
  left: 0;
  z-index: 200;

  #query {
    border: none;
    padding: 6px 4px 7px 26px;
    width: $navbar-width;
    margin: 0;
    color: $placeholder-color;
    outline: none;
    font-size: 12px;
    background: darken($navbar-bg, 5%);
    @include box-sizing(border-box);
    @include transition(all .1s linear);

    &.focused {
      width: $navbar-width * 2;
    }

    &:hover {
      color: #fff;
    }

    &:focus {
      color: #fff;
    }
  }

  #search {
    background: none;
    border: none;
    pointer-events: none;
    cursor: text;
    position: absolute;
    left: 6px;
    top: 5px;
    font-size: 16px;
    color: #999;
    text-shadow: none;
    padding: 0;
    box-shadow: none;

    &:hover { color: #fff; }
  }
}

header #second-nav {
  display: none;
}

.pictos, .button span, .playlist .follow-station, .playlist time:after {
  font-family: 'Pictos';
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

[class*="pictos-"] {
  position: relative;
}

[class*="pictos-"]:before {
  font-weight: normal;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 12px;
  font-family: 'Pictos';
  -webkit-font-smoothing: antialiased;
}

.pictos-play:before {content: "4";}
.pictos-pause:before {content: "5";}
.pictos-key:before {content: "K";}
.pictos-info:before {content: "i";}
.pictos-write:before {content: "W";}
.pictos-gear:before {content: "y";}
.pictos-help:before {content: "h";}
.pictos-user:before {content: "U";}
.pictos-users:before {content: "g";}
.pictos-download:before {content: "~";}
.pictos-up:before {content: "{";}
.pictos-down:before {content: "}";}
.pictos-refresh:before {content: "1";}
.pictos-heart:before {content: "k";}
.pictos-star:before {content: "S";}
.pictos-music:before {content: "m";}
.pictos-add:before,  {content: "+";}
.pictos-remove:before {content: "-";}
.pictos-share:before {content: "R";}
.pictos-list:before {content: "l";}
.pictos-cart:before {content: "$";}
.pictos-newspaper:before {content: "N";}
.pictos-eye:before {content: "E";}
.pictos-comment:before {content: "w";}
.pictos-comments:before {content: "q";}
.pictos-shuffle:before {content: ";";}
.pictos-repeat:before {content: "r";}
.pictos-link:before {content: "j";}
.pictos-clock:before {content: "t";}
.pictos-cart:before {content: "$";}
.pictos-check:before {content: "3";}
.pictos-volume-on:before {content: ">";}
.pictos-volume-off:before {content: "<";}
.pictos-time:before {content: "t";}
.pictos-inbox:before {content: "I";}
.pictos-globe:before {content: "G";}
.pictos-pulse:before {content: "Y";}
.pictos-lense:before {content: "L";}
.pictos-forward:before {content: "]";}
.pictos-period:before,
.pictos-normal:before {content: ".";}

#main-mid a[href^="http://"] {
  padding-right: .4em;

  &:after {
    content: "A";
    display: inline-block;
    font-family: 'Pictos';
    padding: 0 0 0 .3em;
    -webkit-font-smoothing: antialiased;
  }
}

#main-mid a.no-external:after {
  display: none;
}

#share {
  width: 163px;

  a {
    float: left;
    background: none;
    padding: 9px;

    &:nth-child(4n) { clear: left; }
    &:hover, &.hover { background: $body-bg; }
    &.pictos { font-size: 24px; padding: 16px; }
  }

  img { width: 32px; height: 32px; }

  form {
    width: 160px;
    .input-text, input[type="text"] {
      width: 128px;
      margin: 10px;
    }
  }

  #share-link-container {
    position: relative;
  }

  #share-friends {
    max-height: 200px;
    overflow-y: scroll;
    clear: both;

    &:before {
      content: "Send to a friend";
      display: block;
      font-weight: 400;
      text-align: center;
    }

    a {
      float: none;
      padding: 2px 4px;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.tune-in, &#nav-friends {
        display: none;
      }

      img {display: none;}
    }
  }
}

/* Share buttons */

.player-invite {
  margin: 0;
  padding: 6px;
  font-weight: 400;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  position: relative;
  z-index: 1000;
  border: none;
  box-shadow: none !important;
  background: $green;
  line-height: .4em;
  font-weight: bold;

  &.hover {
    background: $light-green;
  }
}

.login-button {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin: 0 5px;
  font-size: 16px;
  padding: 8px 16px;
  padding-bottom: 12px;
}

.player-invite-favorite {
  @include background-gradient($like-light, $like-color);
  &:hover { background: $like-light !important; }
}

.facebook-button, .twitter-button {
  background: #2d4486;
  &:hover { background: #425699; }
}

.twitter-button {
  background: #4b8fa9;
  &:hover { background: #54a0be; }
}

.third .play-button {
  width: $play-button-small;
  height: $play-button-small;

  &:before {
    font-size: 20px;
    top: 8px;
    left: 10px;
  }
}

#modal-new-user {
  input {
    margin: 0 0 20px 0;
    width: 100%;
    @include box-sizing(border-box);
  }
}

.friends-list {
  margin: 0 0 20px 0;
  overflow: scroll;
  text-align: left;
}

#more-artists {
  position: absolute;
  top: 90px;
  right: 130px;
  font-size: 22px;
  color: #fff;

  &:hover {
    @include box-shadow(none !important);
  }
}


/* Welcome */
#welcome {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 10000;
  @include linear-gradient(#333, #222);
  @include box-shadow(0 0 10px rgba(0,0,0,0.7));

  &.active {
    display: block;
  }

  &:after {
    visibility: visible;
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: rgba(0,0,0,0.15);
  }

  section {
    height: 26px;
    margin: 0 0 -6px 0;
    padding: 10px 0 0;
    overflow: hidden;
    position: relative;

    h1 {
      color: #fff;
      font-size: 24px;
      margin: 0 0 6px 0;
      position: absolute;
      bottom: -28px;
      left: 0;
      opacity: 0;
      @include transition(all .3s linear);

      &.in {
        bottom: 0;
        opacity: 1;
      }

      &.out {
        top: 48px;
        opacity: 0;
      }
    }
  }

  small {
    font-size: 15px;
    margin: -6px 0 5px;
    display: block;
    color: lighten($header-color,50%);
  }

  .button {
    position: absolute;
    top: 30px;
    right: 20px;
  }

  #close-welcome {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    font-size: 18px;
    color: #fff;
  }
}



/* NOTICES */

#dialog {
  position: fixed;
  z-index: 220;
  text-align: center;
  background: rgba(0,0,0,0.8);
  color: $light-yellow;
  width: 100%;
  padding: 10px 0;
  margin: 0;
  top: $header-height;
  left: 0;
  font-size: 18px;
  overflow: hidden;
}



/* Lists */
.list {
  margin: -15px 0 25px 0;
  padding: 0;

  section, li {
    padding: 4px 0;
    margin: 0;
    border: none;
    height: auto;
    float: none;
    list-style: none;
    white-space: nowrap;
    line-height: 1.2em;

    div {
      display: inline-block;
      margin: 0 0 -9px 0;
    }

    .image {float: left; padding: 0; border: none; background: none;}
    img { width: 24px; margin: 4px 6px -6px 0; }

    h4 {
      margin: 0;
      display: inline-block;
      line-height: 16px;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;

      a { text-decoration: none; }
    }

    p {
      font-size: 12px;
      color: #666;
      margin-bottom: 0;
      height: 3.5em;
      overflow: hidden;
    }
  }
}

#body .horizontal-list {
  margin: -10px -20px 20px;
  padding: 6px 20px;
  background: rgba(0,0,0,0.2);
  white-space: nowrap;
  overflow: hidden;
  color: #ccc;
  font-size: 11px;
  font-weight: bold;

  h3 {
    margin: 0 10px 0 0;
    padding: 4px 0;
    font-size: 12px;
    font-weight: bold;
    float: left;
    color: #aaa;
    line-height: 1em;
  }

  span {
    border-right: 1px solid rgba(255,255,255,0.1);
    padding: 0 10px;

    &:last-child {
      border: none;
    }
  }

  .list {
    float: left;
    margin: -2px 0 0;

    section {
      padding: 0;
      margin: 0 20px 5px 0;
      float: left;

      img {
        margin-top: 2px;
        border-radius: 30px;
      }
    }
  }
}

.half .list {
  section {
    float: left;
    display: inline-block;
    margin-right: 20px;
  }
}

$announce-bg: $body-bg;
$announce-color: $heading-color;

.announce {
  z-index: 1000;
  background: $announce-bg;
  color: $announce-color;
  font-size: 12px;
  font-weight: bold;
  padding: 6px;
  padding-left: 25px;
  margin: 0;
  text-decoration: none;
  @include box-sizing(border-box);

  &.maconly {
    display: none;
  }

  &.ismac {
    display: block;
  }

  &.primary {
    display: none;
    position: relative;
    border-top: none;
    padding: 14px 10px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5em;

    strong {
      font-size: 12px;
      display: block;
    }
  }

  &:hover {
    background: darken($announce-bg,4%);
    color: $announce-color;
  }

  &:before {
    color: #666;
    font-size: 14px;
    margin: 2px 0 0 3px;
  }
}

.title {
  padding: 0 20px;
  margin: 0 0 20px;
  color: #999;
  position: relative;

  &.invisible {
    visibility: hidden;
  }

  h1 {
    margin-top: 5px;
    margin-bottom: 10px;

    &.icon {margin-right: 300px;}
  }

  .image {
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 10;
  }

  .medium {
    width: 128px;
    height: 128px;
  }

  a {
    text-decoration: none;
  }

  p {
    font-size: 14px;
    margin: 8px 0 20px;
  }

  small {
    font-size: 13px;
    font-weight: normal;
  }

  .title-nav {
    position: absolute;
    margin: 5px 0 0;
    top: 0;
    right: 165px;

    ul { margin-top: 14px; }
    li {
      list-style: none;
      padding: 0;

      &.right {
        margin-left: 6px;
        margin-right: 0;
        float: right;
      }

      a {
        float: right;
      }

      .count {
        float: left;
        padding: 4px;
        margin-right: 8px;
        font-size: 16px;
        font-weight: normal;
      }
    }
  }
}

.title.fixed {
  position: fixed;
  top: $header-height;
  left: $navbar-width;
  right: 0;
  z-index: 300;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba($body-light, 0.85);
  @include box-shadow(0 2px 0 rgba(0,0,0,0.2));

  .nav-meta {
    display: none;
  }

  h1 {
    font-size: 32px;
    margin-bottom: 0;
    margin-top: 0;
  }

  #page-follow {
    top: 10px;
    right: 110px;
  }

  .nav-menu {
    margin: 0 -10px;
    padding-left: 0;
    padding-right: 0;
    background: none;

    a {
      padding-top: 4px;
      padding-bottom: 4px;
      font-size: 14px;
    }
  }

  .image {
    top: 10px;
  }

  .medium {
    width: 76px;
    height: 76px;
  }
}

.nav-meta {
  padding: 3px 0;
  margin: -12px 0 12px -14px;
  overflow: hidden;
  list-style: none;

  li {
    padding: 3px 15px;
    margin: 0 0 0 -1px;
    float: left;
    position: relative;
    color: #888;

    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 2px;
      bottom: 2px;
      left: 0;
      width: 1px;
      background: $body-lighter;
    }
  }
}

.nav-menu {
  display: block;
  margin: -8px -20px 12px -20px;
  overflow: hidden;
  padding: 8px 20px 8px 10px;
  padding-right: 178px;
  background: $body-dark;

  &.inline {
    margin-top: -2px;
  }

  &.right {
    position: absolute;
    top: 0;
    right: 20px;
  }

  a {
    text-decoration: none;
    float: left;
    padding: 12px 10px;
    margin: -8px 0;
    font-size: 16px;
    color: #ccc;

    &:first-child {
      border: none;
    }

    &.active {
      color: #fff;
      font-weight: bold;
    }

    &:hover {
      color: $link-hover;
    }
  }
}

h2.nav-menu {
  margin-bottom: 4px;
  margin-left: -10px;
  margin-top: 0;
}

.section {
  clear: both;
  display: none;

  &.active {
    display: block;
  }
}

h2 small { font-size: 55%; }

.sub {
  font-size: 14px;
  background: #345b52;
  padding: 8px 20px;
  margin: -4px -20px 15px;
  color: #ddd;
  strong {font-size: 18px; display:block; margin:0 0 10px 0;}
}

.follow-station {
  float: left;
}

.count {
  float: left;
  color: #aaa;
  position: relative;
  z-index: 0;
  margin: 2px 0 0 0;
  padding: 6px;
  padding-left: 16px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  @include border-right-radius(6px);
}


/* Subnav */
.subnav {
  display: inline-block;
  margin: 0 20px 20px 0;
  background: rgba(0,0,0,0.1);
  padding: 0 5px 0 20px;
  width: 100%;
  @include box-sizing(border-box);

  li {
    float: left;
    list-style: none;

    a {
      float: left;
      padding: 7px;
      line-height: 1.4em;
      font-size: 12px;
      font-weight: 300;
      text-decoration: none;
      color: #fff;
    }
  }
}

.whole .subnav {
  margin-left: -20px;
  margin-bottom: 10px;
}


/* NAVIGATION AND PAGINATION */

.playlist .next-page {
  margin-top: 30px;
}

.next-page {
  display: block;
  color: #ccc;
  font-size: 14px;
  text-align: center;
  margin: -170px 0 800px;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  pointer-events: none;
  border-radius: 8px;

  &.loading {
    color: #999;
    pointer-events: none;
    cursor: normal;
  }

  &.loaded {
    margin-bottom: 30px;
  }
}

/* Nav menus */

$nav-pad: 15px;
$nav-item-pad: 4px;
$nav-arrow-size: 5px;

.pop-menu, .mp_list {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: -3px;
  z-index: 10000;
  padding: $nav-item-pad 4px;
  background: rgba(0,0,0,0.9);
  max-width: 250px;
  font-weight: bold;
  border-radius: 5px;
  @include box-shadow(0 0 10px rgba(0,0,0,0.8));

  &.right-align {
    margin-left: 0;

    &:before {
      left: auto;
      margin: 0;
      right: $nav-arrow-size + 40;
    }
  }

  &.open {
    display: block;
  }

  &:before {
    display: block;
    content: "";
    position: absolute;
    top: -$nav-arrow-size + 1;
    left: 50%;
    margin-left: -$nav-arrow-size;
    width: 0;
    height: 0;
    border-left: $nav-arrow-size solid transparent;
    border-right: $nav-arrow-size solid transparent;
    border-bottom: $nav-arrow-size solid black;
  }

  .header, h4 {
    text-transform: uppercase;
    color: rgba(255,255,255,0.8);
    font-size: 10px;
    margin: $nav-item-pad*3 0;
    padding: 0 $nav-pad;
  }

  li, a {
    color: #fff;
    display: block;
    padding: $nav-item-pad $nav-pad;
    font-size: 12px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &[class*="2s-"] {
      padding-left: 18+$nav-pad;
      line-height: .9em;
    }

    &[class*="pictos-"]:before {
      padding-left: -5+$nav-pad;
      padding-top: 4px;
    }
  }

  img {
    width: 18px;
    height: 18px;
    margin-right: 4px;
  }

  li.mp_selectable { cursor: pointer; }

  li.mp_highlighted,
  a:hover,
  .playing {
    @include linear-gradient($header-light,$header-color);
  }
}

/* Ordered list for display results. */
ol.mp_list {
  line-height: 1.4em;
  position: absolute;
  width: 100%;
  top: 25px;
  z-index: 99999;
  left: 0;
  padding-top: 0;
  margin: 15px 0 0 10px;

  li {
    list-style: none;
    margin: 0;
  }
}


/* PAGE LAYOUT */
.third, .twothirds,
.fourth, .half,
.whole, .section {
  padding: 0 20px;
  position: relative;
  @include box-sizing(border-box);
}

.section {
  padding: 0;
}

.contain {
  position: relative;
  clear: both;
  margin-bottom: 20px;
}

.whole {
  clear: both;
}

.half {
  width: 50%;
  float: left;
}

.greater {
  width: 65%;
  float: left;
}

.lesser {
  width: 35%;
  padding: 0 10px;
  float: left;
  @include box-sizing(border-box);
}

.twothirds-wrap {
  width: 100%;
  float: left;
  margin-right: -$third-width - 1;
}

.twothirds {
  margin-right: 1 + $third-width;
}

.third {
  float: left;
  width: $third-width;
  padding-left: 0;
}

.third, .twothirds, .fourth, .half, .whole {
  .third, .twothirds, .fourth, .half, .whole {
    margin-left: 0;
  }
}

.feature {
  clear: both;
  padding: 20px;
  border: 1px solid #eee;
  border-right: none;
  border-left: none;
}

#spinner {
  position: absolute;
  z-index: 1000;
  left: 80px;
  top: 20px;
}

.separator {
  display: block;
  text-align: center;
  margin: 10px 0;
}

/* Image Covers */
.cover-tiny {
  position: relative;
  width: 24px;
  height: 24px;
}

.cover-icon {
  position: relative;
  width: 32px;
  height: 32px;
}

.cover-small {
  position: relative;
  width: 64px;
  height: 64px;
}

.cover-96 {
  position: relative;
  width: 96px;
  height: 96px;
}

.cover-medium {
  position: relative;
  width: 256px;
  height: 256px;
}

.image:hover .upload-avatar { display: block; }
.upload-avatar {
  display: none;
  position: absolute;
  bottom: 2px;
  right: 2px;
  z-index: 12;
  text-align: center;
  padding: 0 6px;
  font-size: 11px;
  color: #fff;
  background: $body-dark;
  border-radius: 4px;
  border: 1px solid $body-darker;
  font-weight: bold;
  @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.1));
  @include box-sizing(border-box);

  &:hover {
    background-color: $body-lighter;
  }
}

#song-dragger {
  display: none;
  position: fixed;
  font-family: 'Pictos';
  width: 28px;
  height: 28px;
  padding-top: 5px;
  margin: -28px 0 0 -28px;
  background: darken($primary, 20%);
  color: #fff;
  font-size: 16px;
  z-index: 100000;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  @include box-sizing(border-box);

  &.visible {
    display: block;
  }
}


#begin {
  display: none;
  padding: 12px 20px;
  margin: -20px 0 20px 0;
  position: relative;
  @include background-gradient(rgba(255,255,255,0.1),transparent);

  #suggestions {
    display: none;
  }

  #tags {
    display: none;
    background: #fff;
    margin: 0;
    padding: 3px 12px 2px;
    font-size: 14px;
    width: 100%;
    border: 1px solid #ddd;
    color: #999;
    cursor: text;
    border-radius: 50px;
    @include box-shadow(none);
    @include box-sizing(border-box);

    &.focus {
      color: #000;
    }

    &.tagit {
      display: block;
    }
  }

  #create-station {
    position: absolute;
    right: 25px;
    top: 17px;
    margin: 0;
    padding: 3px 10px;
    text-shadow: none;
    font-size: 12px;

    &:hover {
      color: #fff;
      border-color: darken($green, 10%);
      border-radius: 20px;
      @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.3));
      @include background-gradient(lighten($green, 10%), $green);
    }
  }

  .close {
    position: absolute;
    top: -18px;
    right: 20px;
    color: #aaa;
    font-size: 17px;
  }
}

/* Tagit */
ul.tagit.focus span.tagit-placeholder,
ul.tagit.hasTags span.tagit-placeholder {
  display:none;
}

ul.tagit span.tagit-placeholder {
  position: absolute;
  z-index: 0;
}

ul.tagit li {
  display: block;
  float: left;
  margin: 2px 5px 2px 0;
  white-space: nowrap;
}
ul.tagit li.tagit-choice {
  padding: .2em 20px .2em .5em;
  position: relative;
  line-height: inherit;
}
ul.tagit li.tagit-new {
  padding: .25em 4px .25em 0;
}

ul.tagit li.tagit-choice a.tagit-label {
  cursor: pointer;
  text-decoration: none;
}
ul.tagit li.tagit-choice .tagit-close {
  color: #ccc;
  cursor: pointer;
  position: absolute;
  right: .1em;
  top: 50%;
  margin-top: -8px;
}

/* used for some custom themes that don't need image icons */
ul.tagit li.tagit-choice .tagit-close .text-icon {
    display: none;
}

ul.tagit li.tagit-choice input {
    display: block;
    float: left;
    margin: 2px 5px 2px 0;
}
ul.tagit input[type="text"] {
    width: inherit;
    min-width: 300px;
    border: none;
    margin: 0;
    padding: 0;
    background-color: inherit;
    outline: none;
    @include box-sizing(border-box);
}

/* Pictos Font
* Copyright © 2010 Drew Wilson
* http://www.drewwilson.com  -  http://pictos.drewwilson.com
*
* The fonts included in this stylesheet are subject to the End User License you purchased
* from Drew Wilson. The fonts are protected under domestic and international trademark and
* copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
* distributing this font software.
*
* This font is NOT free. It is illegal to use this font without paying for a license.
*/
@font-face {
    font-family: 'Pictos';
    src: url('/fonts/pictos-web.eot');
    src: local('☺'), url('/fonts/pictos-web.woff') format('woff'), url('/fonts/pictos-web.ttf') format('truetype'), url('/fonts/pictos-web.svg#webfontIyfZbseF') format('svg');
    font-weight: normal;
    font-style: normal;
}

#sm2-container,
#sm2-container.swf_unblocked {
  position: absolute;
  top: -5000px;
  left: -5000px;
  z-index: 100000;
}

#sm2-container.swf_timedout {
  left: 50%;
  height: 50%;
  border: 4px solid red;
}

#null {display:none;}