@import "mixins.css.scss";

form div:after { content: ""; display: none; }
div:after, ul:after, form:after, form p:after, section:after,
h2:after, h3:after {
    content: ".";
    display: block;
    overflow: hidden;
    height: 0;
    clear: both;
    visibility: hidden;
    line-height: 0em;
}

* { -webkit-tap-highlight-color: rgba(0,0,0,0); }
body, button, input, select, textarea, #navbar h1 {
  font: 13px/21px 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #bbb;
}

::selection { background: #000; }
::-moz-selection { background: #000; }
::-moz-focus-inner { border: 0; }

/* Layout */
html,body {height: 100%;}
body {
  position: relative;
  font-weight: 300;
  max-width: $max-width;
  min-width: $min-width;
}

p {
  font-weight: 400;
}

a {
  outline: 0;
  color: $link-color;
  @include transition(color .1s linear);
}

a:hover { color: $link-hover; }
a:focus { outline:none; }
a:active,
a:visited { outline: 0; }

hr { border: none; border-bottom: 2px solid rgba(255,255,255,0.1); margin: 2em 0; }
br { clear: both; }

#main-mid {
  padding: $header-height 0 0;
  min-height: 100%;
  position: relative;
}

.page-contain {
  position: relative;
}

/* HEADING AND TEXT STYLES */

h1 { font-size: 34px; }
h2 { font-size: 32px; }
h3 { font-size: 18px; }
h4 { font-size: 14px; }
h5 { font-size: 14px; }

h1, h2, h3, h4, h5 {
  line-height: 1.4em;
  padding: 0;
  margin: 15px 0;
  font-weight: 300;
  color: $heading-color;

  &.inline {
    display: inline-block;
    float: left;
  }

  a { text-decoration: none; }

  small {
    font-size: .8em;
    color: #aaa;

    a { color: rgba(255,255,255,0.3); }
  }
}

h1 span { font-size: 26px; }

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: $header-height;
  min-width: $min-width;
  line-height: 1em;
  @include box-shadow(0 3px 0 rgba(0,0,0,0.2));
  @include box-sizing(border-box);
  @include user-select(none);

  /* logo */
  h1 {
    position: absolute;
    top: 2px;
    left: 0;
    margin: -12px 0 0 -5px;

    a {
      background: url(/images/2ufm.png) no-repeat -2px 3px;
      background-size: 80px 72px;
      width: 86px;
      height: $header-height + 10;
      overflow: hidden;
      text-indent: -3000em;
      display: block;
      @include transition(all ease-in .2s);

      &:hover {
        background-color: rgba(0,0,0,0.15);
      }
    }
  }

  nav {
    position: absolute;
    top: 24px;
    right: 220px;
    z-index: 200;

    a {
      font-size: 22px;
      color: rgba(255,255,255,0.8);
      padding: 4px;
      margin: -4px;
      float: left;
      margin-right: 10px;

      &:hover {
        color: #fff !important;
      }

      &#nav-music {
        margin-top: -5px;
      }

      &.disabled {
        color: rgba(0,0,0,0);
        cursor: default;
      }
    }
  }
}

#more-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 81px;
  width: 16px;
  overflow: hidden;
  text-indent: 100em;

  &:hover {
    background: rgba(0,0,0,0.1);
  }

  &:before {
    border: 5px solid transparent;
    border-top-color: rgba(255,255,255,0.5);
    width: 0;
    height: 0;
    position: absolute;
    content: "";
    pointer-events: none;
    top: 28px;
    left: 3px;
  }
}


#mobile-nav {
  display: none;
}

.notifications {
  position: absolute;
  background: $light-red;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  padding: 4px 6px 3px;
  z-index: 10;
  line-height: 1em;
  border-radius: 32px;
}

#buttons .notifications {
  border: 2px solid transparent;
}

#nav-user .notifications {
  top: 5px;
  right: 5px;
  background: #fff;
  color: #000;
}

#friends {
  width: 160px;

  a {
    color: #555;
  }

  .tune-in,
  #nav-friends {
    display: none;
  }

  .online a {
    color: #fff;
  }
}

#body {
  margin-left: $navbar-width;
  overflow: hidden;
  padding: 10px 0 0;
  position: relative;
  z-index: 2;

  &:before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    content: "";
    display: block;
    z-index: 50;
  }

  #breadcrumbs {
    padding: 5px 20px;
    margin: 0;
    font-size: 12px;
    width: 260px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    a {
      color: #aaa;
      text-decoration: none;

      &:hover {
        color: #fff;

        &.after:after {
          color: #aaa;
        }
      }

      &.highlight {
        color: #ccc;
        font-weight: 400;
        &:after {color: #aaa;}
      }

      &.after:after {
        display: inline-block;
        padding: 0 5px;
        margin: -2px 0 0;
        font-size: 10px;
        content: ">";
      }
    }
  }
}

$placeholder-color: #999;

#query:-moz-placeholder {
  color: $placeholder-color;
}

#query::-webkit-input-placeholder {
  color: $placeholder-color;
}

::-webkit-input-placeholder { color: rgba(255,255,255,0.1); }
:-moz-placeholder { color: rgba(255,255,255,0.2); }
:-ms-input-placeholder { color: rgba(255,255,255,0.2); }

#search-form {
  position: absolute;
  z-index: 10;
  top: $header-height + 12;
  right: 20px;
  left: $navbar-width + 320;

  #query {
    border: none;
    padding: 5px 4px 6px 34px;
    width: 100%;
    margin: 0;
    color: $placeholder-color;
    outline: none;
    line-height: 1em;
    font-size: 14px;
    background: rgba(0,0,0,0.3);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.12);
    @include box-sizing(border-box);
    @include transition(all .1s linear);

    &.focused {
      background: rgba(0,0,0,0.9);
    }

    &:hover { color: #fff; }
    &:focus { color: #fff; }
  }

  #search {
    background: none;
    border: none;
    pointer-events: none;
    cursor: text;
    position: absolute;
    left: 12px;
    top: 4px;
    font-size: 18px;
    color: rgba(255,255,255,0.75);
    text-shadow: none;
    padding: 0;
    box-shadow: none;

    &:hover { color: #fff; }
  }
}

header #second-nav {
  display: none;
}

#main-mid a[href^="http://"] {
  padding-right: .4em;

  &:after {
    content: "A";
    display: inline-block;
    font-family: 'Icon';
    padding: 0 0 0 .3em;
    -webkit-font-smoothing: antialiased;
  }
}

#main-mid a.button[href^="http://"],
#main-mid .song-controls a,
#main-mid #recaptcha_area a {
  &:after { display:none; }
}

#main-mid a.no-external:after {
  display: none;
}

#share {
  width: 163px;

  a {
    float: left;
    background: none;
    padding: 6px;

    &.icon {
      font-size: 24px;
      width: 50px;
      height: 50px;
      padding: 14px;
      @include box-sizing(border-box);
    }

    &:nth-child(4n) { clear: left; }
    &:hover, &.hover { background: rgba(255,255,255,0.15); }
    &.player-invite { padding: 8px 10px;
      img { margin:0; }}
  }

  img { width: 32px; height: 32px; }

  form {
    width: 160px;
    .input-text, input[type="text"] {
      width: 128px;
      margin: 10px;
    }
  }

  #share-link-container {
    display: inline-block;
    position: relative;
  }

  #share-friends {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    clear: both;

    a {
      float: none;
      padding: 2px 4px;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.tune-in, &#nav-friends {
        display: none;
      }

      img {display: none;}
    }
  }
}

/* Share buttons */

.player-invite {
  margin: 0;
  padding: 6px;
  font-weight: 400;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  position: relative;
  z-index: 1000;
  border: none;
  box-shadow: none !important;
  background: $green;
  line-height: .4em;
  font-weight: bold;

  &.hover {
    background: $light-green;
  }
}

.login-button {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin: 0 5px;
  font-size: 16px;
  padding: 8px 16px;
  padding-bottom: 12px;
}

.player-invite-favorite {
  @include background-gradient($like-light, $like-color);
  &:hover { background: $like-light !important; }
}

.facebook-button, .twitter-button {
  background: #2d4486;
  &:hover { background: #425699; }
}

.twitter-button {
  background: #4b8fa9;
  &:hover { background: #54a0be; }
}

.third .play-button {
  width: $play-button-small;
  height: $play-button-small;

  &:before {
    font-size: 20px;
    top: 8px;
    left: 10px;
  }
}

#modal-new-user {
  input {
    margin: 0 0 20px 0;
    width: 100%;
    @include box-sizing(border-box);
  }
}


/* NOTICES */

#dialog {
  position: fixed;
  z-index: 220;
  text-align: center;
  background: rgba(0,0,0,0.8);
  color: $light-yellow;
  width: 100%;
  padding: 10px 0;
  margin: 0;
  top: $header-height;
  left: 0;
  font-size: 18px;
  overflow: hidden;
}

$announce-bg: #333;
$announce-color: $heading-color;

.announce {
  z-index: 1000;
  background: $announce-bg;
  color: $announce-color;
  font-size: 12px;
  font-weight: bold;
  padding: 6px;
  padding-left: 25px;
  margin: 0;
  text-decoration: none;
  @include box-sizing(border-box);

  &.maconly {
    display: none;
  }

  &.ismac {
    display: block;
  }

  &.primary {
    display: none;
    position: relative;
    border-top: none;
    padding: 14px 10px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5em;

    strong {
      font-size: 12px;
      display: block;
    }
  }

  &:hover {
    background: darken($announce-bg,4%);
    color: $announce-color;
  }

  &:before {
    color: #666;
    font-size: 14px;
    margin: 2px 0 0 3px;
  }
}

.nav-meta {
  padding: 3px 0;
  margin: 1px 0 10px -10px;
  overflow: hidden;
  list-style: none;
  font-size: 14px;

  li {
    padding: 3px 15px;
    margin: 0 0 0 -1px;
    float: left;
    position: relative;
    color: rgba(255,255,255,0.4);

    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 2px;
      bottom: 2px;
      left: 0;
      width: 1px;
      background: rgba(255,255,255,0.1);
    }
  }
}

h2 small { font-size: 55%; }

.sub,
.title .sub {
  font-size: 16px;
  font-weight: 300;
  color: rgba(255,255,255,0.8);
  padding: 8px 20px;
  margin: 0 -20px 0;
  strong {font-size: 18px; display:block; margin:0 0 10px 0;}
  a {color:#fff;}
}

.follow-station {
  float: left;
}

.count {
  float: left;
  color: #aaa;
  position: relative;
  z-index: 0;
  margin: 0;
  padding: 6px 16px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}


/* Subnav */
.subnav {
  display: inline-block;
  margin: -5px 10px 20px 0;
  padding: 0 5px 0 20px;
  width: 100%;
  @include box-sizing(border-box);

  li {
    float: left;
    list-style: none;
  }

  a {
    float: left;
    padding: 4px 7px;
    line-height: 1.4em;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
    color: rgba(255,255,255,0.7);

    &:hover {
      color: rgba(255,255,255,0.9);
    }

    &.active {
      margin: 0 3px;
      font-weight: bold;
      color: #fff;
      background: rgba(0,0,0,0.2);
    }
  }
}

.whole .subnav {
  margin-left: -20px;
  margin-bottom: 10px;
}



.feature {
  clear: both;
  padding: 20px;
  border: 1px solid #eee;
  border-right: none;
  border-left: none;
}

#spinner {
  position: absolute;
  z-index: 100000;
  left: 80px;
  top: 20px;
}

.separator {
  display: block;
  text-align: center;
  margin: 10px 0;
}

/* Image Covers */
.cover-tiny {
  position: relative;
  width: 24px;
  height: 24px;
}

.cover-icon {
  position: relative;
  width: 32px;
  height: 32px;
}

.cover-small {
  position: relative;
  width: 64px;
  height: 64px;
}

.cover-96 {
  position: relative;
  width: 96px;
  height: 96px;
}

.cover-medium {
  position: relative;
  width: 256px;
  height: 256px;
}

.image:hover .upload-avatar { display: block; }
.upload-avatar {
  display: none;
  position: absolute;
  bottom: 2px;
  right: 2px;
  z-index: 12;
  text-align: center;
  padding: 0 6px;
  font-size: 11px;
  color: #fff;
  border-radius: 4px;
  background: rgba(20,20,20,0.8);
  border: 1px solid rgba(0,0,0,0.8);
  font-weight: bold;
  @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.1));
  @include box-sizing(border-box);

  &:hover {
    background-color: rgba(55,55,55,0.9);
  }
}

#sm2-container,
#sm2-container.swf_unblocked {
  position: absolute;
  top: -5000px;
  left: -5000px;
  z-index: 100000;
}

#sm2-container.swf_timedout {
  left: 50%;
  height: 50%;
  border: 4px solid red;
}

#null {display:none;}

/* Icon fonts */

.icon, .button span, .playlist .follow-station, .playlist time:after {
  font-family: 'Icon';
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

[class*="icon-"] {
  position: relative;
}

[class*="icon-"]:before {
  font-weight: normal;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 12px;
  font-family: 'Icon';
  -webkit-font-smoothing: antialiased;
}