@import "mixins.css.scss";

body, button, input, select, textarea {
  font: 13px/21px 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #bbb;
}

/* Layout */
html,body {height: 100%;}
body {
  background: $body-bg;
  position: relative;
  font-weight: 300;
}

p {
  font-weight: 400;
}

a { color: $link-color; @include transition(color .1s linear); }
a:hover { color: $link-hover; }

#main-mid {
  padding: $header-height $navbar-width 0 0;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
}

.page-contain, #dialog { overflow: hidden; }


/* HEADING AND TEXT STYLES */

h1 { font-size: 26px; }
h2 { font-size: 22px; }
h3 { font-size: 18px; }
h4 { font-size: 14px; }

h1, h2, h3, h4 {
  line-height: 1.4em;
  padding: 0;
  margin: 15px 0;
  font-weight: 300;
  color: $heading-color;

  &.inline {
    display: inline-block;
    float: left;
  }

  small {
    font-size: 75%;
    color: #aaa;
    font-weight: normal;

    a {
      color: #ccc;
    }
  }
}

h1 { font-weight:bold; }

h2 {
  display: inline-block;
  background: $body-darker;
  padding: 10px;
  margin: -10px;
  margin-left: -20px;
  margin-bottom: auto;
}


/* Header */
header {
  min-width: $width - 15;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 1+$header-height;
  line-height: 1em;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  background: $header-color;
  @include box-sizing(border-box);
  @include linear-gradient(left, $header-dark, $header-light);
  @include box-shadow(0 0 20px rgba(0,0,0,0.8));

  &:after {
    visibility: visible;
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
  }

  /* logo */
  h1 {
    position: absolute;
    top: 5px;
    left: 0;
    margin: -12px 0 0 -5px;

    a {
      background: url(/images/2ufm.png) no-repeat 0 0;
      width: 90px;
      height: 68px;
      overflow: hidden;
      text-indent: -3000em;
      display: block;

      &:hover {
        background-color: rgba(0,0,0,0.1);
      }
    }
  }

  nav {
    position: absolute;
    top: 24px;
    right: 220px;
    z-index: 200;

    a {
      font-size: 22px;
      color: rgba(255,255,255,0.8);
      padding: 4px;
      margin: -4px;
      float: left;
      margin-right: 10px;

      &:hover {
        color: #fff !important;
      }

      &#nav-music {
        margin-top: -5px;
      }

      &.disabled {
        color: $header-color;
        cursor: default;
      }
    }
  }
}

#navbar {
  position: fixed;
  z-index: 40;
  top: $header-height;
  right: 0;
  bottom: 0;
  width: $navbar-width;
  padding: 15px 15px 0 15px;
  @include box-sizing(border-box);

  section {
    display: block;
    position: relative;
    z-index: 1;
    margin: 0 0 20px 0;

    &.stations {
      position: absolute;
      bottom: 0;
      right: 0;
      width: $navbar-width - 20;
      max-height: 250px;
      padding: 0 0 10px 0;
      overflow: scroll;
      background: $body-bg;
      @include linear-gradient($body-dark 0%, $body-bg 10%);
    }

    &.nav-extra {
      padding-bottom: 10px;
      max-height: 400px;
      overflow-y: scroll;

      a {
        font-size: 14px;
        padding-top: 2px;
        padding-bottom: 2px;
      }
    }

    h1 {
      font-size: 12px;
      font-weight: 300;
      text-transform: lowercase;
      color: #aaa;
      padding: 0 10px;
      margin-bottom: 8px;
    }

    a {
      position: relative;
      display: block;
      text-decoration: none;
      color: $navbar-link;
      font-weight: 300;
      font-size: 21px;
      padding: 7px 10px;
      margin: 0 0 2px 0;
      @include box-sizing(border-box);
      @include transition(all .1s linear);

      &.secondary {
        color: #777;
        font-size: 12px;
      }

      &:hover {
        color: #fff;
        background: $body-dark;
        padding-left: 10px;
      }

      &.active {
        color: #fff;
        background: $body-darker;
        margin-right: -15px;
      }

      &.pictos-nav {
        padding-left: 43px;

        &:before {
          font-size: 24px;
          top: 13px;
          left: 10px;
        }
      }
    }
  }
}

#body {
  min-width: $width;
  overflow: hidden;
  padding: 20px 0;
  padding-left: $gutter-width;

  /* Gutter */
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: $gutter-width;
    background: $gutter-color;
    @include box-sizing(border-box);
  }

  #breadcrumbs {
    background: $body-dark;
    padding: 6px 20px;
    margin: -20px 20px 20px 0;
    font-size: 12px;
    @include border-bottom-right-radius(8px);

    a {
      color: #aaa;
      text-decoration: none;
      float: left;

      &:hover {
        color: #fff;

        &.after:after {
          color: #aaa;
        }
      }

      &.after:after {
        display: inline-block;
        padding: 0 5px;
        margin: -2px 0 0;
        font-size: 10px;
        content: ">";
      }
    }
  }
}

#query:-moz-placeholder {
  color: rgba(255,255,255,0.8);
}

#query::-webkit-input-placeholder {
  color: rgba(255,255,255,0.8);
}

#search-form {
  margin: 5px 0 20px;
  position: relative;

  #query {
    border: none;
    padding: 3px 30px 3px 8px;
    width: $query-width;
    margin: 0;
    color: rgba(255,255,255,0.6);
    outline: none;
    font-size: 12px;
    border: 1px solid darken($body-bg,6%);
    @include linear-gradient($body-bg,lighten($body-bg,5%));
    @include box-shadow(0 1px 0 $header-shadow);
    @include border-radius(20px);
    @include transition(all .1s linear);

    &:hover {
      @include linear-gradient(lighten($body-bg,5%),lighten($body-bg,10%));
      color: #444;
    }

    &:focus {
      background: #fff;
      color: #999;
    }
  }

  #search {
    background: none;
    border: none;
    pointer-events: none;
    position: absolute;
    right: -9px;
    top: -2px;
    font-size: 17px;
    color: rgba(0,0,0,0.2);
    text-shadow: none;
    width: 38px;
    box-shadow: none;

    &:hover { color: #fff; }
  }
}

header #second-nav {
  display: none;
}

.pictos, .button span, .playlist .follow-station, .playlist time:after {
  font-family: 'Pictos';
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

[class*="pictos-"] {
  position: relative;
}

[class*="pictos-"]:before {
  font-weight: normal;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 12px;
  font-family: 'Pictos';
  -webkit-font-smoothing: antialiased;
}

.pictos-key:before {content: "K";}
.pictos-info:before {content: "i";}
.pictos-write:before {content: "W";}
.pictos-gear:before {content: "y";}
.pictos-help:before {content: "h";}
.pictos-user:before {content: "U";}
.pictos-users:before {content: "g";}
.pictos-download:before {content: "~";}
.pictos-up:before {content: "{";}
.pictos-down:before {content: "}";}
.pictos-refresh:before {content: "1";}
.pictos-heart:before {content: "k";}
.pictos-star:before {content: "S";}
.pictos-music:before {content: "m";}
.pictos-add:before {content: "+";}
.pictos-remove:before {content: "-";}
.pictos-share:before {content: "R";}
.pictos-list:before {content: "l";}
.pictos-cart:before {content: "$";}
.pictos-newspaper:before {content: "N";}
.pictos-eye:before {content: "E";}
.pictos-comment:before {content: "w";}
.pictos-comments:before {content: "q";}
.pictos-shuffle:before {content: ";";}
.pictos-repeat:before {content: "r";}
.pictos-link:before {content: "j";}
.pictos-clock:before {content: "t";}
.pictos-cart:before {content: "$";}
.pictos-check:before {content: "3";}


#main-mid a[href^="http://"] {
  padding-right: .4em;

  &:after {
    content: "A";
    display: block;
    font-family: 'Pictos';
    padding: 0 0 0 .3em;
    -webkit-font-smoothing: antialiased;
  }
}

/* BAR */
#bar {
  position: fixed;
  top: 0;
  left: 85px;
  right: 0;
  z-index: 0;
  min-width: $width - 40;
  height: $header-height;
}

#invite-container {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 200px;

  &.disabled {
    visibility: hidden;
    a {pointer-events:none;}
  }

  #invite-wrap {
    display: inline-block;
  }
}

.player-invite {
  margin: 0 0 0 12px;
  padding: 12px;
  font-weight: 400;
  font-size: 16px;
  width: 14px;
  height: 12px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  float: right;
  border: none;
  box-shadow: none !important;
  background: darken($header-dark,5%);
  border: 1px solid darken($header-dark,15%);
  @include border-radius(8px);
}

#player-invite {
  width: 50px;
}

#player-invite-favorite {
  @include background-gradient($like-light, $like-color);

  &:hover {
    background: $like-light !important;
  }
}

#player-invite-twitter {
  font-size: 26px;
  line-height: .4em;
  font-weight: bold;
  background: #6dccf2;

  &:hover {
    background: #6dccf2 !important;
  }
}

#player-invite-facebook {
  font-size: 28px;
  line-height: .5em;

  &:after {
    content: "";
    display: block;
    z-index: 0;
    height: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10px;
    z-index: -1;
    background: #5a6fa5;
    @include border-bottom-radius(7px);
  }
}

.facebook-button {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  position: relative;
  border-color: darken(#2d4486,10%);
  background: #2d4486;

  &:hover {
    background: #425699;
  }
}

#player {
  padding-top: 7px;
  white-space: nowrap;
  height: $header-height;
  @include box-sizing(border-box);

  &.playing {
    #player-controls {
      .play span {
        left: -3px;
        top: 0;
        font-size: 33px;
      }
    }
  }

  &.loaded {
    #player-main #player-meta {
      visibility: visible;
    }

    #player-controls a {
      span {
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
      }

      &:hover {
        span {
          color: #fff;
        }
      }
    }

    #player-bottom #player-timer {color: #fff;}
    #player-bottom a.control {
      pointer-events: auto;
      color: #fff;
      opacity: 1;

      &:hover {
        color: #fff;
      }
    }
  }

  #player-controls {
    margin: 0 0 -4px 2px;
    width: 80px;
    float: left;

    a {
      position: relative;
      display: block;
      float: left;
      overflow: hidden;
      color: $header-color;
      text-shadow: none;

      span {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: inline-block;
        @include box-sizing(border-box);
        @include transition(all .1s linear);
      }
    }

    /* play button */
    .play {
      font-size: 34px;
      width: 50px;
      height: 50px;
      color: #fff;

      span {
        padding: 19px 0 0 12px;
      }
    }

    .next {
      margin: 16px 0 0 -3px;
      font-size: 23px;
      width: 30px;
      height: 30px;

      span {
        padding: 4px 0 0 5px;
      }
    }
  }

  #player-main {
    position: absolute;
    top: 0;
    left: 95px;
    right: $navbar-width;
    height: 100%;

    #player-meta {
      text-overflow: ellipsis;
      overflow: hidden;
      visibility: hidden;
      margin: 3px 20px 0;
      line-height: 18px;

      span {
        display: block;
        text-align: center;
      }

      #player-song-name a {
        margin-bottom: 1px;
        font-size: 14px;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #fff;
        text-decoration: none;
      }

      #player-artist-name {
        color: #fff;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        font-weight: 300;
        text-overflow: ellipsis;
      }
    }

  }

  #player-bottom {
    clear: both;
    position: absolute;
    bottom: 3px;
    width: 100%;
    height: 18px;

    #player-pre-controls,
    #player-post-controls {
      position: absolute;
      right: -6px;
      top: 0;
      width: 46px;
    }

    #player-pre-controls {
      right: auto;
      left: 0;
    }

    a.control {
      display: block;
      float: left;
      font-size: 16px;
      color: $header-color;
      padding: 4px 5px;
      pointer-events: none;
      @include transition(all .1s linear);

      &:hover {
        color: $header-color;
      }
    }

    a.volume {
      width: 11px;
    }

    a.add {
      margin: -1px 0 0;
      font-size: 17px;
    }

    #player-timer {
      position: absolute;
      top: 2px;
      right: 45px;
      color: $header-color;
      font-weight: 400;
      font-size: 11px;
    }

    #player-progress-bar {
      position: absolute;
      top: 5px;
      left: 30px;
      right: 78px;
      overflow: hidden;
      margin: 2px 0 0;
      padding: 4px 4px;
      height: 0;
      background: darken($header-dark,10%);
      @include box-shadow(0 1px 0 $header-shadow);

      &:hover {
        cursor: pointer;
      }

      #player-progress-inner-wrap {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
      }

      #player-progress-grabber {
        position: absolute;
        top: 0;
        z-index: 11;
        width: 100%;
        height: 100%;
      }

      #player-progress-position,
      #player-progress-loaded {
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 10px;
        background: rgba(255,255,255,0.02);
      }

      #player-progress-position {
        z-index: 4;
        background: $body-dark;
      }
    }
  }
}

.third .play-button {
  width: $play-button-small;
  height: $play-button-small;

  &:before {
    font-size: 20px;
    top: 8px;
    left: 10px;
  }
}

#more-artists {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 26px;
  color: #fff;

  &:hover {
    @include box-shadow(none !important);
  }
}


/* Welcome */
#welcome {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 1000;
  @include linear-gradient(#333, #222);
  @include box-shadow(0 0 10px rgba(0,0,0,0.7));

  &.active {
    display: block;
  }

  &:after {
    visibility: visible;
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: rgba(0,0,0,0.15);
  }

  section {
    height: 26px;
    margin: 0 0 -6px 0;
    padding: 10px 0 0;
    overflow: hidden;
    position: relative;

    h1 {
      color: #fff;
      font-size: 24px;
      margin: 0 0 6px 0;
      position: absolute;
      bottom: -28px;
      left: 0;
      opacity: 0;
      @include transition(all .3s linear);

      &.in {
        bottom: 0;
        opacity: 1;
      }

      &.out {
        top: 48px;
        opacity: 0;
      }
    }
  }

  small {
    font-size: 15px;
    margin: -6px 0 5px;
    display: block;
    color: lighten($header-color,50%);
  }

  .button {
    position: absolute;
    top: 30px;
    right: 20px;
  }

  #close-welcome {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    font-size: 18px;
    color: #fff;
  }
}



/* NOTICES */

#dialog {
  position: fixed;
  z-index: 1000;
  text-align: center;
  background: #000;
  color: #fff;
  width: 100%;
  height: 38px;
  line-height: 2.9em;
  color: white;
  margin: -20px 0 0 -40px;
  font-weight: bold;
  @include border-bottom-radius(4px);

  &.alert {
    text-shadow: 0 -1px 0 #a84a43;
  }
}



/* Lists */
.list {
  margin: -15px 0 25px 0;
  padding: 0;

  section, li {
    padding: 4px 0;
    margin: 0;
    border: none;
    height: auto;
    float: none;
    list-style: none;
    white-space: nowrap;
    line-height: 1.2em;

    div {
      display: inline-block;
      margin: 0 0 -9px 0;
    }

    .image {float: left; padding: 0; border: none; background: none;}
    img { width: 24px; margin: 4px 6px -6px 0; }

    h4 {
      margin: 0;
      display: inline-block;
      line-height: 16px;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;

      a { text-decoration: none; }
    }

    p {
      font-size: 12px;
      color: #666;
      margin-bottom: 0;
      height: 3.5em;
      overflow: hidden;
    }
  }
}

#body .horizontal-list {
  margin: -10px -20px 20px;
  padding: 6px 20px;
  background: rgba(0,0,0,0.2);
  white-space: nowrap;
  overflow: hidden;
  color: #ccc;
  font-size: 11px;
  font-weight: bold;

  h3 {
    margin: 0 10px 0 0;
    padding: 4px 0;
    font-size: 12px;
    font-weight: bold;
    float: left;
    color: #aaa;
    line-height: 1em;
  }

  span {
    border-right: 1px solid rgba(255,255,255,0.1);
    padding: 0 10px;

    &:last-child {
      border: none;
    }
  }

  .list {
    float: left;
    margin: -2px 0 0;

    section {
      padding: 0;
      margin: 0 20px 5px 0;
      float: left;

      img {
        margin-top: 2px;
        @include border-radius(30px);
      }
    }
  }
}

.half .list {
  section {
    float: left;
    display: inline-block;
    margin-right: 20px;
  }
}

$announce-bg: $body-bg;
$announce-color: $heading-color;

.announce {
  z-index: 1000;
  background: $announce-bg;
  color: $announce-color;
  font-size: 12px;
  font-weight: bold;
  padding: 6px;
  padding-left: 25px;
  margin: 0;
  text-decoration: none;
  @include box-sizing(border-box);

  &.maconly {
    display: none;
  }

  &.ismac {
    display: block;
  }

  &.primary {
    display: none;
    position: relative;
    border-top: none;
    padding: 14px 10px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5em;

    strong {
      font-size: 12px;
      display: block;
    }
  }

  &:hover {
    background: darken($announce-bg,4%);
    color: $announce-color;
  }

  &:before {
    color: #666;
    font-size: 14px;
    margin: 2px 0 0 3px;
  }
}

#announce {
  display: none;
  background: $lighter-blue;
  color: rgba(0,0,0,0.6);
  font-size: 14px;
  padding: 10px 0 6px;
  margin: 0 20px -5px;
  text-align: center;
  @include border-bottom-radius(5px);

  #announce-contain {
    margin: 0 auto;
    display: inline-block;
  }

  strong {
    display: block;
    font-size: 24px;
    color: #000;
    margin: 0 10px 0 0;
  }

  ol {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0 20px;
    }
  }
}

.title {
  padding: 0 20px;
  margin: 0 0 20px;
  color: #999;
  position: relative;

  .image {
    float: left;
    margin: 0 15px 0 0;

    &.medium {
      width: 128px; height: 128px;
    }

    img {
      height: 58px;
      width: 58px;
    }
  }


  &.center h2 {
    font-size: 38px;
  }

  a {
    text-decoration: none;
  }

  h1 {
    margin-bottom: 0;
  }

  p {
    font-size: 14px;
    margin: 8px 0 20px;
  }

  span.stats {
    font-size: 11px;
    font-weight: bold;
  }

  small {
    font-size: 13px;
    font-weight: normal;
  }

  .title-nav {
    margin: 10px 0 0 -20px;
    padding: 8px 8px 6px 0;
    background: $body-dark;
    @include border-right-radius(8px);

    ul { margin-top: 14px; }
    li {
      list-style: none;
      padding: 0;
      margin-right: 6px;
      float: left;
      display: block;

      &.right {
        margin-left: 6px;
        margin-right: 0;
        float: right;
      }
    }
  }
}


/* Subnav */
.subnav {
  display: inline-block;
  margin: 0 20px 20px 0;
  background: rgba(0,0,0,0.1);
  padding: 0 20px;

  li {
    float: left;
    list-style: none;

    a {
      float: left;
      padding: 7px;
      line-height: 1.4em;
      font-size: 16px;
      font-weight: 300;
      text-decoration: none;
      color: #fff;
    }
  }
}

#soundmanager-debug {
  display: none !important;
}


/* NAVIGATION AND PAGINATION */

.next-page {
  display: block;
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin: 30px 0;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  @include border-radius(8px);

  &:hover {
    background: lighten($body-bg,6%);
  }

  &.loading {
    display: block;
    cursor: normal;
  }
}

/* Nav menus */

$nav-pad: 15px;
$nav-item-pad: 4px;
$nav-arrow-size: 5px;

.pop-menu, .mp_list {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  padding: $nav-item-pad 0;
  background: #000;
  max-width: 280px;
  @include border-radius(5px);
  font-weight: bold;

  &.open {
    display: block;
  }

  &:before {
    display: block;
    content: "";
    position: absolute;
    top: -$nav-arrow-size;
    left: 50%;
    margin-left: -$nav-arrow-size;
    width: 0;
    height: 0;
    border-left: $nav-arrow-size solid transparent;
    border-right: $nav-arrow-size solid transparent;
    border-bottom: $nav-arrow-size solid black;
  }

  .header, h4 {
    text-transform: uppercase;
    color: rgba(255,255,255,0.8);
    font-size: 10px;
    margin: $nav-item-pad*3 0;
    padding: 0 $nav-pad;
  }

  li, a {
    color: #fff;
    display: block;
    padding: $nav-item-pad $nav-pad;
    font-size: 12px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &[class*="pictos-"] {
      padding-left: 18+$nav-pad;
      line-height: .9em;
    }

    &[class*="pictos-"]:before {
      padding-left: -5+$nav-pad;
      padding-top: 4px;
    }
  }

  img {
    width: 18px;
    height: 18px;
    margin-right: 4px;
  }

  li.mp_selectable { cursor: pointer; }

  li.mp_highlighted,
  a:hover,
  .playing {
    @include linear-gradient($header-light,$header-color);
  }
}

/* Ordered list for display results. */
ol.mp_list {
  line-height: 1.4em;
  position: absolute;
  width: 100%;
  top: 25px;
  z-index: 99999;
  left: 0;
  padding-top: 0;

  li {
    list-style: none;
    margin: 0;
  }
}

.nav-container {
  .title .nav-menu {
    margin: 10px 0 0 -8px;
  }

  .nav-menu {
    display: inline-block;
    margin: 0;
    line-height: 1.4em;
    overflow: hidden;
    padding: 3px 0;

    &.inline {
      margin-top: -2px;
    }

    &.right {
      position: absolute;
      top: 0;
      right: 20px;
    }

    a {
      text-decoration: none;
      float: left;
      padding: 0 10px;
      font-size: 16px;
      margin-left: -1px;
      border-left: 1px solid rgba(255,255,255,0.15);
      color: #ccc;

      &:first-child {
        border: none;
      }

      &.active {
        color: #fff;
        font-weight: bold;
      }

      &:hover {
        color: $link-hover;
      }
    }
  }

  h2.nav-menu {
    margin-bottom: 4px;
    margin-left: -10px;
    margin-top: 0;
  }

  .section {
    clear: both;
    display: none;

    &.active {
      display: block;
    }
  }
}

h2 small { font-size: 55%; }

/* PAGE LAYOUT */
.third, .twothirds,
.fourth, .half,
.whole, .section {
  padding: 0 20px;
  position: relative;
  @include box-sizing(border-box);
}

.section {
  padding: 0;
}

.contain {
  position: relative;
  clear: both;
  margin-bottom: 20px;
}

.whole {
  clear: both;
}

.half {
  width: 50%;
  float: left;
}

.twothirds-wrap {
  width: 100%;
  float: left;
  margin-right: -$third-width - 1;
}

.twothirds {
  margin-right: 1 + $third-width;
}

.third {
  float: left;
  width: $third-width;
  padding-left: 0;
}

.third, .twothirds, .fourth, .half, .whole {
  .third, .twothirds, .fourth, .half, .whole {
    margin-left: 0;
  }
}

.feature {
  clear: both;
  padding: 20px;
  border: 1px solid #eee;
  border-right: none;
  border-left: none;
}

#spinner {
  position: absolute;
  z-index: 1000;
}


/* Image Covers */
.cover-tiny img {
  position: relative;
  width: 24px;
  height: 24px;
}

.cover-icon img {
  position: relative;
  width: 32px;
  height: 32px;
}

.cover-small img {
  position: relative;
  width: 64px;
  height: 64px;
}

.cover-96 img {
  position: relative;
  width: 96px;
  height: 96px;
}

.cover-128 img {
  position: relative;
  width: 128px;
  height: 128px;
}

.cover-medium img {
  position: relative;
  width: 256px;
  height: 256px;
}


.image {
  background: lighten($body-bg,20%);
  border: 2px solid $gutter-color;
  padding: 1px;
  display: block;

  img {

  }
}


#begin {
  display: none;
  padding: 12px 20px;
  margin: -20px 0 20px 0;
  position: relative;
  @include background-gradient(rgba(255,255,255,0.1),transparent);

  #suggestions {
    display: none;
  }

  #tags {
    display: none;
    background: #fff;
    margin: 0;
    padding: 3px 12px 2px;
    font-size: 14px;
    width: 100%;
    border: 1px solid #ddd;
    color: #999;
    cursor: text;
    @include border-radius(50px);
    @include box-shadow(none);
    @include box-sizing(border-box);

    &.focus {
      color: #000;
    }

    &.tagit {
      display: block;
    }
  }

  #create-station {
    position: absolute;
    right: 25px;
    top: 17px;
    margin: 0;
    padding: 3px 10px;
    text-shadow: none;
    font-size: 12px;

    &:hover {
      color: #fff;
      border-color: darken($green, 10%);
      @include border-radius(20px);
      @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.3));
      @include background-gradient(lighten($green, 10%), $green);
    }
  }

  .close {
    position: absolute;
    top: -18px;
    right: 20px;
    color: #aaa;
    font-size: 17px;
  }
}

/* Tagit */
ul.tagit.focus span.tagit-placeholder,
ul.tagit.hasTags span.tagit-placeholder {
  display:none;
}

ul.tagit span.tagit-placeholder {
  position: absolute;
  z-index: 0;
}

ul.tagit li {
  display: block;
  float: left;
  margin: 2px 5px 2px 0;
  white-space: nowrap;
}
ul.tagit li.tagit-choice {
  padding: .2em 20px .2em .5em;
  position: relative;
  line-height: inherit;
}
ul.tagit li.tagit-new {
  padding: .25em 4px .25em 0;
}

ul.tagit li.tagit-choice a.tagit-label {
  cursor: pointer;
  text-decoration: none;
}
ul.tagit li.tagit-choice .tagit-close {
  color: #ccc;
  cursor: pointer;
  position: absolute;
  right: .1em;
  top: 50%;
  margin-top: -8px;
}

/* used for some custom themes that don't need image icons */
ul.tagit li.tagit-choice .tagit-close .text-icon {
    display: none;
}

ul.tagit li.tagit-choice input {
    display: block;
    float: left;
    margin: 2px 5px 2px 0;
}
ul.tagit input[type="text"] {
    width: inherit;
    min-width: 300px;
    border: none;
    margin: 0;
    padding: 0;
    background-color: inherit;
    outline: none;
    @include box-sizing(border-box);
}

/* Pictos Font
* Copyright © 2010 Drew Wilson
* http://www.drewwilson.com  -  http://pictos.drewwilson.com
*
* The fonts included in this stylesheet are subject to the End User License you purchased
* from Drew Wilson. The fonts are protected under domestic and international trademark and
* copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
* distributing this font software.
*
* This font is NOT free. It is illegal to use this font without paying for a license.
*/
@font-face {
    font-family: 'Pictos';
    src: url('/fonts/pictos-web.eot');
    src: local('☺'), url('/fonts/pictos-web.woff') format('woff'), url('/fonts/pictos-web.ttf') format('truetype'), url('/fonts/pictos-web.svg#webfontIyfZbseF') format('svg');
    font-weight: normal;
    font-style: normal;
}