@import "mixins.css.scss";

#stats {
  margin: 0 0 30px 0;
}

.role {
  display: inline-block;
  padding-right: 21px !important;
  position: relative;

  &:hover:after {
    z-index: 1000;
    font-weight: bold;
  }
}

.role:after {
  position: absolute;
  top: 6px;
  right: 4px;
  display: inline-block;
  content: "";
  width: 13px;
  height: 14px;
  line-height: 1em;
  padding-top: 2px;
  pointer-events: none;
  color: #fff;
  float: right;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  border-radius: 2px;
  @include box-sizing(border-box);
}

.primary .role:after { top: 12px; }
.playlist-song { .active, .open { .name .role:after { top: 12px; } } }
header .role:after {top:2px;}

.role:hover:after {
  color: #fff;
}

.playlist section a,
.sub a {
  color: $heading-color-dark;
  text-decoration: none;
  padding: 1px 4px;
  margin-top: -1px;
  margin-bottom: -1px;
  background: rgba(0,0,0,0.1);
  border-radius: 4px;
  &:hover {
    color: #fff !important;
    background: rgba(0,0,0,0.2);
  }
}

$remix-color: #d2bc54;
$mashup-color: #bcafe0;
$producer-color: #62b84c;
$cover-color: #11847f;
$featured-color: #d56c82;

.role-original {
  margin:0; padding:2px 4px !important;
  &:after { display:none; } }

.role-mashup {
  color: $mashup-color !important;
  &:after { content: "M"; color: $mashup-color; background: darken($mashup-color, 32%); }
  &:hover:after { content: "Mashup"; width: 46px; right: -29px; }
}

.role-remixer {
  color: $remix-color !important;
  &:after { content: "R"; color: $remix-color; background: darken($remix-color, 30%); }
  &:hover:after { content: "Remix"; width: 40px; right: -23px; }
}

.role-producer {
  color: $producer-color !important;
  &:after { content: "P"; color: $producer-color; background: darken($producer-color, 26%); }
  &:hover:after { content: "Producer"; width: 54px; right: -37px; }
}

.role-cover {
  color: $cover-color !important;
  &:after { content: "C"; color: $cover-color; background: darken($cover-color, 14%); }
  &:hover:after { content: "Cover"; width: 40px; right: -23px; }
}

.role-featured {
  color: $featured-color !important;
  &:after { content: "F"; color: $featured-color; background: darken($featured-color, 34%); }
  &:hover:after { content: "Featured"; width: 54px; right: -37px; }
}

$song-pad: 15px;
$song-art: 64px;
$song-art-big: 128px;
$song-player-height: 50px;

.playlist-song {
  clear: both;
  margin-bottom: 200px;

  &.open section .reviews {
    display: block;
  }

  h4 {
    background: $body-dark;
    padding: 8px;
    margin: 15px 0 0;

    &:first-child {
      margin: -10px 0 0;
    }

    a {
      text-decoration: none;
      background: rgba(0,0,0,0.1);
      padding: 2px;
      margin: -2px 0;
      border-radius: 4px;
    }
  }

  section {
    min-height: 50px;
    margin: 0;
    padding: $song-pad;
    position: relative;
    @include transition(all .1s linear);

    &:before {
      content: "";
      position: absolute;
      display: block;
      background: $body-lighter;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
    }

    &.listened-to {
      background: $body-light;
    }

    &:hover {
      background: $body-lighter !important;
      .song-controls {
        a, a:before { color: #fff; }
      }
    }

    &.open { .reviews { display: block; } }

    &.active {
      background: $body-dark !important;
      border: 2px solid $primary;
    }

    &.failed {
      &:after {
        border: none;
        content: "";
        display: block;
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($body-bg,0.8);
        visibility: visible;
        pointer-event: none;
      }
    }

    .reviews {
      pointer-events: none;
      position: relative;
      z-index: 13;
      color: #aaa;
      display: none;

      a {
        pointer-events: all;
        text-decoration: none;
      }

      p {
        color: #ddd;
      }
    }

    .stats {
      display: none;
    }

    h1 {
      margin: -6px 0 -2px $song-art + $song-pad;
      line-height: 24px;
      font-weight: 400;
      min-height: $play-button-size + 8;

      span {
        display: block;

        &.artist {
          font-weight: 300;
          margin: 0 0 0 -4px;
          display: inline-block;
          font-size: 18px;
          position: relative;
          z-index: 12;
          pointer-events: none;

          a {
            color: #ddd;
            line-height: 1.2em;
            pointer-events: auto;
            &:hover { color: $link-hover; }
            &.role {margin-top: 4px;}
          }
        }

        &.name {
          font-size: 20px;
          margin: 5px 0;
          font-weight: 400;
          position: relative;
          z-index: 11;
          pointer-events: none;

          a { color: #fff;
            &:hover { color: $link-hover; }
          }

          em {
            font-weight: 300;
            font-style: normal;
            font-size: 16px;
            color: #aaa;

            a {
              color: #aaa;
              pointer-events: auto;
            }
          }
        }
      }
    }

    .song-meta {
      font-size: 12px;
      margin: 0 0 0 $song-art + $song-pad;
      padding: 4px 0 0;
      color: #888;
      z-index: 12;
      position: relative;
      pointer-events: none;

      .song-meta-pre {
        float: left;
      }

      a {pointer-events: all;}

      .song-follow {
        display: inline;
      }

      .follow-station-wrap {
        white-space: nowrap;
        position: relative;
        display: inline-block;
        padding: 1px 3px;
        margin: 0 1px -8px;

        a {
          font-weight: 400;
        }
      }

      .follow-station {
        display: inline;
        background: none;
        border: none;
        margin: 0;
        padding: 0;
        float: left;

        span {
          font-size: 14px;
          margin: -1px 0 -1px -2px;
          line-height: 1.6em;
          padding-right: 4px;
          color: #bbb;
          -webkit-font-smoothing: antialiased;
        }

        &.remove span {
          color: $green;
          &:hover { color: $red; }
        }
        strong {display: none;}
      }

      .count {display:none;}

      a {
        color: #bbb;
        text-decoration: none;
        position: relative;
        z-index: 12;

        &:hover, &:hover span {
          color: #fff;
        }
      }

      .comments {
        color: #ccc;
        font-weight: normal;
        margin: 6px 0 0 6px;
        padding-left: 15px;

        &:before { top:0; left:0; }
      }
    }

    .song-link {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: 10;
      background: none;
      padding: 0;
      margin: 0;
      border-radius: 0;
      &:hover {background: none;}
    }

    .song-controls {
      position: absolute;
      bottom: 5px;
      right: 0;
      width: 160px;

      &.hover-show a { display: none; }

      span {
        float: right;
      }

      a {
        text-decoration: none;
        float: right;
        font-size: 13px;
        padding: 5px 6px;
        margin: -6px;
        margin-left: 12px;
        font-weight: 400;
        line-height: .9em;
        color: #fff;
        border: 1px solid #252525;
        @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.15));
        @include transition(all .2s linear);
        @include linear-gradient(#444, $body-bg);

        &:before {
          position: relative;
          font-size: 14px;
          padding: 0 2px 0 0;
          margin: -4px 3px -4px 0;
          left: 0;
          top: -1px;
          width: 14px;
        }

        &.pictos-comment:before {
          top: -1px;
        }

        &:hover {
          color: #fff;
          @include linear-gradient(#555, $body-lighter);
        }
      }

      .broadcast {
        a:hover {
          color: #fff;
          background: $like-color;
          &:before { color: #fff; }
        }

        .remove {
          &:before { color: $like-color; }
        }

        .remove:hover, .remove:hover:before {
          background: $dark-red;
          &:before {
            content: "D";
            color: darken($dark-red,10%);
            background: transparent;
            font-size: 16px;
            top: 0;
          }
        }
      }
    }

    .song-art {
      position: absolute;
      width: $song-art;
      height: $song-art;
      z-index: 1;
      top: $song-pad;
      left: $song-pad;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .waveform {
      display: none;
      clear: both;
      position: relative;
      height: 80px;
      margin: 10px 0 -20px 0;
      width: 100%;
      z-index: 9;
    }
  }
}

.primary .playlist-song {
  margin: 0;
}

.primary .playlist {
  margin: -5px 0 0;
}

.primary section, section.active {
  min-height: 175px;
  margin: 0 -10px;
  padding: 20px;

  h1, .song-meta {
    margin-left: $song-art-big + $song-pad;
    margin-top: -5px;
    span { line-height: 1.4em;
      &.artist { font-size: 18px; }
      &.name { font-size: 26px; margin: 0 0 10px 0; }
    }
  }

  .reviews {
    display: block;
    font-weight: 300;
  }

  .song-art {
    width: $song-art-big;
    height: $song-art-big;
  }

  .waveform {
    display: block;
  }
}


.plays {
  margin: 0 0 25px 0;

  section {
    padding: 6px;
    padding-bottom: 8px;
    line-height: 1.4em;

    &:nth-child(2n+1) {
      background: rgba(0,0,0,0.08);
    }

    &:hover {
      background: rgba(0,0,0,0.15);
    }

    span {
      display: block;
      font-size: 11px;
    }

    a { text-decoration: none; }

    .play-song {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.primary-user .plays section span {
  display: none;
}

#body .reviews {
  div {
    margin: 20px 0 -20px 0;

    h3 {
      font-size: 14px;
      margin: 0 0 6px 0;
      color: #999;

      a {
        text-decoration: none;

      }
    }
  }
}