@import "mixins.css.scss";

#stats {
  margin: 0 0 30px 0;
}

.role {
  display: inline-block;
}

.role:after {
  display: inline-block;
  content: "";
  width: 16px;
  height: 9px;
  margin: 0 -8px .1em 4px;
  padding-right: 12px;
  background: url(/images/artist-icons.png) no-repeat top left;
  pointer-events: none;
}

.role-original { margin:0; padding:0; }
.role-original:after { display:none; }
.role-mashup { color: #b091fd !important;   &:after { display: none; } }
.role-remixer { color: #c1a93b !important;  &:after { background-position:0 -9px; } }
.role-producer { color: #3b941c !important; &:after { background-position:0 -18px; } }
.role-cover { color: #11847f !important;    &:after { background-position:0 -27px; } }
.role-featured { color: #c54b5f !important; &:after { background-position:0 -36px; } }

$song-pad: 15px;
$song-art: 48px;
$song-art-big: 130px;
$song-player-height: 50px;

.playlist-song {
  clear: both;

  &.open section .reviews {
    display: block;
  }

  h4 {
    background: $body-dark;
    padding: 8px;
    margin: 15px 0 0;

    &:first-child {
      margin: -10px 0 0;
    }

    a {
      text-decoration: none;
      background: rgba(0,0,0,0.1);
      padding: 2px;
      margin: -2px 0;
      border-radius: 4px;
    }
  }

  section {
    min-height: 50px;
    margin: 0;
    padding: $song-pad;
    position: relative;
    border-bottom: 1px solid $body-lighter;
    @include transition(all .1s linear);

    &.listened-to {
      background: $body-light;
    }

    &:hover {
      background: $body-lighter !important;
      .song-controls {
        a, a:before { color: #fff; }
      }
    }

    &.open {
      .reviews { display: block; }
    }

    &.active {
      background: $body-dark !important;
      border: 2px solid $primary;
    }

    &.failed {
      &:after {
        border: none;
        content: "";
        display: block;
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($body-bg,0.8);
        visibility: visible;
        pointer-event: none;
      }
    }

    .reviews {
      position: relative;
      z-index: 13;
      color: #aaa;
      display: none;

      a {
        text-decoration: none;
      }
    }

    .stats {
      display: none;
    }

    h1 {
      margin: -8px 0 -5px $play-button-size + $song-pad;
      line-height: 24px;
      font-weight: 400;
      min-height: $play-button-size + 8;

      span {
        display: block;

        &.artist {
          font-weight: 300;
          margin: 0 0 0 -4px;
          display: inline-block;
          font-size: 16px;
          position: relative;
          z-index: 12;
          pointer-events: none;

          a {
            color: #ccc;
            pointer-events: auto;
            &:hover { color: $link-hover; }
          }
        }

        &.name {
          font-size: 18px;
          margin: 4px 0;
          font-weight: 400;
          position: relative;
          z-index: 11;
          pointer-events: none;

          a { color: #fff;
            &:hover { color: $link-hover; }
          }

          em {
            font-weight: 300;
            font-style: normal;
            font-size: 16px;
            color: #aaa;

            a {
              color: #aaa;
              pointer-events: auto;
            }
          }
        }
      }

      a {
        color: $heading-color-dark;
        text-decoration: none;
        padding: 0 4px;
        background: rgba(0,0,0,0.1);
        border-radius: 4px;
      }
    }

    .song-meta {
      font-size: 12px;
      margin: 6px 0 0;
      padding: 4px 0 0;
      color: #888;
      z-index: 12;
      position: relative;
      pointer-events: none;

      .song-meta-pre {
        float: left;
      }

      a {pointer-events: all;}

      .song-follow {
        display: inline;
      }

      .follow-station-wrap {
        white-space: nowrap;
        position: relative;
        display: inline-block;
        padding: 1px 3px;
        margin: 0 1px -8px;

        a {
          font-weight: 400;
        }
      }

      .follow-station {
        display: inline;
        background: none;
        border: none;
        margin: 0;
        padding: 0;
        float: left;

        span {
          font-size: 14px;
          margin: -1px 0 -1px -2px;
          line-height: 1.6em;
          padding-right: 4px;
          color: #bbb;
          -webkit-font-smoothing: antialiased;
        }

        &.remove span {
          color: $green;
          &:hover { color: $red; }
        }
        strong {display: none;}
      }

      .count {display:none;}

      a {
        color: #bbb;
        text-decoration: none;
        position: relative;
        z-index: 12;

        &:hover, &:hover span {
          color: #fff;
        }
      }

      .comments {
        color: #ccc;
        font-weight: normal;
        margin: 6px 0 0 6px;
        padding-left: 15px;

        &:before { top:0; left:0; }
      }
    }

    .song-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
    }

    .song-controls {
      position: absolute;
      bottom: 5px;
      right: 0;
      width: 150px;

      &.hover-show a { display: none; }

      span {
        float: right;
      }

      a {
        text-decoration: none;
        float: right;
        font-size: 14px;
        padding: 6px;
        margin: -6px;
        margin-left: 12px;
        font-weight: 400;
        line-height: .9em;

        &:before {
          position: relative;
          font-size: 16px;
          padding: 0 2px 0 0;
          margin: -4px 4px -4px -2px;
          left: 0;
          top: -2px;
          width: 14px;
        }

        &.pictos-comment:before {
          margin-right: 5px;
          top: -1px;
        }

        &:hover {
          color: #fff;
          background: $body-lighter;
        }
      }

      .broadcast {
        a:hover {
          color: #fff;
          background: $like-color;
          &:before { color: #fff; }
        }

        .remove {
          &:before { color: $like-color; }
        }

        .remove:hover, .remove:hover:before {
          background: $dark-red;
          &:before { content: "D"; color: darken($dark-red,10%); }
        }
      }
    }

    .song-art {
      position: absolute;
      width: $song-art;
      height: $song-art;
      z-index: 1;
      top: $song-pad;
      left: $song-pad;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .waveform {
      display: none;
      clear: both;
      position: relative;
      height: 80px;
      margin: 10px 0 -20px 0;
      width: 100%;
      z-index: 9;
    }
  }
}

.primary .playlist-song {
  margin: 0;
}

.primary .playlist {
  margin: -5px 0 0;
}

.primary section, section.active {
  min-height: 175px;
  margin: 0 -10px;
  padding: 20px;

  h1, .song-meta {
    margin-left: $song-art-big + $song-pad;
    margin-top: -5px;
    span { line-height: 1.4em;
      &.artist { font-size: 18px; }
      &.name { font-size: 26px; margin: 0 0 10px 0; }
    }
  }

  .reviews {
    display: block;
    font-weight: 300;
  }

  .song-art {
    width: $song-art-big;
    height: $song-art-big;
  }

  .waveform {
    display: block;
  }
}


.plays {
  margin: 0 0 25px 0;

  section {
    padding: 6px;
    padding-bottom: 8px;
    line-height: 1.4em;

    &:nth-child(2n+1) {
      background: rgba(0,0,0,0.08);
    }

    &:hover {
      background: rgba(0,0,0,0.15);
    }

    span {
      display: block;
      font-size: 11px;
    }

    a { text-decoration: none; }

    .play-song {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.primary-user .plays section span {
  display: none;
}

#body .reviews {
  div {
    margin: 20px 0 -20px 0;

    h3 {
      font-size: 14px;
      margin: 0 0 6px 0;
      color: #999;

      a {
        text-decoration: none;
        color: #fff;
      }
    }

    p a { font-weight: bold; }
  }
}