@import "mixins.css.scss";

#stats {
  margin: 0 0 30px 0;
}

.role {
  display: inline-block;
}

.role:after {
  display: inline-block;
  content: "";
  width: 16px;
  height: 9px;
  margin: 0 -8px .1em 4px;
  padding-right: 12px;
  background: url(/images/artist-icons.png) no-repeat top left;
  pointer-events: none;
}

.role-original { margin:0; padding:0; }
.role-original:after { display:none; }
.role-mashup { color: #b091fd !important;   &:after { display: none; } }
.role-remixer { color: #c1a93b !important;  &:after { background-position:0 -9px; } }
.role-producer { color: #3b941c !important; &:after { background-position:0 -18px; } }
.role-cover { color: #11847f !important;    &:after { background-position:0 -27px; } }
.role-featured { color: #c54b5f !important; &:after { background-position:0 -36px; } }

$song-pad: 20px;
$song-art: 48px;
$song-art-big: 130px;
$song-player-height: 50px;


/* Share buttons */

.player-invite {
  margin: 0;
  padding: 6px;
  font-weight: 400;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  position: relative;
  z-index: 1000;
  border: none;
  box-shadow: none !important;
  background: $green;
  line-height: .4em;
  font-weight: bold;

  &.hover {
    background: $light-green;
  }
}

.login-button {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin: 0 5px;
}

.player-invite-favorite {
  @include background-gradient($like-light, $like-color);
  &:hover { background: $like-light !important; }
}

.facebook-button, .twitter-button {
  background: #2d4486;
  &:hover { background: #425699; }
}

.twitter-button {
  background: #4b8fa9;
  &:hover { background: #54a0be; }
}

.playlist-song {
  clear: both;
  margin-right: 10px;

  &.open section .reviews {
    display: block;
  }

  section {
    min-height: 50px;
    margin: 0;
    padding: $song-pad;
    position: relative;
    @include transition(all .1s linear);

    &:nth-child(2n+1) {
      background: darken($body-bg,2%);
    }

    &.listened-to {
      background: $body-lighter;
      &:nth-child(2n+1) { background: $body-light; }
    }

    &:hover {
      background: $body-dark !important;
      .song-controls {
        a, a:before { color: #fff; }
      }
    }

    &.open {
      .reviews { display: block; }
    }

    &.active {
      border: 2px solid $primary;
      background: $body-lighter !important;
      .player-invite { padding: 16px; font-size:26px; }
      .waveform { opacity: 0.6; }
      h1 span.artist a { color: #fff; }
      .name em { display: block; line-height: 1.6em; }
    }

    &.failed {
      .song-meta, h1 {
        z-index: 101;
      }

      &:after {
        border: none;
        content: "";
        display: block;
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($body-bg,0.8);
        visibility: visible;
        pointer-event: none;
      }
    }

    .reviews {
      position: relative;
      z-index: 13;
      color: #888;
      display: none;

      a {
        text-decoration: none;
      }
    }

    .stats {
      display: none;
    }

    h1 {
      margin: -8px 0 -5px $play-button-size + $song-pad;
      line-height: 24px;
      font-weight: 400;
      min-height: $play-button-size + 8;

      span {
        display: block;

        &.artist {
          font-weight: 300;
          margin: 0 0 0 -4px;
          display: inline-block;
          font-size: 16px;
          position: relative;
          z-index: 12;
          pointer-events: none;

          a {
            color: #bbb;
            pointer-events: auto;
            &:hover { color: $link-hover; }
          }
        }

        &.name {
          font-size: 18px;
          margin: 4px 0;
          font-weight: 400;
          position: relative;
          z-index: 11;
          pointer-events: none;

          a { color: #fff;
            &:hover { color: $link-hover; }
          }

          em {
            font-weight: 300;
            font-style: normal;
            font-size: 16px;
            color: #aaa;

            a {
              color: #aaa;
              pointer-events: auto;
            }
          }
        }
      }

      a {
        color: $heading-color-dark;
        text-decoration: none;
        padding: 0 4px;
        background: rgba(0,0,0,0.1);
        @include border-radius(4px);
      }
    }

    .song-meta {
      border-top: 1px solid rgba(255,255,255,0.05);
      font-size: 12px;
      margin: 10px 0 -10px;
      padding: 4px 0 0;
      color: #999;
      z-index: 12;
      pointer-events: none;

      a {pointer-events: all;}

      .song-follow {
        display: inline;
      }

      .follow-station-wrap {
        white-space: nowrap;
        position: relative;
        display: inline-block;
        padding: 1px 3px;
        margin: 0 1px -8px;

        a {
          font-weight: bold;
        }
      }

      .follow-station {
        display: inline;
        background: none;
        border: none;
        margin: 0;
        padding: 0;
        float: left;

        span {
          font-size: 14px;
          margin: 0;
          line-height: 1.5em;
          padding-right: 4px;
          color: #999;
        }

        &.remove span {
          color: $green;
          &:hover { color: $red; }
        }
        strong {display: none;}
      }

      .count {display:none;}

      a {
        color: #ddd;
        text-decoration: none;
        position: relative;
        z-index: 12;

        &:hover, &:hover span {
          color: #fff;
        }
      }

      .comments {
        color: #ccc;
        font-weight: normal;
        margin: 6px 0 0 6px;
        padding-left: 15px;

        &:before { top:0; left:0; }
      }
    }

    .song-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
    }

    .song-posted {
      float: left;
    }

    .song-controls {
      float: right;
      margin: 0;
      padding: 0;

      &.hover-show a { display: none; }

      a {
        text-decoration: none;
        display: block;
        text-align: center;
        font-size: 16px;
        padding: 4px 8px 0;
        margin: -4px;
        font-weight: 400;

        &:before {
          position: relative;
          font-size: 16px;
          padding: 4px 4px 4px 0;
          top: -2px;
          left: -2px;
        }

        &:hover {
          color: #fff;
          background: $like-color;

          &:before {
            color: #fff;
          }
        }

        &.remove {
          padding-right: 8px;
          &:before { color: $like-dark; }
        }

        &.remove:hover, &.remove:hover:before {
          background: $dark-red;
          &:before { content: "D"; color: darken($dark-red,10%); }
        }
      }
    }

    .song-art {
      position: absolute;
      width: $song-art;
      height: $song-art;
      z-index: 1;
      top: $song-pad;
      left: $song-pad;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .waveform {
      display: none;
      clear: both;
      position: relative;
      height: 100px;
      margin: -20px 0;
      width: 100%;
    }
  }
}

.primary .playlist-song {
  margin: 0;
}

.primary .playlist {
  margin: -5px 0 0;
}

.primary section, section.active {
  min-height: 175px;
  margin: 0 -10px;
  padding: 20px;

  h1, .song-meta {
    margin-left: $song-art-big + $song-pad;
    span { line-height: 1.4em;
      &.artist { font-size: 18px; margin: 0 0 2px 0; }
      &.name { font-size: 26px; margin: 0 0 10px 0; }
    }
  }

  .reviews {
    display: block;
    font-weight: 300;
  }

  .song-art {
    width: $song-art-big;
    height: $song-art-big;
  }

  .waveform {
    display: block;
  }
}


.plays {
  margin: 0 0 25px 0;

  section {
    padding: 6px;
    padding-bottom: 8px;
    line-height: 1.4em;

    &:nth-child(2n+1) {
      background: rgba(0,0,0,0.08);
    }

    &:hover {
      background: rgba(0,0,0,0.15);
    }

    span {
      display: block;
      font-size: 11px;
    }

    a { text-decoration: none; }

    .play-song {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.primary-user .plays section span {
  display: none;
}

#body .reviews {
  div {
    margin: 20px 0 -20px 0;

    h3 {
      font-size: 14px;
      margin: 0 0 6px 0;
      color: #999;

      a {
        text-decoration: none;
        color: #fff;
      }
    }

    p a { font-weight: bold; }
  }
}