@import "mixins.css.scss";

$station-color: #353535;
$station-dark: darken($station-color, 10%);
$station-light: lighten($station-color, 10%);
$station-pad: 8px;
$station-small-pad: 6px;
$station-image: $play-button-size;
$station-image-small: $play-button-small;

.stations {
  margin: 0 0 25px 0;

  section {
    margin: 0;
    padding: $station-pad;
    position: relative;
    @include transition(all .1s linear);

    &:nth-child(2n+1) {
      background: rgba(255,255,255,0.02);
    }

    &:hover {
      background: rgba(0,0,0,0.1);

      .image {visibility: hidden;}
      .play-button {display: block;}
    }

    .station-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
    }

    .play-button {
      display: none;
      top: $station-pad;
      left: $station-pad;
      z-index: 11;
    }

    .image {
      margin: 0;
      padding: 0;
      border: none;
      display: block;
      background: none;

      img {
        width: $station-image;
        height: $station-image;
      }
    }

    .station-info {
      position: absolute;
      top: $station-pad - 2;
      left: $station-pad*2 + $play-button-size + 2;
      right: $station-pad;

      * {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      h4 {
        font-size: 16px;
        margin: 3px 0 2px;
        font-weight: 400;
        color: #fff;
      }

      span {
        font-size: 12px;
        display: block;
        color: #888;
      }
    }

    .station-follow {
      position: absolute;
      top: $station-pad;
      right: $station-pad;
      z-index: 11;

      a {
        font-size: 14px;
        padding: 5px 10px;

        span {
          font-size: 14px;
          line-height: 1.5em;
          margin-left: 0;
        }
      }

      .count {
        font-size: 11px;
        padding-top: 1px;
        padding-bottom: 1px;
        background: none;
      }
    }
  }
}



.count {
  position: relative;
  z-index: 0;
  background: rgba(0,0,0,0.2);
  margin: -4px 4px 0;
  padding: 4px 0 1px;
  text-align: center;
  font-size: 12px;
  @include border-radius(6px);
}

.third .stations section {
  padding: $station-small-pad;

  &:hover {
    .station-info h4 {color: #fff;}
  }

  .image {
    img {
      width: $station-image-small;
      height: $station-image-small;
    }
  }

  .play-button {
    top: $station-small-pad;
    left: $station-small-pad;
  }

  .station-info {
    left: $station-small-pad*2 + $station-image-small;

    h4 {
      font-size: 14px;
      margin: 0 0 -1px 0;
      color: #ddd;
      font-weight: 300;
    }

    span {
      font-size: 11px;
    }
  }
}

.shelf {
  margin: 0 20px 20px 0;
  position: relative;

  h3 {
    position: relative;
    z-index: 10;
  }

  ul {
    padding: 0;
    margin-left: -15px;
    margin-bottom: 6px;
  }

  li {
    list-style: none;
    float: left;
    margin: 0 15px 15px 0;
    position: relative;

    a {
      text-decoration: none;
      text-shadow: 0 1px 0 #000;
      position: relative;
      display: block;
    }

    strong {
      text-align: center;
      color: #fff;
      font-size: 14px;
      padding: 4px;
      display: block;
      position: absolute;
      top: 0;
      font-weight: 600;
      width: 100%;
      z-index: 10;
      @include dim(60);
      @include box-sizing(border-box);
    }
  }

  p {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    margin: 0;
    background: rgba(0,0,0,0.3);
    color: #fff;
    padding: 0 4px;
    font-size: 11px;
    @include border-top-right-radius(4px);
  }
}

.shelf a,
.promo a {
  @include transition(all .1s linear);

  &:hover {
    @include box-shadow(0 0 16px rgba(0,0,0,0.8));
  }
}

.shelf.horizontal {
  padding: 20px;
  padding-right: 40px;
  margin: -20px;
  margin-bottom: 0;
  height: 96px;
  overflow: hidden;

  li {
    margin: 0 8px 20px 0;
    @include transition(all .3s linear);

    img {
      width: 96px;
      height: 96px;
    }

    strong {
      font-size: 12px;
      line-height: 1.2em;
    }
  }
}

.shelf.big {
  li strong {
    font-size: 16px;
    padding: 8px;
    @include dim(80);
  }
}

.promo {
  display: none;
}

.promo div {
  margin: -15px -2% 15px -15px;
  padding-left: 15px;
  height: 185px;
  overflow: hidden;

  a {
    width: 23%;
    max-width: 500px;
    height: 160px;
    margin: 15px 2% 25px 0;
    float: left;
  }
}

.promo h2, .vertical {
  position: absolute;
  top: 15px;
  left: -30px;
  z-index: 100;
  height: 140px;
  width: 29px;
  text-indent: -3000em;
  overflow: hidden;
  background: url(/images/featured-stations.png) no-repeat top left;
}

.vertical.artists {
  top: 5px;
  background: url(/images/artists-title.png) no-repeat top left;
}

#genres {
  padding: 0;
  margin: 0 0 30px -4px;

  li {
    list-style: none;

    a {
      padding: 1px 2px 1px 2px;
      margin: 0 0 4px 4px;
      float: left;
      width: 93px;
      font-size: 12px;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#share-station {
  width: 16px;
}