@import "mixins.css.scss";

$station-color: #353535;
$station-dark: darken($station-color, 10%);
$station-light: lighten($station-color, 10%);
$station-pad: 8px;
$station-small-pad: 6px;
$station-image: $play-button-size;
$station-image-small: $play-button-small;

.station-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.stations {
  position: relative;
  margin: 0 0 25px 0;

  section {
    margin: 0;
    padding: $station-pad;
    position: relative;
    border-top: 1px solid rgba(255,255,255,0.05);
    @include transition(all .1s linear);

    &:hover {
      background: rgba(0,0,0,0.1);
    }

    .play-button {
      display: none;
      top: $station-pad;
      left: $station-pad;
      z-index: 11;
    }

    .image {
      margin: 0 $station-pad 0 0;
      padding: 0;
      float: left;
      border: none;
      display: block;

      img {
        width: $station-image;
        height: $station-image;
      }
    }

    .station-info {
      * {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      h4 {
        font-size: 16px;
        margin: 0 0 2px;
        font-weight: 400;
        color: #fff;
      }

      span {
        font-size: 12px;
        display: block;
        color: #888;
      }
    }

    p {
      margin: 0;
      color: rgba(255,255,255,0.4);
      font-weight: 300;
    }

    .station-buttons {
      position: absolute;
      top: $station-pad + 6;
      right: $station-pad;
      z-index: 11;
      line-height: 1.5em;

      div {
        display: inline-block;
      }

      a {
        font-size: 14px;
        padding: 5px 10px 9px;
        margin: 0px 0 -30px 6px;

        span {
          font-size: 14px;
          display: inline-block;
          margin: 3px -1px 0 -2px;
        }
      }

      .count {
        font-size: 14px;
        padding: 6px 8px 0;
        margin: 0 0 -16px 0;
        background: rgba(0,0,0,0.1);
        min-width: 35px;
        height: 34px;
        font-weight: normal;
        text-align: center;
        @include box-sizing(border-box);
      }
    }
  }
}

.friends-list {
  margin: 0 0 20px 0;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
}

.shelf {
  margin: 0 20px 20px 0;
  padding: 0;
  position: relative;

  h3 {
    position: relative;
    z-index: 10;
  }

  ul {
    padding: 0;
    margin-left: -15px;
    margin-bottom: 6px;
  }

  li {
    list-style: none;
    float: left;
    margin: 0 15px 15px 0;
    position: relative;
    @include transition(all ease-in .4s);

    &:hover {
      p, .station-buttons { opacity: 1; }
    }
  }

  h4 {
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding: 4px;
    display: block;
    position: absolute;
    bottom: 0;
    margin: 0;
    font-weight: 300;
    width: 100%;
    z-index: 10;
    line-height: 1.2em;
    @include dim(70);
    @include box-sizing(border-box);
  }

  p {
    position: absolute;
    display: inline-block;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0;
    z-index: 12;
    color: #fff;
    padding: 0 4px;
    font-size: 11px;
    pointer-events: none;
  }

  .station-buttons {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 35% 12% 0;
    background: rgba(0,0,0,0.5);
    @include transition(all .3s linear);

    a {
      position: relative;
      z-index: 11;
      background: none;
      box-shadow: none;
      float: left;
      width: 50%;
      padding: 6px 0;
      @include box-sizing(border-box);

      span { margin:0; padding:0; }

      &:hover {
        background: rgba(0,0,0,0.5);
        box-shadow: none;
      }
    }

    .play-station {
      font-size: 22px;
      line-height: 1.2em;
      padding-bottom: 2px;
    }

    .station-follow {
      float: left;
      width: 50%;
      a { width:100%; }
    }

    .count,
    strong {
      display: none;
    }
  }
}

.shelf li,
.promo a {
  @include transition(all .1s linear);

  &:hover {
    @include box-shadow(0 0 16px rgba(0,0,0,0.8));
  }
}

.shelf.horizontal {
  padding: 0;
  padding-right: 32px;
  margin: 0 0 10px 0;
  height: 92px;
  overflow: hidden;

  img {
    width: 92px;
    height: 92px;
  }

  li {
    margin: 0 8px 20px 0;
    @include transition(all .3s linear);

    strong {
      line-height: 1.2em;
      font-size: 12px;
      font-weight: 400;
    }
  }
}

.shelf.horizontal-128 {
  img {
    width: 92px;
    height: 92px;
  }
}

.shelf.featured {
  position: relative;

  li { margin: 0 10px 10px 0; }

  img {
    width: 128px;
    height: 128px;
  }

  .shelf-zero {
    .station-buttons { padding-top: 41%; }
    img {
      width: 266px;
      height: 266px;
    }
  }
}

.shelf.horizontal.featured {
  margin: -20px -728px -20px -20px;
  padding: 20px;
  height: 266px;
  max-width: 1100px;
}

.shelf.featured.single {
  height: 118px;

  .shelf-zero {
    img {
      width: 128px;
      height: 128px;
    }
  }
}

.shelf.big {
  li h4 {
    font-size: 16px;
    padding: 8px;
    @include dim(80);
  }
}

.third .shelf {
  margin-left: -10px;
  margin-right: 0;

  .station-buttons {
    a, div {display: none;}
  }

  li {
    float: left;
    margin-left: 10px;
    margin-right: 0;
    margin-bottom: 10px;

    h4 {
      font-size: 12px;
      font-weight: normal;
    }

    img {
      width: 95px;
      height: 95px;
    }
  }
}

#more-artists {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 22px;
  color: #fff;

  &:hover {
    @include box-shadow(none !important);
  }
}

.promo {
  display: none;
}

.promo div {
  margin: -15px -2% 15px -15px;
  padding-left: 15px;
  height: 185px;
  overflow: hidden;

  a {
    width: 23%;
    max-width: 500px;
    height: 160px;
    margin: 15px 2% 25px 0;
    float: left;
  }
}

.promo h2, .vertical {
  position: absolute;
  top: 15px;
  left: -30px;
  z-index: 100;
  height: 140px;
  width: 29px;
  text-indent: -3000em;
  overflow: hidden;
  background: url(/images/featured-stations.png) no-repeat top left;
}

.vertical.artists {
  top: 5px;
  background: url(/images/artists-title.png) no-repeat top left;
}

#genres {
  padding: 0;
  margin: 0 0 30px -4px;

  li {
    list-style: none;

    a {
      padding: 1px 2px 1px 2px;
      margin: 0 0 4px 4px;
      float: left;
      width: 93px;
      font-size: 12px;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#share-station {
  width: 16px;
}