.tags {
  margin: -5px 0 20px 0;
  padding: 0;
  font-size: .9em;

  li {
    list-style: none;
    display: inline;
  }

  a {
    text-decoration: none;
    padding: 2px 4px;
    margin: 0 2px 2px 0;
    background: rgba(255,255,255,0.05);
  }
}

.rank-10 { font-size: 2em;  line-height:1.9em; }
.rank-9 { font-size: 1.9em; line-height:1.8em; }
.rank-8 { font-size: 1.8em; line-height:1.7em; }
.rank-7 { font-size: 1.7em; line-height:1.6em; }
.rank-6 { font-size: 1.6em; line-height:1.5em; }
.rank-5 { font-size: 1.5em; line-height:1.4em; }
.rank-4 { font-size: 1.4em; line-height:1.3em; }
.rank-3 { font-size: 1.3em; line-height:1.2em; }
.rank-2 { font-size: 1.2em; line-height:1.1em; }
.rank-1 { font-size: 1.1em; line-height:1em; }
.rank-0 { font-size: 1em;   line-height:1em; }


.controller-tags .tags {
  font-size: 2em;
  line-height: 2em;
}

.controller-mains .tags{
  a {
    line-height: 2em;
  }
}