@import 'bourbon';

/* -----Themes---- */

@for $i from 1 through 5 {
  $header-bg:       nth(( #418bd4,  /* blue */
                          #4a9257,  /* green */
                          #cd9d23,  /* orange */
                          #bc3e66,  /* pink */
                          #a01c2a   /* red */
                          ), $i );

  $body-bg:         nth(( #333,     /* grey */
                          #22363d,  /* teal */
                          #2b3350,  /* blue */
                          #522748,  /* pink */
                          #491218   /* red */
                          ), $i );

  $navbar-bg:       nth(( darken($body-bg, 9%),
                          darken($body-bg, 5%),
                          darken($body-bg, 5%),
                          darken($body-bg, 5%),
                          darken($body-bg, 5%)
                          ), $i );

  .head-color-#{$i} { background: $header-bg;
    &:hover { background: $header-bg !important; }}
  .body-color-#{$i} { background: $body-bg;
    &:hover { background: $body-bg !important; }}

  .theme-head-#{$i} {
    header { background: $header-bg; }
    #player-meta:before { @include linear-gradient(left, $header-bg, rgba($header-bg,0)); }
    #player-meta:after { @include linear-gradient(right, $header-bg, rgba($header-bg,0)); }
    #welcome { background: darken($header-bg, 25%); }
  }

  .theme-body-#{$i} {
    background: $body-bg;

    #body:before,
    #modal,
    #promo-fixed-lower,
    #navbar a.active,
    .title.fixed { background: $body-bg; }
    #navbar { background: $navbar-bg; }
    .playlist section.active { background: lighten($body-bg, 5%) !important; }
    .image { border-color: $body-bg; }
  }
}