<%-
  share ||= true
-%>
<ul class="title-nav">
  <li class="follow-<%= station.id %>"><%= follow_station(station.id, station.follows_count) %></li>
  <% if share %><li><%= link_to "Share", '/' + station.slug, :id => 'share-station', :class => 'button clipboard tip', :title => 'Copy link to clipboard', 'data-hover' => 'Copy', 'data-click' => 'Copied!'  %></li><% end %>
</ul>