<%-
  share ||= true
-%>
<ul class="title-nav">
  <li><%= link_to "j", '/' + station.slug, :id => 'share-station', :class => 'button pictos clipboard tip', :title => 'Copy link to clipboard', 'data-hover' => 'j', 'data-click' => '3'  %></li>
  <li class="follow-<%= station.id %>"><%= follow_station(station.id, station.follows_count) %></li>
</ul>