<%- second_level = action_name =~ /index/i || @primary.nil?
    separate = second_level ? '' : 'after'

    if !second_level
  -%>
  <div id="breadcrumbs">
    <%= link_to 'Home', '/', :class => 'after' %>
    <%= link_to controller_name.capitalize, '/' + controller_name, :class => separate if second_level %>
    <%- if !second_level -%>
      <%= link_to @primary.class.name.pluralize, send("#{@primary.class.name.downcase.pluralize}_path"), :class => separate + ' highlight' %>
      <%= link_to @primary.get_title, @primary %>
    <%- end -%>

  </div>
<% end %>