<% if controller_name != 'main' %>
  <% separate = 'after' if action_name == 'show'
     title = get_title(@primary) %>
  <div id="breadcrumbs">
    <%= link_to 'Home', '/', :class => 'after' %>
    <%= link_to controller_name.capitalize, '/'+controller_name, :class => separate %>
    <%= link_to title, @primary if action_name == 'show' %>
  </div>
<% end %>

<% if !user_signed_in? %>
  <form id="begin">
    <a href="#" class="control close pictos">D</a>
    <input id="what-i-like" type="text" name="what_i_like" placeholder="What do you like to listen to?" alt="Just type any artists, genres, or songs you like" />
    <input id="create-station" type="submit" value="Create Station" />
  </form>
<% end %>