<% if controller_name != 'main' %>
  <% separate = 'after' if action_name == 'show' %>
  <div id="breadcrumbs">
    <%= link_to 'Home', '/', :class => 'after' %>
    <%= link_to controller_name.capitalize, '/'+controller_name, :class => separate %>
    <%= link_to @primary.get_title, @primary if action_name == 'show' %>
  </div>
<% end %>

<div id="begin">
  <ul id="tags"></ul>
  <div id="suggestions"><%= @suggestions %></div>
  <button id="create-station" class="add">Create Station</button>
</div>
