  <h2>Browse</h2>
  <div class="nav-container">
    <nav class="nav-menu">
      <%= nav_link_to 'Blogs', browse_path %>
      <%= nav_link_to 'Artists', artists_path %>
      <%= nav_link_to 'Users', users_path %>
    </nav>
  </div>