  <h1>Browse</h1>
  <div class="nav-container">
    <nav class="nav-menu">
      <%= nav_link_to 'Blogs', blogs_path %>
      <%= nav_link_to 'Artists', artists_path %>
      <%= nav_link_to 'Users', users_path %>
    </nav>
  </div>