<% icon, title, method, path = (action == 'add') ? 
    ['+','Add song to your station', :post, "/broadcasts/#{id}"] :
    ['2','Remove song from your station', :delete, "/broadcasts/#{id}" ]
%>
  <span class="count"><%= count %></span>
  <%= link_to icon, path, class: "broadcast-song #{action} control tip pictos", title: title, remote: true, method: method %>