<% icon, title, method, path = (action == 'add') ?
    ['k','Hover to like this song', :post, "/broadcasts/#{id}"] :
    ['2','Remove song from your station', :delete, "/broadcasts/#{id}" ]
%>

  <span class="count"><%= count %></span>
  <%= link_to "#{icon}".html_safe, path, class: "broadcast-song #{action} pictos control", title: title, remote: true, method: method %>