<div class="title">
  <h2><%= @station.id == 10 ? 'Popular Songs' : 'New Songs' %></h2>
</div>

<ul class="subnav">
  <li><%= link_to 'New Songs', '/songs/fresh' %></li>
  <li><%= link_to 'Popular Songs', '/songs' %></li>
</ul>