<div class="title">
  <h2><%= @station.name %></h2>
  <ul class="subnav">
    <li><%= link_to 'New Songs', 'songs/fresh' %></li>
    <li><%= link_to 'Popular Songs', 'songs' %></li>
  </ul>
</div>