<div class="title">
  <h1>Just In</h1>
  <p class="sub">The newest songs found on <%= link_to 'music blogs', blogs_path %> from around the web.</p>
</div>

<div class="whole">
  <%= render :partial => 'stations/playlist', :locals => { :station => @just_in_station, :songs => @just_in_songs } %>
</div>