<div class="title">
  <h2>New Songs</h2>
</div>

<div class="twothirds">
  <%= render :partial => 'stations/table', :locals => { :station => @station } %>
</div>

<div class="third">
  <h3>Something</h3>
</div>