<%= render 'main/nav', :locals => { :title => 'Popular' } %>

<div class="whole">
  <%= render :partial => 'stations/playlist', :locals => { :station => @popular, :songs => @popular_songs } %>
</div>