<div class="title">
  <h2>Popular Songs</h2>
</div>

<div class="twothirds">
  <%= render :partial => 'stations/playlist', :locals => { :station => @popular, :songs => @popular_songs } %>
</div>

<div class="third">
  <h3>Something</h3>
</div>