<div class="title">
  <h2>Popular Songs</h2>
</div>

<div class="grid">
  <div class="twothirds">
    <%= render :partial => 'stations/playlist', :locals => { :station => @popular } %>
  </div>

  <div class="third">
    <h3>New Songs</h3>
    <%= render :partial => 'stations/playlist', :locals => { :station => @new } %>
  </div>
</div>