<%- cache("playlist_popular") do -%>
<div class="whole">
  <h2>Recently Popular</h2>
  <p class="sub">The most recently popular songs from <%= link_to 'music blogs', '/blogs' %> around the web.</p>
  <%= render :partial => 'stations/playlist', :locals => { :station => @popular, :songs => @popular_songs, :classname => 'open' } %>
</div>
<%- end -%>