<div class="content">
  <h2>Popular Songs</h2>
  <%= render :partial => 'stations/playlist', :locals => { :station => @popular } %>
</div>

<div class="side">
  <h3>New Songs</h3>
  <%= render :partial => 'stations/playlist', :locals => { :station => @new } %>

</div>