<div class="title">
  <%= image_tag @song.image.url(:small), :class => 'icon' %>
  <h2 class="icon">
    <%= @song.name %>
    <small>by artist</small>
  </h2>
</div>

<div class="twothirds">
  <h3>Posted on <%= pluralize @song.stations.size, 'station' %></h3>
  <div id="station-list">
    <%= render @song.stations %>
  </div>
</div>