<div class="whole">
  <h1>Popular Songs</h1>
  <p class="sub">The most liked songs today.  Found on top <%= link_to 'music blogs', '/blogs' %> all over the web.</p>
  <%= render :partial => 'stations/playlist', :locals => { :station => @trending, :songs => @trending_songs, :classname => 'open' } %>
</div>