<div class="title">
  <h1><%= @title %></h1>
  <p class="sub">The most liked songs on 2u.fm today.  Found on top <%= link_to 'music blogs', blogs_path %> all over the web.</p>
</div>

<div class="whole">
  <%= render partial: 'stations/playlist', locals: { station: @trending, songs: @trending_songs, classname: 'open show-count' } %>
</div>