@import "../base/mixins.css.scss";

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (min-width: 680px) {
  .playlist section {
    &:hover {
      background: rgba(255,255,255,0.05);
      &:after { visibility: visible; }
      .song-controls {
        a, a:before { color: #fff; }
      }
    }

    &:nth-child(2n+1):hover { background: rgba(255,255,255,0.04); }
  }
}

/* iPad [portrait + landscape] */
@media screen and (min-width: 768px) and (max-width: 1024px) {
}

/* iPhone [portrait + landscape] */
@media screen and (max-width: 680px) {
  body, header { min-width: 365px; }
  #welcome { display:none; }
  #breadcrumbs { display:none; }
  #search-form { left: $navbar-width + 280 ; }
  #body { margin-left: 0; }

  body.show-nav {
    #body {
      display: none;
    }

    #navbar {
      position: fixed;
      display: block;
      top: $header-height;
      left: 0;
      right: 0;
      bottom: 100px;
      width: auto;
      overflow-y: scroll;
    }
  }

  #navbar {
    display: none;

    #navbar-menus {
      height: auto !important;
    }

    #navbar-menus-inner {
      padding: 0;
    }

    #nav-home {display:none;}

    a {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      font-size: 18px !important;
    }

    #navbar-friends {
      width: auto;
    }

    .scroll-section,
    .scroll-section-inner {
      height: auto !important;
    }
  }

  #player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left:10px;
  }

  #search-form {
    position: relative;
    left: auto;
    right: auto;
    top: 10px;
    margin: 5px 20px !important;
  }

  #mobile-nav {
    display: block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 3px;
    left: 88px;
    color: #fff;
    font-size: 32px;
    padding: 12px 0 0 10px;
    line-height: 1em;
    @include box-sizing(border-box);
  }

  #player-main {
    right: 20px;
    left: 110px;
  }

  #player-meta {
    padding: 3px;
    white-space: nowrap;
    overflow: hidden;
    height: 40px;

    span {
      text-align: left;
    }

    &:before, &:after {
      display: none;
    }
  }

  #player-progress-bar {
    position: fixed;
    top: auto;
    bottom: 60px;
    left: 0;
    right: 0;
    height: 30px;
    background: #333;

    #player-progress-position,
    #player-progres-loaded {
      height: 40px;
    }

    #player-progress-position {
      background: #000;
    }
  }

  #player-mini-controls {
    top: -24px;
    left: auto;
    right: 5px;
    z-index: 1000;

    a {
      width: 38px;
      padding-top: 46px;
      &:before { font-size: 34px; margin-top:4px; }
    }
  }

  #player-timer {
    display: none;
  }

  #player-song-name {
    margin: 3px 0 4px 0;
    a {font-size: 16px;}
  }

  #player-artist-name {
    margin: 0 0 0 -4px;
  }

  .twothirds, .threefourths {
    margin-right: 0;
  }

  .third, .fourth {
    padding-left: 20px;
    clear: both;
    float: none;
    width: auto;
  }

  .playlist {
    section {
      .song-count { display: none !important; }
      .song-art { display: none; }
      h3,
      .song-meta { margin-left: 0; }
    }

    .song-meta {
      .song-meta-pre {
        display: block;
        float: none;
      }

      .song-controls {
        display: none;
      }

      .song-meta-pre {
        margin-top: -5px;
      }
    }

    .active .song-meta .song-controls {
      display: block;
      margin-top: 10px;
    }
  }

  .fourth { padding-left: 0; }

  .genres li {
    width: 50%;
  }

  body.modal-shown {
    #body-wrap {
      display: none;
    }
  }

  #modal {
    position: relative;
    width: auto;
    top: 0 !important;
    left: 0;
    right: 0;
    bottom: 0 !important;
    margin: 0;
    z-index: 1000;
    display: none;

    .greater, .lesser {
      width: auto;
      float: none;
      margin-bottom: 20px;
    }

    .stations {
      max-height: none;
    }
  }

  #modal.shown {
    display: block;
  }
}