
@media screen and (max-width: 1000px) {
  .promo a {width: 31.3%;}

  .twothirds .playlist-song section {
    h1 { margin-right: 80px; }
    .song-meta { right: 15px; }
    .song-art { display: none; }
  }
}

@media screen and (max-width: 800px) {
  .promo a {width: 48%;}

  .twothirds-wrap {
    margin-right: 0;
    float: none;

    .twothirds {
      margin-right: 0;
    }
  }

  .third {
    display: none;
  }
}