@media screen and (min-width: 1100px) {
  .twothirds-wrap {
    margin-right: -331px;

    .twothirds {
      margin-right: 331px;
    }
  }

  .third {
    width: 330px;
  }
}

@media screen and (max-width: 1024px) {
  .promo div a {width: 31.3%;}
}

@media screen and (max-width: 920px) {
}

@media screen and (max-width: 768px) {
  .twothirds-wrap {
    margin-right: 0;
    float: none;

    .twothirds {
      margin-right: 0;
    }
  }

  .third {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .promo div a {width: 48%;}

  #main-mid #navbar section {
    width: auto;
    position: relative;
    margin-left: 0 !important;
    left: 0;
  }

  header form #query {
    width: 100px;
  }

  #navbar {
    section {
      h1 {
        display: none;
      }

      &.middle {
        width: 184px;
        margin-left: -92px;
      }
    }
  }

  #player #player-main {
    right: 180px;
  }

  .whole .playlist-song section {
    h1 { margin-right: 80px; }
    .song-meta { right: 15px; }
    .song-art { display: none; }
  }

  .primary .playlist-song section {
    h1 {
      padding-right: 0;
    }

    .song-player .waveform-wrap {
      right: 0;
    }
  }
}

@media screen and (max-width: 480px) {
  .promo div a { width: 98%; }

  header h1 {
    width: 20px;
    overflow: hidden;
  }

  #bar {
    left: 20px;
  }

  header form {
    display: none;
  }

  #player #player-main {
    right: 20px;
  }
}