<div class="nav-container">
  <div class="title">
    <h2>About 2u.fm</h2>

    <nav class="nav-menu">
      <%= nav_link_to 'About Us', about_main_path %>
      <%= nav_link_to 'Legal', legal_main_path %>
      <%= nav_link_to 'Privacy', privacy_main_path %>
      <%= nav_link_to 'Contact', contact_main_path %>
    </nav>
  </div>
</div>