<%= render 'title' %>

<div class="whole explanation">
  <h3>Better Music Discovery &amp; Sharing</h3>
  <p>We are creating the best platform for finding new music and following the artists you love.  Our focus is to create a seamless experience for browsing the newest music from all over the web, and allowing you to share it with your friends.</p>

  <h3>How it works</h3>
  <p>We find music from music sites all over the web.  From Pitchfork and other popular magazines, to niche blogs that post amazing original content.  We then parse the artists on each song and put the songs on the artist's stations.  You can follow artists, blogs, and other people to build your own feed of all of the latest music you love!</p>

  <h3>Our Goal</h3>
  <p>We are big fans of many of the current online music discovery services.  But we want to build a music site improves and add other features we wish they had to make it a complete alternative music experienece.  Our hope is to provide users with the most full featured way to find new music as well as have an amazing place to show off your favorites and share them with friends.</p>

  <h3>Features</h3>
  <h4>Following</h4>
  <p>Follow your friends to listen to the music they like. Follow artists to hear their latest releases.  Follow music blogs to get all their newest music</p>

  <h4>Sharing</h4>
  <p>Share songs with any number of friends, instantly!  Sharing is one-click to anyones inbox.  We strongly recommend linking your 2u.fm account with Facebook so you can easily find all your friends.  We don't take your personal information (just your name and email).</p>

  <h4>Social</h4>
  <p>We make sharing music with friends a one-click experience.  Instant sharing and live listening is just the first step for us.  We hope to bring together the easiest ways to talk about your favorite music</p>

  <h4>Live listening</h4>
  <p><strong>Beta</strong> When you see a friend online on the side menu, click the "@" symbol next to their name to tune into what they are listening to, in real time.  When they change a song, you hear it right away and totally in sync!  Now it's super easy to listen to music with your friends and show them your favorite parts.</p>

  <h4>Backend</h4>
  <p>Our parsing engine is second to none.  No where else can you filter by artists and see all the remixes, covers, and other music filters that we offer.</p>
</div>