<%= render 'title' %>

<div class="whole">
  <p>
    Discover new music and share it with friends.  That is what 2u.fm is all about, creating the best social platform for music discovery.
  </p>

  <p>

  </p>
</div>