<%= render 'title' %>

<div class="whole explanation">
  <h3>Better Music Discovery &amp; Sharing</h3>
  <p>We are creating the best platform for finding new music and following the artists you love.  Our focus is to create a seamless experience for browsing the newest music from all over the web, and allowing you to share it with your friends.</p>

  <h3>How it works</h3>
  <p>We find music from music sites all over the web.  From Pitchfork and other popular magazines, to niche blogs that post amazing original content.  We then parse the artists on each song and put the songs on the artist's stations.  You can follow artists, blogs, and other people to build your own feed of all of the latest music you love!</p>

  <h4>Following</h4>
  <p>Follow your friends to listen to the music they like. Follow artists to hear their latest releases.  Follow music blogs to get all their newest music</p>

  <h4>Sharing</h4>
  <p>We strongly recommend linking your 2u.fm account with Facebook so you can follow all your friends.  We don't take your personal information (just your name).  By doing so you can easily follow all of your Facebook friends and share music with them with one click.  Of course you could do it without, but you will have to find all their stations on your own!</p>

  <h4>Live listening</h4>
  <p><strong>Beta</strong> When you see a friend online on the side menu, click the "@" symbol next to their name to tune into what they are listening to, in real time.  When they change a song, you hear it right away and totally in sync!  Now it's super easy to listen to music with your friends and show them your favorite parts.</p>

  <h3>What makes us different</h3>
  <p>We have a lot of respect for many the current online music discovery services.  We just want to bring together a few things we like from them and more importantly improve and add other features to make the experience complete.  Our hope is to provide users with the most full featured alternative music service as an amazing profile to show off all your favorite music.</p>

  <h4>Social</h4>
  <p>We make sharing music with friends a one-click experience.  Instant sharing and live listening is just the first step for us.  We hope to bring together the easiest ways to talk about your favorite music</p>

  <h4>Backend</h4>
  <p>Our parsing engine is second to none.  No where else can you filter by artists and see all the remixes, covers, and other music filters that we offer.</p>
</div>