<%= render 'title' %>

<div class="whole explanation">
  <h2>Better Music Discovery &amp; Sharing</h2>
  <p>We are creating the best platform for finding new music and following the artists you love.</p>
  <p>Our focus is to create a seamless experience for browsing the newest music from all over the web, and allowing you to share it with your friends.</p>

  <h2>How it works</h2>
  <h3>How we get music</h3>
  <p>We crawl music blogs for the newest singles, remixes, bootlegs, mashups, and more.</p>

  <h3>Following</h3>
  <p>Follow your friends to listen to the music they like. Follow artists to hear their latest releases.  Follow music blogs to get all their newest music</p>

  <h3>Sharing</h3>
  <p>We highly recommend linking Facebook with 2u.fm.  We don't take your personal information (just your name).  By doing so you can easily follow all of your Facebook friends and share music with them with one click.  Of course you could do it without, but you will have to find all their stations on your own!</p>

  <h3>Live listening</h3>
  <p><strong>Beta</strong> When you see a friend online on the side menu, click the "@" symbol next to their name to tune into what they are listening to, in real time.  When they change a song, you hear it right away and totally in sync!  Now it's super easy to listen to music with your friends and show them your favorite parts.</p>

  <h2>What makes us different</h3>
  <h3>Features &amp; ease of use</h3>
  <p>We have a lot of respect for many other online music discovery services.  We just want to bring together a few things we haven't seen on the web yet.  Our hope going forward is to provide users with the most full featured alternative music service as well as an amazing profile for all your favorite stuff.</p>

  <h3>Social</h3>
  <p>We also want to make sharing and interacting with friends easier.  Instant sharing and live listening is just the first step for us.  We hope to bring together the easiest ways to talk about your favorite music</p>

  <h3>Backend</h3>
  <p>Our parsing engine is second to none.  No where else can you filter by artists and see all the remixes, covers, and other music filters that we offer.</p>
</div>