<%= render 'title' %>

<div class="whole">
  <h3>Better Music Discovery &amp; Sharing</h3>
  <p>
    We are creating the best platform for finding new music and following the artists you love.  Our focus is to create a seamless experience to browse the newest music from all over the web, and allow you to share it with your friends.
  </p>
</div>