<%= render 'title' %>

<div class="whole explanation">
  <p>Follow us on twitter <a href="https://twitter.com/2u_fm" class="popup">@2u_fm</a></p>

  <p>Or shoot an email to admin@2u.fm while we get this page figured out.</h3>
</div>