<div class="whole">
  <h3>Recommended Artists</h3>
  <%= render partial: 'stations/featured_shelf', locals: { items: @artists  } %>

  <h3>Featured blogs</h3>
  <%= render partial: 'stations/featured_shelf', locals: { items: @blogs  } %>

  <h3>Today's most liked songs</h3>
  <%= render partial: 'stations/playlist', locals: { station: @trending, songs: @trending_songs, classname: 'show-count', dont_paginate: true } %>
</div>