<%= render 'title' %>

<div class="whole">
  <h3>Plain English</h3>
  <p>We promote artists and their music through music blogs.</p>

  <h3>Fancy English</h3>
  <p>
    2u.fm wants to help promote new music discovery.  Our policy is to only index blogs that do the same, without violating copyright.  Our hope is that we provide listeners with promotional music that artists release for free to their listeners, and that is then promoted through the blogs we index.
  </p>

  <p>
    We work hard to ensure the music on our site can only be used for promotional purposes.  We hash and compress our music files so they cannot be easily downloaded.

  <p>If you find any music on 2u.fm that is under your copyright and that you'd like to see removed, please do contact us with a request.  We are music fans, and we want to help the industry and not hurt it.  We will take down any music that should not be posted for general listening.</p>
</div>