<%= render 'title' %>

<div class="whole explanation">
  <h3>The Short &amp; Sweet</h3>
  <p>
    2u.fm understands you care about how your personal information is used.  We take your privacy seriously.
  </p>

  <p>
    We collect information relating to actions you take when you are logged in, without your name.  We may use this information to target results and promotions within our site to you.  But we do not, in any case, share the information we collect 3rd parties.
  </p>

  <p>
    We cannot control the third party advertising services we use, and they do collect information based on your session (but we do not provide them with any of your account information).
  </p>
</div>