@import 'bourbon';

/*  header  */
$header-color: #3478b3;
$header-light: lighten($header-color, 15%);
$header-dark: darken($header-color, 5%);
$header-height: 60px;
$header-shadow: rgba(255,255,255,0.15);

/*  navbar  */
$navbar-bg: #444;
$navbar-dark: darken($navbar-bg,6%);
$navbar-link: lighten($navbar-bg, 55%);
$navbar-heading: lighten($navbar-bg, 35%);

/* body */
$body-bg: #424242;
$body-dark: darken($body-bg,2.5%);
$body-light: lighten($body-bg,2.5%);
$body-darker: darken($body-bg,5%);
$body-lighter: lighten($body-bg,5%);

/* gutter */
$gutter-color: #2b2b2b;
$gutter-dark: darken($gutter-color, 2%);
$gutter-width: 40px;

/* links */
$link-color: #ccc;
$link-hover: #fff;

/* layout widths */
$width: 690px;
$query-width: 150px;

$browse-height: 120px;

$heading-color: #fff;
$heading-color-light: lighten($heading-color,20%);
$heading-color-dark: darken($heading-color, 20%);

$button-bg: lighten($header-color,10%);
$button-border-color: darken($button-bg,7%);
$button-color: #fff;

$primary: #1a98e0;
$primary-light: lighten($primary,10%);
$primary-dark: darken($primary,10%);

$title: #000;
$border: #555;

$bar-bg: #444;

$lightest-blue: #e8f5fc;
$lighter-blue: darken($lightest-blue,5%);
$light-blue: darken($lightest-blue,10%);

$green: #239708;
$light-green: lighten($green,6%);
$dark-green: darken($green,6%);

$orange: #eb983f;
$light-orange: lighten($orange,6%);
$dark-orange: darken($orange,6%);

$light-grey: #f6f6f6;

$playing: #666;
$light-yellow: #ffd;
$lighter-yellow: #fcfbec;

$cover-medium-border: 7px;

$invite-color: $green;


@mixin dim($percent) {
  background: rgba(0,0,0,$percent/100);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000$percent,endColorstr=#000000$percent);
}

@mixin light($percent) {
  background: rgba(255,255,255,$percent/100);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff$percent,endColorstr=#ffffff$percent);
}

@mixin background-gradient($start: #fff, $stop: #000) {
  @include linear-gradient($start, $stop);
  background-color: none;
}

@-webkit-keyframes rotation {
    50% { -webkit-transform: rotate(180deg); }
    100% { -webkit-transform: rotate(360deg); }
}