@import 'bourbon';

/*  Colors  */

$title: #000;
$border: #555;
$link-color: #0c4e92;
$link-hover: #198dd0;

$bar-bg: #444;

$light-blue: #e6eef2;
$lighter-blue: #dfecf4;
$lightest-blue: #e8f5fc;
$light-grey: #f6f6f6;
$playing: #666;
$light-yellow: #ffd;
$lighter-yellow: #fcfbec;


@mixin dim($percent) {
  background: rgba(0,0,0,$percent/100);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000$percent,endColorstr=#000000$percent);
}

@mixin light($percent) {
  background: rgba(255,255,255,$percent/100);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff$percent,endColorstr=#ffffff$percent);
}

@mixin background-gradient($start: #fff, $stop: #000) {
  background-color: $stop;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from($start), to($stop));
  background-image: -moz-linear-gradient(top, $start, $stop);
  background-image: -ms-linear-gradient(top, $start, $stop);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $start), color-stop(100%, $stop));
  background-image: -webkit-linear-gradient(top, $start, $stop);
  background-image: -o-linear-gradient(top, $start, $stop);
  background-image: linear-gradient(top, $start, $stop);
}