@import "mixins.css.scss";

#directory-list {
  margin: 0 0 0 -20px;

   section {
     float: left;
     margin: 0 0 20px 20px;
     width: 300px;
     position: relative;
     @include box-shadow(0,0,4px,#000);
     @include border-radius(8px);
     
     img {
        @include border-radius(8px);
     }
     
     h3 {
       line-height: 1em;
       position: absolute;
       width: 100%;
       padding: 0;
       background: none;
       display: block;
       border: none;
       font-size: 18px;
       height: 45px;
        
      a {
        color: #fff;
        text-shadow: 0 2px 2px #000;
        background: url(/images/dim75.png);
        padding: 16px;
        display: block;
        text-decoration: none;
         @include border-radius-top(7px);
      }
     }
     
     p {
       margin: 0;
       position: absolute;
       bottom: 0;
       height: 4.1em;
       padding: 10px 20px;
       background: url(/images/dim.png);
       color: white;
       overflow: hidden;
       text-shadow: 0 1px 2px #000;
       overflow: hidden;
       height: 5em;
       width: 260px;
        @include border-radius-bottom(4px);
     }
     
     .follow {
       position: absolute;
       z-index: 97;
       right: 10px;
       top: 60px;
       
       .count { display: none; }
       .button { @include box-shadow(0,0,20px,rgba(0,0,0,0.5)); }
     }
   } 
}


.image {
  margin: 0 0 20px 0;
  
  img {
    @include border-radius(8px);
  }
}