@import "mixins.css.scss";

#directory-list {
  margin: 0 0 0 -20px;

   section {
     float: left;
     margin: 0 0 20px 20px;
     width: 300px;
     position: relative;
     @include box-shadow(0,0,3px,#000);
     @include border-radius(8px);
     
     img {
        @include border-radius(8px);
     }
     
     h3 {
       line-height: 1em;
       position: absolute;
       width: 100%;
       padding: 0;
       background: none;
       display: block;
       border: none;
       font-size: 18px;
       height: 45px;
        
      a {
        color: #fff;
        text-shadow: 0 2px 2px #000;
        background: url(/images/dim75.png);
        padding: 16px;
        display: block;
        text-decoration: none;
         @include border-radius-top(7px);
      }
     }
     
     p {
       margin: 0;
       position: absolute;
       bottom: 0;
       height: 4.1em;
       padding: 10px 20px;
       background: url(/images/dim.png);
       color: white;
       overflow: hidden;
       text-shadow: 0 1px 2px #000;
       overflow: hidden;
       height: 5em;
       width: 260px;
        @include border-radius-bottom(4px);
     }
     
     span {
       position: absolute;
       top: 15px;
       right: 15px;
       z-index: 10;
       
       a {
         padding: 8px;
         background: url(/images/dim.png);
         text-decoration: none;
         text-underline: none;
         text-shadow: 0 2px 2px #000;
         color: #fff;
         font-weight: bold;
       }
     }
   } 
}


#posts {
  section {
    padding: 12px;
  
    &:nth-child(2n+1) {
      background: #333;
    }
  
    span.meta {
      color: #aaa;
      font-size: 12px;
      display: block;
      margin: -0.3em 0 0.5em 0;
    }
    
    p {
      padding: 0 0 20px 0;
      margin: 0 0 12px 0;
    }
    
    h5 {
      margin: 0;
      font-size: 13px;
      text-transform: uppercase;
      color: #fff;
    }
    
    ul {
      margin: 0;
      padding: 0;
      
      li {
        list-style: none;
        margin: 0 0 0 10px;
        padding: 2px 0;
        border-bottom: 1px solid #555;
      }
    }
  }
}