@import "mixins.css.scss";

#body form {
  .field_with_errors {
    color: red;
  }

  .clearfix {
    clear: both;
    margin: 10px 0;
    
    br {
      display: none;
    }
  }
  
  label {
    width: 130px;
    float: left;
    padding: 4px 10px 10px;
    text-align: right;
    color: #666;
  }
  
  .input-text,
  .input-email,
  .input-password,
  textarea {
    padding: 8px 4px;
    font-size: 12px;
    color: #666;
    border: 1px solid #ccc;
    width: 260px;
    float: left;
    outline: none;
    @include border-radius(4px);
    @include box-shadow-inset(0px,1px,3px,#ccc);
    @include transition(border,linear,0.2s);
    @include transition(box-shadow,linear,0.2s);
    
    &:focus {
      border-color: #049adb;
      @include box-shadow(0px,0px,6px,#80cced);
    }
  }
  
  textarea {
    width: 65%;
    height: 200px;
  }
  
  input.right {
    float: right;
  }
  
  span.help {
    display: block;
    max-width: 600px;
    margin: -4px 0 10px 150px;
    clear: both;
    color: #bfbfbf;
    font-size: 12px;
  }
  
  .actions {
    background: #f5f5f5;
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 17px 20px 18px 150px;
    border-top: 1px solid #ddd;
    @include border-radius-bottom(5px);
    
    &.nopad {
      padding-left: 0;
    }
  }
}

.edit-station {
  margin: -12px 0 0;
}
