@import "mixins.css.scss";

#body form {
  .field_with_errors {
    color: red;
  }
  
  #error_explanation {
    h2 {
      background: #811810;
      color: #fff;
      padding: 4px 8px;
      margin: 0;
      font-size: 18px;
      @include border-radius(4px);
    }
    
    ul {
      margin: .7em 0 1.4em;
      color: #999;
    }
  }
  
  h3 {
    border: none;
    font-size: 18px;
  }

  .clearfix {
    clear: both;
    
    br {
      display: none;
    }
  }
  
  label {
    width: 130px;
    float: left;
    padding: 4px 10px 10px;
    text-align: right;
    color: #666;
  }
  
  .input-text,
  .input-email,
  .input-password,
  textarea {
    padding: 8px 4px;
    font-size: 12px;
    color: #666;
    border: 1px solid #ccc;
    width: 260px;
    float: left;
    outline: none;
    @include border-radius(6px);
    @include box-shadow-inset(0px,1px,3px,#ccc);
    @include transition(all,linear,0.2s);
    
    &:focus {
      border-color: #049adb;
      @include box-shadow(0px,0px,8px,#80cced);
    }
  }
  
  .input-checkbox {
    margin: 10px;
  }
  
  textarea {
    width: 65%;
    height: 200px;
  }
  
  input.right {
    float: right;
  }
  
  span.help {
    display: block;
    max-width: 600px;
    margin: -4px 0 0 150px;
    clear: both;
    color: #bbb;
    font-size: 12px;
  }
  
  .actions {
    background: #f5f5f5;
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 17px 20px 18px 150px;
    border-top: 1px solid #ddd;
    @include border-radius-bottom(5px);
    
    &.nopad {
      padding-left: 0;
    }
    
    p {
      float: left;
      margin: 5px 0 0 20px;
      
      a {
        margin: 0 20px 0 0;
        font-size: 12px;
      }
    }
  }
}

.edit-station {
  margin: -12px 0 0;
}
