@import "mixins.css.scss";

/* Layout */

body {
  background: #eee;
}

.page-contain {
  width: 980px;
  margin: 0 auto;
  position: relative;
}


/* Header */

header {
  background: #333;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  line-height: 1em;
  
  h1 {
    margin: 3px 10px 0 0;
    float: left;
  
    a {
      background: url(/images/logo.png) no-repeat 0 8px;
      width: 82px;
      height: 60px;
      text-indent: -3000em;
      overflow: hidden;
      float: left;
      
      &:hover {
        background-position: 0 -50px;
      }
    }
  }

  nav {
    float: left;
    margin: 0;
    
    li {
      float: left;
      
      &.active {
        background: url(/images/dim.png);
        
        a { color: #fff; }
      }
      
      a {
        padding: 46px 6px 8px 6px;
        color: #ddd;
        text-shadow: 0 -1px 1px black;
        float: left;
        text-decoration: none;
        font-weight: bold;
        font-size: 11px;
        text-transform: uppercase;
        width: 60px;
        text-align: center;
        background: url(/images/head_icons.png) no-repeat 8px -6px;

        &:hover {
          color: #fff;
          background-position: 8px -66px;
        }

        &#nav-stations {
          background-position: -54px -6px;
          &:hover { background-position: -54px -66px; }
        }
        
        &#nav-activity {
          background-position: -114px -6px; 
          &:hover { background-position: -114px -66px; }
        }
      }
    }
  }
  
  .nav {
    float: right;
    position: relative;
    margin: 24px 0 0 0;
    min-width: 118px;
    
    a {
      font-size: 12px;
      color: #ccc;
      text-shadow: 0 -1px 1px black;
      text-transform: uppercase;
      font-weight: bold;
      display: block;
      float: left;
      padding: 4px 8px;
      max-width: 131px;
      text-align: right;
      white-space: nowrap;
      overflow: hidden;
      text-decoration: none;
      
      &:hover {color: #fff;}
      
      &.inline {
        width: auto;
      }
      
      abbr {
        border-bottom: none;
      }
    }
    
    &.open {
      .nav-dropdown {
        display: block !important;
      }
    }
    
    .nav-dropdown {
      position: absolute;
      top: 49px;
      left: -70px;
      width: 200px;
      background: #333;
      display: none;
      padding: 0 0 10px 0;
      @include border-radius-bottom(5px);
      @include box-shadow(0,2px,2px,#444);
      
      a {
        display: block;
        text-align: left;
        width: 92%;
      }
    }
  }
  
  form {
    float: right;
    margin: 21px 12px 0;
    
    #query {
      float: right;
      border: none;
      padding: 7px 12px;
      width: 150px;
      color: #ccc;
      background: url(/images/dim.png);
      border: none;
      outline: none;
      font-size: 13px;
      @include border-radius(18px);
      
      &:hover {
        background: #555;
        background: rgba(0,0,0,0.1);
      }
      
      &:focus {
        background: #fff;
        color: #333;
      }
    }
  }
  
  #player {
    position: absolute;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    padding: 10px 8px 6px;
    overflow: hidden;
    white-space: nowrap;
    background: #222;
    border: 1px solid #444;
    border-top: none;
    border-bottom: none;
    
    &.playing {
      #player-controls {
        .play {
          background-position: -120px 0;
          &:hover { background-position: -120px -23px; }
          &:active { background-position: -120px -46px; }
        }
      }
    }
  
    #player-meta {
      margin: -3px 0 0;
      
      a {
        color: #fff;
        text-decoration: none;
        text-shadow: 0 1px #000;
        text-align: center;
        display: block;
        width: 100%;
        
        &:hover {
          color: #fff;
        }
      }
      
      #player-song {
        font-weight: bold;
      }
      
      #player-artist {
        width: 65%;
        margin: 6px auto -2px;
        overflow: hidden;
        font-size: 12px;
        color: #ccc;
        height: 14px;
      }
    }
    
    #player-controls {
      margin: 0;
    
      a {
        float: left;
        width: 23px;
        height: 23px;
        margin: 0 2px;
        text-indent: -3000em;
        overflow: hidden;
        background: url(/images/player_controls.png) no-repeat;
      }
      
      .play {
        &:hover { background-position: 0 -23px; }
        &:active { background-position: 0 -46px; }
      }
      
      .next {
        background-position: -22px 0;
        &:hover { background-position: -22px -23px; }
        &:active { background-position: -22px -46px; }
      }
      
      .fav {
        margin: 0 6px 0 0;
        background-position: -68px 0;
        &:hover { background-position: -68px -23px; }
        &:active { background-position: -68px -46px; }
      }
      
      .radio {
        background-position: -91px 0;
        &:hover { background-position: -91px -23px; }
        &:active { background-position: -91px -46px; }
      }
    
      #player-progress-bar {
        background: #000;
        float: left;
        height: 6px;
        width: 55%;
        margin: 9px 12px 0;
        border-bottom: 1px solid #3b3f4b;
        position: relative;
        @include border-radius(8px);
        
        &:hover {
          cursor: pointer;
        }
        
        #player-progress-position {
          position: absolute;
          z-index: 1;
          background: url(/images/button_bg.png) top;
          width: 0%;
          height: 6px;
          @include border-radius(4px);
          
          .progress {
            display: block;
            width: 23px;
            height: 23px;
            position: absolute;
            top: -9px;
            right: -18px;
            text-indent: -3000em;
            overflow: hidden;
            background: url(/images/player_controls.png) no-repeat -46px 0;
            
            &:hover {
              background-position: -46px -23px;
            }
            
            &:active {
              background-position: -46px -46px;
            }
          }
        }
        
        #player-progress-loaded {
          z-index: 0;
          background: #222;
          width: 0%;
          height: 6px;
          @include border-radius(4px);
        }
      }
    }
  }
}

#jquery-live-search {
	background: #fff;
	padding: 5px 10px;
	max-height: 400px;
	overflow: auto;
	position: absolute;
	z-index: 99;
	border: 1px solid #A9A9A9;
	border-width: 0 1px 1px 1px;
	z-index: 100;
}


/* PAGE LAYOUT */
.third, .twothirds,
.fourth, .half,
.whole {
  float: left;
  margin-left: 20px;
  position: relative;
}

.third     { width: 300px; }
.twothirds { width: 620px; }
.fourth    { width: 220px; }
.half      { width: 460px; }
.whole     { width: 940px; }

#main-mid {
  padding: 82px 0 25px 0;
}

#body {
  background: #fff;
  overflow: hidden;
  position: relative;
  border: 1px solid #c1d3e3;
  @include border-radius(10px);
  
  .title {
    padding: 15px 20px;
    margin: 0 0 20px 0;
    background: #d8edff url(/images/bg.jpg) -130px -220px;
    border-bottom: 1px solid #c1d3e3;
    color: #777;
    position: relative;
    @include border-radius-top(10px);

    h2 {
      color: #444;
      font-size: 32px;
      margin: 0;
      
      &.icon {
        clear: none;
        float: left;
        width: 80%;
        margin: 0;
      }
    }

    h3 {
      font-size: 24px;
      margin: 0;
    }

    p {
      font-size: 18px;
      line-height: 1.8em;
      margin-bottom: 0;
    }

    small {
      display: block;
      line-height: 1.4em;
      margin: 5px 0 0;
    }

    .icon {
      float: left;
      margin: 10px 20px 10px 0;
    }
  }
}


.feature {
  clear: both;
  padding: 20px;
  border: 1px solid #eee;
  border-right: none;
  border-left: none;
}



/* NOTICE */

#dialog {
  text-align: center;
  background: url(images/dialog_bg.png) repeat-x top;
  height: 40px;
  line-height: 2.9em;
  color: white;
  margin: 0 0 15px 0;
  text-shadow: 0 -1px 0 #579357;
  font-weight: bold;
  @include border-radius(4px);
  
  &.alert {
    text-shadow: 0 -1px 0 #a84a43;
  }
}

/*  LOADING SPINNER  */

#loading {
  width: 100%;
  text-align: center;
  position: relative;
  margin: 30px 0;
  
  img {
    display: block;
    margin: 0 auto;
  }
  
  span {
    top: 40%;
    position: relative;
    z-index: 10;
    color: #999;
    border: none;
  }
}


/* HEADING AND TEXT STYLES */

h2, h3 {
  padding: 0;
  color: #444;
  font-size: 30px;
}

h3 {
  font-size: 23px;
}

h2, h3, h4 {
  margin: 0 0 10px 0;
  line-height: 1em;
  clear: both;
  
  small {
    font-size: 75%;
    color: #aaa;
    font-weight: normal;
    
    a {
      color: #ccc;
    }
  }
}

h2 small {
  font-size: 55%;
}

h4 {
  margin: 0 0 0.4em 0;
  font-size: 16px;
}

.side h3 {
  font-size: 18px;
  margin-top: 0.3em;
}

p.description {
  font-size: 16px;
  margin-top: 0;
}



/* NAVIGATION AND PAGINATION */

.pagination {
  font-size: 13px;
  border-right: 1px solid #ccc;
  display: inline-block;
  margin: 20px 0 0;
  @include box-shadow(0px,1px,2px,#ddd);
  @include border-radius-right(3px);
  
  span {
    float: left;
    
    &:first-child {
      @include border-radius-left(3px);
      
      a {
        @include border-radius-left(3px);
      }
    }
  }
  
  span {
    float: left;
  
    a,
    &.current,
    &.gap {
      padding: 9px 16px;
      border: 1px solid #ccc;
      border-right: none;
      float: left;
      text-decoration: none;
    }
    
    &.gap {
      color: #999;
    }
    
    a:hover {
      background: $light-blue;
    }
    
    &.current {
      background: $light-blue;
      font-weight: bold;
    }
  }
}

#soundmanager-debug {
  display: none !important;
}