@import "mixins.css.scss";

/* Layout */

body {
  background: #eee;
  color: #666;
}

#main-mid {
  padding: 43px 0;
}

.page-contain {
  width: 980px;
  margin: 0 auto;
  position: relative;

  #body {
    overflow: hidden;
    position: relative;
    background: #fff;
    @include border-radius-bottom(10px);
  }
}

/* PAGE LAYOUT */
.third, .twothirds,
.fourth, .half,
.whole, .section {
  float: left;
  margin-left: 20px;
  position: relative;
}

.third     { width: 300px; }
.twothirds { width: 620px; }
.fourth    { width: 220px; }
.half      { width: 460px; }
.whole     { width: 940px; }



.feature {
  clear: both;
  padding: 20px;
  border: 1px solid #eee;
  border-right: none;
  border-left: none;
}



/* NOTICE */

#dialog {
  text-align: center;
  background: url(images/dialog_bg.png) repeat-x top;
  height: 40px;
  line-height: 2.9em;
  color: white;
  margin: 0 0 15px 0;
  text-shadow: 0 -1px 0 #579357;
  font-weight: bold;
  @include border-radius(4px);
  
  &.alert {
    text-shadow: 0 -1px 0 #a84a43;
  }
}

/*  LOADING SPINNER  */

#loading {
  width: 100%;
  text-align: center;
  position: relative;
  margin: 30px 0;
  
  img {
    display: block;
    margin: 0 auto;
  }
  
  span {
    top: 40%;
    position: relative;
    z-index: 10;
    color: #999;
    border: none;
  }
}