@import "mixins.css.scss";


/* Layout */
html,body {min-height: 100%;}
body {
  background: #fff;
  color: #666;
  @include linear-gradient(top, #f2f2f2 0%, #fff 5%);
}

a { color: $link-color; }
a:hover { color: $link-hover; }

#main-mid {
  padding: 75px 0 40px;
}

.page-contain,
#dialog {
  width: 980px;
  margin: 0 auto;
  position: relative;

  #body {
    overflow: hidden;
    position: relative;
    padding: 15px 0;
  }
}

footer {
  span.credits {
    font-size: 9px;
    color: #ccc;
    a {color: #ccc;}
  }
}

/* HEADING AND TEXT STYLES */

h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }

h2, h3, h4 {
  line-height: 1em;
  padding: 0;
  margin: 0 0 15px 0;
  color: #000;

  small {
    font-size: 75%;
    color: #aaa;
    font-weight: normal;

    a {
      color: #ccc;
    }
  }
}

h2 small { font-size: 55%; }

/* PAGE LAYOUT */
.third, .twothirds,
.fourth, .half,
.whole, .section {
  float: left;
  margin-left: 20px;
  position: relative;
}

.third     { width: 300px; }
.twothirds { width: 620px; }
.fourth    { width: 220px; }
.half      { width: 460px; }
.whole     { width: 940px; }

.third, .twothirds, .fourth, .half, .whole {
  .third, .twothirds, .fourth, .half, .whole {
    margin-left: 0;
  }
}

.feature {
  clear: both;
  padding: 20px;
  border: 1px solid #eee;
  border-right: none;
  border-left: none;
}


/* Header */

$header_shadow: rgba(255,255,255,0.8);

body.signed_in header #functions .nav a { padding: 11px 11px 11px 30px; }
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  line-height: 1em;
  border: 1px solid #c8c8c8;
  border-top: none;
  text-shadow: 0 1px 0 $header_shadow;
  @include box-shadow(0 0 6px rgba(0,0,0,0.15));
  @include background-gradient(#f2f2f2,#e1e1e1);

  h1 {
    position: absolute;
    top: -7px;
    left: 3px;
    margin: 0;

    a {
      background: url(/images/2ufm.png) no-repeat top left;
      width: 80px;
      height: 72px;
      overflow: hidden;
      text-indent: -3000em;
      display: block;

      &:hover { color: #fff; }
    }
  }

  nav {
    float: left;
    padding-left: 88px;

    &:hover {
      #station {
        background: #fff;
        @include box-shadow(0 -1px 3px rgba(0,0,0,0.2));
        @include border-top-radius(4px);
      }

      ul {
        display: block;
      }
    }

    #station {
      display: block;
      text-decoration: none;
      white-space: nowrap;
      margin: 7px 5px 0 0;
      padding: 8px 10px 16px;
      position: relative;
      z-index: 1;

      small {
        display: block;
        font-size: 11px;
        padding: 0 0 3px 0;
        color: #777;
      }

      strong {
        display: block;
        font-size: 14px;
        color: #000;
        position: relative;
        padding-right: 9px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 105px;
        height: 17px;

        &:after {
          content: "";
          display: inline-block;
          position: absolute;
          top: 3px;
          right: 0;
          width: 12px;
          height: 9px;
          margin-left: 4px;
          background: url(/images/darr.png) no-repeat top left;
        }
      }
    }

    ul {
      display: none;
      position: absolute;
      background: #fff;
      z-index: 0;
      padding: 10px;
      @include box-shadow(0 0 6px rgba(0,0,0,0.2));
      @include border-bottom-radius(4px);

      li {

        &.active {
          a { background: #ebf5fa; color: #000; }
        }

        a {
          display: block;
          padding: 8px;
          width: 150px;
          color: #000;
          float: left;
          text-decoration: none;
          font-weight: bold;
          font-size: 14px;

          &:hover {
            background: #ebf5fa;
            color: #000;
          }
        }
      }
    }
  }
}

header form {
  position: absolute;
  top: 6px;
  right: 10px;
  z-index: 1000;

  #query {
    border: none;
    padding: 5px 12px 5px 8px;
    width: 250px;
    margin: 0;
    color: #ddd;
    background: #fff;
    outline: none;
    font-size: 12px;
    border: 1px solid #ccc;
    @include box-shadow(0 1px 0 $header_shadow);
    @include border-radius(20px);

    &:hover {
      color: #444;
    }

    &:focus {
      border-color: #777;
      color: #444;
    }
  }

  #search {
    background: none;
    border: none;
    position: absolute;
    right: 1px;
    top: 2px;
    font-size: 20px;
    color: #ccc;

    &:hover { color: #666; }
  }
}

header #second-nav {
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 0;
  width: 310px;
  text-align: right;

  a {
    font-size: 12px;
    padding: 5px 22px 5px 10px;
    text-decoration: none;
    font-weight: bold;
    color: #555;
    @include box-sizing(border-box);


    &:hover,
    &:hover:before {
      color: #000;
    }

    &.secondary {
      color: #777;

      &:hover {
        color: #444;
      }
    }
  }
}

[class^="pictos-"], [class*=" pictos-"] {
  position: relative;
}

[class^="pictos-"]:before, [class*=" pictos-"]:before {
  font-weight: normal;
  display: inline-block;
  position: absolute;
  left: -8px;
  top: 7px;
  font-size: 14px;
  font-family: 'Pictos';
}

.pictos-key:before {content: "K";}
.pictos-info:before {content: "i";}
.pictos-write:before {content: "W";}
.pictos-gear:before {content: "y";}
.pictos-help:before {content: "h";}
.pictos-people:before {content: "g";}


/* BAR */
#bar {
  float: left;
  position: relative;

  &.loaded {
    .player-buttons a.next {
      color: #fff;
    }

    #player-bottom .add {
      color: #ec3661;
    }

    #player #player-bottom #player-progress-bar {
      @include linear-gradient(bottom,#1a98e0,#1885c4);
      @include box-shadow(inset 0 0 8px rgba(0,0,0,0.4));
    }

    #player-bottom.hover #player-playlist {
      display: block;
    }

    #player-progress-position {
      background: #fff;
    }

    #player-progress-loaded {
      background: rgba(255,255,255,0.2);
    }
  }

  #player-share {
    display: none;
    float: left;
    width: 56px;

    .control {
      float: right;
      width: 24px;
      height: 24px;
      margin: 7px 2px;
      overflow: hidden;
      text-indent: -3000em;

      &.facebook {background: url(/images/facebook.png) no-repeat top left;}
      &.twitter {background: url(/images/twitter.png) no-repeat top left;}
    }
  }

  #player-invite-container {
    position: absolute;
    top: 5px;
    right: 3px;
  }

  #player-invite {
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
    width: 44px;
    display: block;
    text-align: center;
    text-decoration: none;
    background: #555;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    border: 1px solid #39911a;
    @include border-radius(5px);
    @include background-gradient(#70e334,#39911a);

    &.disabled {
      display: none;
    }
  }
}

#player {
  padding: 8px 0 6px;
  white-space: nowrap;

  &.playing {
    #player-controls .play span {
      left: -2px;
      font-size: 37px;
    }

    #player-progress-bar {
      @include box-shadow(inset 0 0 4px rgba(0,0,0,0.5));
    }
  }

  #player-controls {
    margin: -6px 6px -4px 0;
    width: 67px;
    float: left;

    a {
      position: relative;
      display: block;
      float: left;
      overflow: hidden;
      border: 1px solid #666;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,0.3);
      @include linear-gradient(-90deg,#aaa,#666);
      @include box-shadow(inset 0 -6px 12px rgba(0,0,0,0.2), 0 1px 0 $header_shadow);
      @include border-radius(50px);

      &:hover {
        border: 1px solid #4ac124;
        text-shadow: 0 1px 1px rgba(0,0,0,0.5);
        @include linear-gradient(-90deg,#67ef38,#4ac124);

        span {
          color: #fff;
          -webkit-mask-image: none;
        }
      }

      span {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: inline-block;
        position: absolute;
        @include box-sizing(border-box);
      }
    }

    /* play button */
    .play {
      font-size: 40px;
      width: 54px;
      height: 54px;

      span {
        padding: 24px 0 0 14px;
      }
    }

    .next {
      margin: 36px 0 0 -15px;
      font-size: 16px;
      width: 22px;
      height: 22px;

      span {
        padding: 6px 0 0 4px;
      }
    }
  }

  /* PLAYLIST */
  #player-playlist {
    display: none;
    position: absolute;
    top: -6px;
    left: -14px;
    z-index: -1;
    padding: 15px;
    padding-top: 8px;
    width: 98.5%;
    display: none;
    overflow: hidden;

    .songs {
      padding: 33px 3px 3px;
      margin: 0;
      overflow: hidden;
      list-style: none;
      background: #fff;
      @include border-radius(8px);
      @include box-shadow(0 0 6px rgba(0,0,0,0.4));

      li {

        a {
          display: block;
          color: #444;
          padding: 7px 8px;
          border-bottom: 1px dotted #ddd;
          font-size: 12px;
          text-decoration: none;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-shadow: none;
          float: none;

          &:hover,
          &.playing {
            background: #2695d5;
            font-weight: bold;
            color: #fff;
            border-bottom: 1px solid #fff;
          }
        }
      }
    }
  }

  #player-main {
    float: left;
    width: 380px;

    #player-meta {
      margin: -5px 0 2px 0;

      #player-artist-name {
        color: #555;
        display: block;
        font-size: 11px;
        font-weight: normal;
        margin: 0 0 -2px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 80%;
      }

      #player-song-name {
        display: block;
        font-size: 13px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 80%;
      }
    }

  }

  #player-bottom {
    clear: both;
    position: relative;
    padding: 4px;
    margin: -4px -4px -6px -6px;

    a.control {
      display: block;
      float: left;
      font-size: 14px;
      color: #999;
      padding: 5px;
    }

    a.volume {
      width: 12px;
    }

    a.add {
      margin: -1px 0 0;
      font-size: 20px;
    }

    #player-progress-bar {
      float: left;
      margin: 2px 0 0;
      padding: 4px;
      height: 11px;
      width: 324px;
      position: relative;
      border-bottom: 1px solid $header-shadow;
      @include linear-gradient(bottom,#ddd,#ccc);
      @include box-shadow(inset 0 0 1px rgba(0,0,0,0.5));
      @include border-radius(16px);

      &:hover {
        cursor: pointer;
      }

      #player-progress-grabber {
        position: absolute;
        top: 0;
        z-index: 11;
        width: 100%;
        height: 100%;
      }

      #player-progress-position,
      #player-progress-loaded {
        position: absolute;
        top: 4px;
        z-index: 1;
        width: 0%;
        height: 11px;
        max-width: 96%;
        min-width: 1%;
        @include border-radius(8px);
      }

      #player-progress-position {
        z-index: 4;
        @include border-right-radius(3px);
      }

      #player-progress-waveform {
        display: none !important;
      }

      canvas {
        top: 2px;
        position: absolute;
        opacity: 0.4;
        width: 96%;
        height: 15px;
        position: absolute;
        top: 2px;
        left: 2%;
        opacity: 0.3;
        z-index: 2;
        display: block !important;
      }
    }
  }
}


/* NOTICES */

#dialog {
  position: fixed;
  z-index: 1000;
  text-align: center;
  background: orange;
  height: 38px;
  line-height: 2.9em;
  color: white;
  margin: 0;
  font-weight: bold;
  @include border-bottom-radius(4px);

  &.alert {
    text-shadow: 0 -1px 0 #a84a43;
  }
}

/* Ordered list for display results. */
ol.mp_list {
  background-color: #555;
  overflow: hidden;
  position: absolute;
  width: 268px;
  top: 17px;
  z-index: 99999;
  padding: 0;
  left: -20px;

  li {
    color: #ddd;
    padding: 4px 15px 5px;
    list-style: none;

    &.mp_selectable { cursor: pointer; }
    &.mp_highlighted {
      background: #111;
      color: #fff;
    }

    &.header {
      font-weight: bold;
      font-size: 14px;
      border-bottom: 1px solid #666;
      padding: 10px 15px;
      color: #fff;
    }
  }
}



/* Lists */
.list {
  margin: -15px 0 20px 0;
  padding: 0;

  section, li {
    padding: 8px 0 0 10px;
    margin: 0;
    border: none;
    height: auto;
    float: none;
    list-style: none;
    white-space: nowrap;
    line-height: 1.2em;

    div {
      display: inline-block;
      margin: 0 0 -9px 0;
    }

    img { width: 24px; margin: 4px 6px -6px 0; }

    h4 {
      margin: 0;
      display: inline;
      line-height: 16px;

      a { text-decoration: none; }
    }

    p {
      font-size: 12px;
      color: #666;
      margin-bottom: 0;
      height: 3.5em;
      overflow: hidden;
    }
  }
}



/* Titles */

#announce {
  display: none;
  background: $lighter-blue;
  color: rgba(0,0,0,0.6);
  font-size: 14px;
  padding: 10px 0 6px;
  margin: 0 20px -5px;
  text-align: center;
  @include border-bottom-radius(5px);

  #announce-contain {
    margin: 0 auto;
    display: inline-block;
  }

  strong {
    display: block;
    font-size: 24px;
    color: #000;
    margin: 0 10px 0 0;
  }

  ol {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0 20px;
    }
  }
}

h2.title { color: #000; }
.title {
  padding: 0 25px;
  margin: 0 0 25px;
  color: #999;
  position: relative;

  .image {
    float: left;
    margin: 2px 15px 0 0;

    img {
      height: 64px;
      width: 64px;
    }
  }


  &.center h2 {
    font-size: 38px;
  }

  &.grid {
    padding-left: 0;
    padding-right: 0;

    .third {
      margin-left: 0;
    }
  }

  h2 {
    color: $title;
    font-size: 34px;
    background: none;
    margin: 0;
    padding: 0;

    &.icon {
      clear: none;
      float: left;
      width: 80%;
      margin: 0;
    }
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 22px;
    line-height: 1em;
    margin: 8px 0 0;
  }

  small {
    display: block;
    line-height: 1.4em;
    margin: 5px 0 0;
  }

  .icon {
    float: left;
    margin: 0 20px 0 0;
    @include border-radius(8px);
  }

  .title-nav {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 17px;

    ul { margin-top: 14px; }
    li {
      list-style: none;
      padding: 0;
      float: left;
      display: block;

      div.count {
        float: left;
        padding: 10px 20px;
        font-size: 18px;
      }
    }
  }
}


/* Subnav */
.subnav {
  margin: 0 0 20px 0;
  background: #eee;
  padding: 0 20px;
  @include border-radius(5px);

  li {
    float: left;
    list-style: none;

    a {
      float: left;
      padding: 8px 10px;
      font-weight: bold;
      text-decoration: none;
      color: #000;

      &:hover {
        color: #999;
      }
    }
  }
}
.twothirds .subnav {
  margin: 0 0 15px 0;
}

#soundmanager-debug {
  display: none !important;
}


/* NAVIGATION AND PAGINATION */

.pagination {
  font-size: 13px;
  display: inline-block;
  margin: 20px 0;

  span {
    float: left;
  }

  span {
    float: left;

    a,
    &.current,
    &.gap {
      padding: 9px 16px;
      border: 1px solid #ddd;
      border-right: none;
      float: left;
      text-decoration: none;
    }

    a.last {
      border-right: 1px solid #ddd;
    }

    &.gap {
      color: #999;
    }

    a:hover {
      background: $light-blue;
    }

    &.current {
      background: $light-blue;
      color: #000;
      font-weight: bold;
    }
  }
}

/* Nav container */
.nav-container {
  h2 {
    float: left;
  }

  nav {
    float: left;
    margin: -2px 0 20px 10px;

    a {
      font-size: 16px;
      text-decoration: none;
      float: left;
      padding: 0 10px;
      border-left: 1px solid #ddd;
      color: #999;

      &.active {
        font-weight: bold;
        color: $link-color;
      }

      &:hover {
        color: $link-hover;
      }
    }
  }

  .station-section {
    clear: both;
    display: none;

    &.active {
      display: block;
    }
  }
}


/* Image Covers */
.cover-small {
  position: relative;
  width: 64px;
  height: 64px;

  &:before,
  img,
  strong {
    @include border-radius(4px);
  }
}

.cover-medium {
  position: relative;
  width: 128px;
  height: 128px;

  &:before,
  img,
  strong {
    @include border-radius(5px);
  }
}

[class^="cover-"]:before, [class*=" cover-"]:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 3;
  background: url(/images/cover.png);
  width: 100%;
  height: 100%;
  @include box-shadow(0 0 4px rgba(0,0,0,0.6));
  @include background-size(100% auto);
}

a[class^="cover-"]:hover:before, a[class*=" cover-"]:hover:before {
  background-position: bottom left;
}

[class^="cover-"] strong, span[class*=" cover-"] strong {
  z-index: 2;
  @include border-bottom-radius(0);
}


/* Modals */
.hidden { display: none; }


/* Debug */
#debug {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 11px;
  z-index:100000;
  color: #ccc;
  text-decoration: none;
}

.debug_dump {display:none;}
#debug_dump.visible {display:block;}
#debug_dump {
  display: none;
  position: fixed;
  border-top: 2px solid #ccc;
  background: #fff;
  color: #000;
  padding: 10px;
  bottom: 0;
  left: 0;
  font-size: 11px;
  z-index: 1000000;
  width: 100%;
  height: 250px;
  overflow: scroll;
  white-space:pre;
}

/* Pictos Font
* Copyright © 2010 Drew Wilson
* http://www.drewwilson.com  -  http://pictos.drewwilson.com
*
* The fonts included in this stylesheet are subject to the End User License you purchased
* from Drew Wilson. The fonts are protected under domestic and international trademark and
* copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
* distributing this font software.
*
* This font is NOT free. It is illegal to use this font without paying for a license.
*/
@font-face {
    font-family: 'Pictos';
    src: url('/fonts/pictos-web.eot');
    src: local('☺'), url('/fonts/pictos-web.woff') format('woff'), url('/fonts/pictos-web.ttf') format('truetype'), url('/fonts/pictos-web.svg#webfontIyfZbseF') format('svg');
    font-weight: normal;
    font-style: normal;
}

.pictos, .button span {
    font-family: 'Pictos';
    text-decoration: none;
}