@import "mixins.css.scss";

/* HEADING AND TEXT STYLES */

h2 { font-size: 30px; }
h3 { font-size: 22px; }
h4 { font-size: 16px; }

h2, h3, h4 {
  line-height: 1em;
  clear: both;
  padding: 0;
  margin: 0 0 20px 0;
  color: #444;
  
  small {
    font-size: 75%;
    color: #aaa;
    font-weight: normal;
    
    a {
      color: #ccc;
    }
  }
}

h2 small {
  font-size: 55%;
}

.side h3 {
  font-size: 18px;
  margin-top: 0.3em;
}

p.description {
  font-size: 16px;
  margin-top: 0;
}


/* Header */

header {
  background: rgb(190, 0, 40);
  width: 100%;
  z-index: 100;
  line-height: 1em;
  @include box-shadow(0,0,4px,#000);
  
  h1 {
    margin: 22px 10px 0 0;
    font-size: 26px;
    font-family: 'PTF Nordic RND';
    float: left;
    
    a {
      color: #fff;
      padding: 4px;
      text-shadow: 0 1px 1px #000;
      text-decoration: none;
      
      &:hover { color: #fff; }
    }
  }

  nav {
    float: left;
    margin: 0;
    
    li {
      float: left;
      padding: 0 3px;
      
      &.active {
        background: #333;
        a { color: #fff; }
      }
      
      a {
        padding: 16px 14px;
        margin: 4px 0;
        color: #fff;
        text-shadow: 0 0 1px #000;
        float: left;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;

        &:hover {
          color: #fff;
          background: rbga(255,255,255,0.5);
        }
      }
    }
  }
  
  #functions {
    float: right;
    margin: 10px 0 0;
    min-width: 250px;
    
    .nav {
      position: relative;
      margin: 0 -5px 0 0;

      a {
        font-size: 12px;
        color: #fff;
        text-shadow: 0 0 1px #000;
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        float: right;
        padding: 11px;
        max-width: 131px;
        text-align: right;
        white-space: nowrap;
        overflow: hidden;
        text-decoration: none;

        &:hover {color: #fff;}

        &.inline {
          width: auto;
        }

        abbr {
          border-bottom: none;
        }
      }

      &.open {
        .nav-dropdown {
          display: block !important;
        }
      }

      .nav-dropdown {
        position: absolute;
        top: 34px;
        left: 34px;
        width: 200px;
        background: #111;
        display: none;
        padding: 0;
        @include border-radius-bottom(5px);
        @include box-shadow(0,4px,9px,#111);

        a {
          display: block;
          text-align: left;
          width: 92%;
          max-width: 100%;
          padding: 10px 4%;
          border-top: 1px solid #333;
        }

        img {
          width: 24px;
          margin: -5px 0;
          float: right;
        }
      }
    }
  }
}


/* BAR */
#bar {
  background: #333;
  position: absolute;
  width: 100%;
  top: 53px;
  z-index: 99;
  
  .page-contain { width: 940px; }
  
  &.fixed {
    position: fixed;
    top: 0;
  }
  
  #player {
    white-space: nowrap;
    float: left;
    width: 680px;
    
    &.playing {
      #player-controls {
        .play {
          content: "5";
        }
      }
    }
    
    #player-image {
      border-right: 1px solid #444;
      float: left;
      margin: 5px 5px 5px 0;
      position: relative;
      
      img {
        width: 34px;
        @include border-radius(4px);
      }
    }
  
    #player-meta {
      margin: 0;
      font-size: 18px;
      padding: 12px;
      float: left;
      
      a {
        color: #fff;
        text-decoration: none;
        text-shadow: 0 1px #000;
        width: 100%;
        
        &:hover {
          color: #fff;
        }
      }
    }
    
    #player-buttons {
      float: left;
      width: 153px;
      
      a {
        float: left;
        color: #ccc;
        font-size: 30px;
        padding: 16px 12px 8px;
        border-right: 1px solid #333;
        margin: 0 0 -4px 0;
        
        &:hover { color: #fff; background: #444; }
        &.next { border: none; }
      }
    }
    
    #player-controls {
      display: none;
      float: left;
    
      #player-progress-bar {
        background: #000;
        float: left;
        height: 8px;
        padding: 1px;
        width: 150px;
        margin: 6px 12px 0;
        border: 1px solid #999;
        position: relative;
        @include border-radius(8px);
        
        &:hover {
          cursor: pointer;
        }
        
        #player-progress-position {
          position: absolute;
          z-index: 1;
          background: url(/images/button_bg.png) top;
          width: 0%;
          height: 8px;
          @include border-radius(4px);
          
          .progress {
            display: block;
            width: 23px;
            height: 23px;
            position: absolute;
            top: -8px;
            right: -18px;
            text-indent: -3000em;
            overflow: hidden;
            background: url(/images/player_controls.png) no-repeat -46px 0;
            
            &:hover {
              background-position: -46px -23px;
            }
            
            &:active {
              background-position: -46px -46px;
            }
          }
        }
        
        #player-progress-loaded {
          z-index: 0;
          background: #444;
          width: 0%;
          height: 8px;
          @include border-radius(4px);
        }
      }
    }
  }
  
  form {
    margin: 6px 0 -6px;
    float: right;
    position: relative;

    #query {
      float: right;
      border: none;
      padding: 8px 30px 8px 8px;
      width: 210px;
      color: #ccc;
      background: none;
      border: none;
      border-bottom: 1px solid #666;
      outline: none;
      font-size: 13px;

      &:hover {
        background: #000;
      }

      &:focus {
        background: #fff;
        color: #333;
      }
    }
    
    #search {
      background: none;
      border: none;
      position: absolute;
      right: 0;
      top: 4px;
      font-size: 20px;
    }
  }
}

/* Ordered list for display results. */
ol.mp_list {
  background-color: #333;
  overflow: hidden;
  position: absolute;
  width: 248px;
  top: 20px;
  z-index: 99999;
  padding: 0;
  
  li {
    color: #ddd;
    padding: 4px 15px 5px;
    list-style: none;
    
    &.mp_selectable { cursor: pointer; }
    &.mp_highlighted {
      background: #111;
      color: #fff;
    }
    
    &.header {
      font-weight: bold;
      font-size: 14px;
      border-bottom: 1px solid #666;
      padding: 10px 15px;
      color: #fff;
    }
  }
}



/* Titles */

h2.title { color: #444; }
.title {
  padding: 20px 0 20px;
  margin: 0 20px 20px 20px;
  color: #999;
  position: relative;
  border-bottom: 1px solid #ddd;
  
  &.grid {
    padding-left: 0;
    padding-right: 0;
    
    .third {
      margin-left: 0;
    }
  }

  h2 {
    color: #000;
    font-size: 34px;
    background: none;
    margin: 0;
    padding: 0;
    
    &.icon {
      clear: none;
      float: left;
      width: 80%;
      margin: 0;
    }
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 22px;
    line-height: 1em;
    margin: 12px 0 0;
  }

  small {
    display: block;
    line-height: 1.4em;
    margin: 5px 0 0;
  }

  .icon {
    float: left;
    margin: 0 20px 0 0;
    @include border-radius(8px);
  }
  
  .title_nav {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 16px;
    right: 10px;
    
    ul { margin-top: 14px; }
    li {
      list-style: none;
      padding: 0;
      float: left;
      
      div.count {
        float: left;
        padding: 10px 20px;
        font-size: 18px;
      }
    }
  }
}


/* Subnav */
.subnav {
  margin: -10px 20px 30px 20px;
  background: #eee;
  padding: 4px 12px;
  @include border-radius-bottom(8px);
  
  li {
    float: left;
    list-style: none;
    
    a {
      float: left;
      padding: 8px 12px;
      font-weight: bold;
      text-decoration: none;
      color: #000;
      
      &:hover {
        color: #999;
      }
    }
  }
}
.twothirds .subnav {
  margin: 0 0 15px 0;
}

#soundmanager-debug {
  display: none !important;
}


/* NAVIGATION AND PAGINATION */

.pagination {
  font-size: 13px;
  border-right: 1px solid #ccc;
  display: inline-block;
  margin: 20px 0;
  @include box-shadow(0px,1px,2px,#ddd);
  @include border-radius-right(3px);
  
  span {
    float: left;
    
    &:first-child {
      @include border-radius-left(3px);
      
      a {
        @include border-radius-left(3px);
      }
    }
  }
  
  span {
    float: left;
  
    a,
    &.current,
    &.gap {
      padding: 9px 16px;
      border: 1px solid #ccc;
      border-right: none;
      float: left;
      text-decoration: none;
    }
    
    &.gap {
      color: #999;
    }
    
    a:hover {
      background: $light-blue;
    }
    
    &.current {
      background: $light-blue;
      color: #000;
      font-weight: bold;
    }
  }
}


/* Pictos Font
* Copyright © 2010 Drew Wilson
* http://www.drewwilson.com  -  http://pictos.drewwilson.com
*
* The fonts included in this stylesheet are subject to the End User License you purchased
* from Drew Wilson. The fonts are protected under domestic and international trademark and 
* copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
* distributing this font software.
*
* This font is NOT free. It is illegal to use this font without paying for a license. 
*/
@font-face {
    font-family: 'Pictos';
    src: url('/fonts/pictos-web.eot');
    src: local('☺'), url('/fonts/pictos-web.woff') format('woff'), url('/fonts/pictos-web.ttf') format('truetype'), url('/fonts/pictos-web.svg#webfontIyfZbseF') format('svg');
    font-weight: normal;
    font-style: normal;
}

.pictos, .button span {
    font-family: 'Pictos';
    text-decoration: none;
}