@import "mixins.css.scss";

$song-pad: 10px;

div.playlist {
  clear: both;
  margin: 0 0 18px;

  section {
    padding: $song-pad 2px;
    margin: 0;
    position: relative;
    overflow: hidden;
    border: 1px solid #fff;
    @include border-radius(8px);

    &.show-play {
      .play-song { visibility: visible !important; }
    }

    &.highlight {
      background: $lightest-blue;

      .play-song {
        visibility: visible !important;
      }

      $song-hover-text: #666;
      .song-info {

        p, .song-links a {
          color: $song-hover-text;
        }
      }

      .song-controls li.broadcast {
        a, .count {
          color: $song-hover-text;
        }
      }

      .song-meta, .song-meta a {
        color: $song-hover-text;
      }
    }

    &.playing {
      @include background-gradient($primary-light,$primary);

      &.highlight {
        border-color: $primary;
      }

      .song-info {
        h4, h4 a, p {
          color: #fff;
        }

        .song-meta, .song-meta a {
          color: rgba(255,255,255,0.8);
        }

        p {
          color: rgba(255,255,255,0.6);
        }

        .song-links a {
          color: rgba(255,255,255,0.8);
          border: none;
          text-shadow: none;
        }
      }

      .song-controls a,
      .song-controls .broadcast .count {
        color: #fff;
      }
    }

    &.failed {
      background: #f2f2f2;
      .cover { background: red; }
      &:hover { cursor: default; }
    }

    a.song-link {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
    }

    .waveform-wrap {
      position: relative;
      margin: -6px 0 0;
      width: 100%;
      height: 32px;
      overflow: hidden;
      @include border-radius(4px);

      img {
        width: 100%;
        height: 300%;
        position: absolute;
        top: -50%;
        left: 0;
        opacity: 0.25;
      }
    }

    $art-size: 64px;
    .song-art {
      position: relative;
      z-index: 1;
      margin: 0 0 0 -2+$song-pad;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .song-info {
      float: left;
      margin: -$art-size 0 0 $art-size+11px+$song-pad;
      width: 86%;
      padding: 0 $song-pad 0 0;
      @include box-sizing(border-box);

      h4 {
        font-size: 16px;
        line-height: 1.3em;
        border: none;
        display: block;
        background: none;
        position: relative;
        padding: 0;
        margin: -3px 0 2px;
        width: 460px-$song-pad;
        color: $link-color;

        a {
          text-decoration: none;
        }

        .role {
          margin: 0 -2px;
          padding: 0 2px;
          @include border-radius(3px);

          &:hover {
            background: $primary;
            color: #fff;
          }
        }

        .role:after,
        .role-featured:before {
          display: inline-block;
          content: "";
          width: 16px;
          height: 9px;
          margin: 0 2px .05em 4px;
          background: url(/images/artist-icons.png) no-repeat top left;
        }

        .role-original:after,
        .role-mashup:after {display:none;}
        .role-remixer:after {background-position:0 -9px;}
        .role-producer:after {background-position:0 -18px;}
        .role-cover:after {background-position:0 -27px;}

        .role-featured:after { display: none; }
        .role-featured:before { background-position:0 -36px; margin-right: 4px; margin-left: 2px; }
      }

      a {
        position: relative;
        z-index: 3;
      }

      p {
        font-weight: normal;
        color: #888;
        margin: 0;
        width: 72%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: none;
      }
    }

    .song-meta {
      font-size: 11px;
      margin: -3px 0 1px 0;
      color: #aaa;
      position: relative;

      a {
        color: #aaa;

        &:hover {
          color: #555;
        }
      }

      a.permalink {
        font-size: 11px;
        vertical-align: middle;
        margin: -.4em 0 0 6px;
        display: inline-block;
        height: 16px;
        width: 16px;
        color: #ccc;
        line-height: 1.6em;
        text-align: center;
        @include border-radius(8px);

        &:hover {
          background: #ccc;
          color: #fff;
        }
      }
    }

    .song-links {
      position: absolute;
      top: 2px;
      right: 0;
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        float: left;
        font-size: 11px;
        font-weight: bold;

        a {
          color: #999;
        }

        &.right {
          float: right;
          padding: 0 0 0 3px;

          a {
            color: #bbb;
            text-shadow: 0 1px -1px #fff;
            padding: 1px 4px;
            text-decoration: none;
            line-height: 1.5em;
            @include border-radius(3px);

            &:hover {
              background: url(/images/fade.png) repeat-x top left;
            }
          }
        }
      }

      a {
        float: left;
      }
    }

    .song-controls {
      position: absolute;
      top: $song-pad - 2px;
      right: $song-pad;
      margin: -2px 0 0;

      li {
        float: right;
        list-style: none;

        a {
          font-size: 20px;
          color: #bbb;
          text-decoration: none;
          position: relative;
          z-index: 3;
        }

        &.broadcast {
          text-align: right;

          a {
            &:hover { color: #cb0000; }
            &.remove {
              color: #239708;
              &:hover { color: #970808;}
            }
          }

          .count {
            font-size: 16px;
            font-weight: bold;
            height: 16px;
            padding: 0;
            margin: -2px 4px 0 0;
            color: #bbb;
          }
        }
      }
    }
  }
}

.third .playlist {
  border: none;

  section {
    padding: 5px 0;

    .song-info {
      margin: 0;
      padding: 4px;
      width: auto;
      float: none;

      h4 {
        font-size: 11px;
        width: 84%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .song-meta {
      font-size: 10px !important;
      margin: -3px 0 -7px 2px;

      a.permalink {
        margin: 0 0 0 -4px;
      }
    }

    .song-controls {
      z-index: 3;
      top: 0;
      right: 0;
      padding: $song-pad 4px $song-pad 8px;

      li a {font-size: 18px;}
      li span.count {font-size: 12px;}
    }
  }
}

.third .pagination {
  display: none;
}