@import "mixins.css.scss";

.playlist {
  clear: both;
  margin: -5px 0 10px;
  
  section {
    padding: 10px 0 25px;
    margin: 0 0 5px 0;
    position: relative;
    overflow: hidden;
    @include light(5);
    @include border-radius(3px);
    @include box-shadow(0,0,2px,#111);
    
    &:hover {
      @include light(10)
    }

    &.playing {
      @include light(15);
    
      .play-song {
        opacity: 1 !important;
        padding: 20px 17px !important;
      }
    }
    
    &.failed {
      .cover { background: red; }
    }
    
    .song-info {
      float: right;
      width: 474px;
      margin: 0 68px 0 0;
      
      h4 {
        font-size: 20px;
        border: none;
        margin-bottom: 8px;
        display: block;
        background: none;
        padding: 0;
      
        a {
          text-decoration: none;
          color: #fff;
        }
      }
      
      .song-art {
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 1;
        
        img {
          height: 55px;
          @include border-radius(4px);
          @include box-shadow(0,0,3px,#000);
        }
      }
      
      .song-post {
        
        p {
          font-size: 13px;
          margin: 0;
          line-height: 1.6em;
          color: #777;
          height: 3em;
          overflow: hidden;
          display: none;
        }

        span.active {
          position: absolute;
          bottom: 0;
          right: 0;
          color: #999;
          font-size: 12px;
        }
      }
    }
    
    .song-links {
      margin: 0;
      padding: 0 0 0 70px;
      width: 550px;
      position: absolute;
      bottom: 0;
      clear: both;
      @include dim(20);
      
      li {
        list-style: none;
        float: left;
        color: #999;
        font-size: 11px;
        font-weight: bold;
        text-shadow: 0 0 1px #000;
        padding: 4px 8px;
        border-left: 1px solid #333;
        
        &.right {
          float: right;
        }
      }
      
      a {
        float: left;
      }
    }
    
    .song-meta {
      margin: 0 0 5px 0;
      font-size: 12px;
      color: #aaa;
      line-height: 1.4em;
      
      a {
        color: #888;
      }
    }
    
    .song-controls {
      margin: -6px -10px -90px -10px;
      padding: 10px 10px 0 10px;
      float: left;
      width: 10%;
      border-right: none;
      height: 142px;
      
      .play-song {
        margin: 12px 0 0;
        font-size: 49px;
        color: #fff;
        position: absolute;
        z-index: 10;
        opacity: 0.6;
        padding: 18px 15px;
        top: 0;
        left: 0;
        
        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }
      
      li {
        float: right;
        clear: both;
        list-style: none;
        margin: 0 0 6px 0;
        
        input {
          margin: 10px 0 0 10px;
        }

        &.broadcast {
          position: absolute;
          right: 10px;
          
          a {
            font-size: 24px;
            color: #888;
            
            &:hover { color: #aaa; }
          }
          
          span.count {
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            height: 16px;
            float: left;
            text-align: right;
            padding: 0 4px 0 0;
            margin: -3px 3px 0;
          }
        }
      }
    }
  }
}

.cover {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 2;
  
  img {
    width: 100%;
    min-height: 200%;
  }
  
  &:hover {
    cursor: pointer;
    
    img {
      position: absolute;
      bottom: 0;
    }
  }
}

.third .playlist {
  border: none;
  
  section {
    background: none !important;
    
    .song-info {
      width: 100%;
      float: left;
      
      h3 {
        font-size: 16px;
      }
      
      p {
        display: none;
      }
    }
    
    .song-controls {
      display: none;
      border: none;
      width: 18%;
    }
  }
}