@import "mixins.css.scss";

.playlist {
  clear: both;
  margin: -5px 0 10px;
  overflow: hidden;
  
  section {
    padding: 10px 0;
    background: #4e4e4e;
    margin: 0 0 5px 0;
    position: relative;
    overflow: hidden;
    @include border-radius(3px);
    
    &:hover {
      background: #555;
    }
    
    &.downloading {
      display: none;
    }
    
    &.playing {
      background: $playing;
    }
    
    .song-info {
      float: right;
      width: 474px;
      margin: 0 68px 0 0;
      
      h4 {
        font-size: 20px;
        border: none;
        margin-bottom: 8px;
        display: block;
        background: none;
        padding: 0;
      
        a {
          text-decoration: none;
          color: #fff;
        }
      }
      
      .song-art {
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 1;
        
        img {
          height: 55px;
          @include border-radius(8px);
        }
      }
      
      .song-post {
        float: left;
        width: 80%;
        
        p {
          font-size: 13px;
          margin: 0;
          line-height: 1.6em;
          color: #777;
          height: 3em;
          overflow: hidden;
          display: none;
        }

        span.active {
          position: absolute;
          bottom: 0;
          right: 0;
          color: #999;
          font-size: 12px;
        }
      }
    }
    
    .song-meta {
      margin: 0 0 5px 0;
      font-size: 12px;
      color: #aaa;
      line-height: 1.4em;
      
      a {
        color: #888;
      }
    }
    
    .song-controls {
      margin: -6px -10px -90px -10px;
      padding: 10px 10px 0 10px;
      float: left;
      width: 10%;
      border-right: none;
      height: 142px;
      
      .play-song {
        margin: 15px 2px 0;
        font-size: 49px;
        color: #fff;
        position: relative;
        z-index: 10;
        text-shadow: 0 1px 0 #000;
        
        &:hover {
          cursor: pointer;
          color: #000;
        }
      }
      
      li {
        float: right;
        clear: both;
        list-style: none;
        margin: 0 0 6px 0;
        
        input {
          margin: 10px 0 0 10px;
        }

        &.broadcast {
          position: absolute;
          right: 10px;
          
          a {
            font-size: 24px;
            color: #888;
            
            &:hover { color: #aaa; }
          }
          
          span.count {
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            height: 16px;
            float: left;
            text-align: right;
            padding: 0 4px 0 0;
            margin: -3px 3px 0;
          }
        }
      }
    }
  }
}

.third .playlist {
  border: none;
  
  section {
    background: none !important;
    
    .song-info {
      width: 100%;
      float: left;
      
      h3 {
        font-size: 16px;
      }
      
      p {
        display: none;
      }
    }
    
    .song-controls {
      display: none;
      border: none;
      width: 18%;
    }
  }
}