@import "mixins.css.scss";

.stations {
  margin: 0 0 0 20px;

  section {
    float: left;
    width: 320px;
    margin: 0 0 20px 0;

    .cover-small {
      float: left;
      margin: 0 10px 0 0;
    }

    .info {
      float: left;

      h3 {
        margin: 0 0 2px 0;

        a {
          text-decoration: none;
          color: #444;
          font-size: 13px;
        }
      }

      strong {
        font-size: 11px;
        display: block;
        margin: 0 0 -2px 0;
      }

      time {
        display: block;
        font-size: 11px;
        color: #999;
      }
    }
  }
}

.shelf {
  margin: 0 20px 20px;

  h3 {
    position: relative;
    z-index: 10;
  }

  ul {
    padding: 0;
    margin-left: -30px;
    margin-bottom: 6px;
  }

  li {
    list-style: none;
    float: left;
    margin: 0 0 0 33px;
    position: relative;

    a {
      text-decoration: none;
      text-shadow: 0 1px 0 #000;
      position: relative;
      display: block;
    }

    strong {
      text-align: center;
      color: #fff;
      font-size: 14px;
      padding: 4px 0;
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      @include dim(60);
    }
  }
}

.third .shelf {
  margin: 0;
  border: none;

  h3 { margin: 0 0 20px 0; }
  li { margin: 0 0 0 20px; }
  img { width: 140px; }
}

.shelf.grid {
  margin-left: -6px;

  li {
    margin-bottom: 20px;
  }
}

#genres {
  padding: 0;
  margin: 0 0 30px -4px;

  li {
    list-style: none;

    a {
      padding: 1px 2px 1px 2px;
      margin: 0 0 4px 4px;
      float: left;
      width: 93px;
      font-size: 12px;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}