@import "mixins.css.scss";

.third .stations {
  section {
    float: none;
    width: auto;
  }
}

$station-margin: 4%;
$station-height: 120px;
$section-pad: 8px;

.half .stations {
  section {
    float: left;
    width: 44.5%;
    margin: 0 4px 2px -4px;
  }
}

#stations {
  display: none;
}

.stations-contain {
  height: $station-height + 8;
  overflow: hidden;
}

.stations {

  section {

    &:hover .cover {
      border-color: $primary;
    }

    .cover {
      height: $station-height;
      width: $station-height;
      border-color: $body-bg;

      .wrap {
        @include box-shadow(inset 0 0 20px rgba($body-bg,0.4));
      }

      h4 {
        font-size: 14px;
        font-weight: bold;
      }

      nav {
        display: none;
      }

      img {
        height: auto;
      }
    }
  }
}

.shelf {
  margin: 0 20px 20px;

  h3 {
    position: relative;
    z-index: 10;
  }

  ul {
    padding: 0;
    margin-left: -30px;
    margin-bottom: 6px;
  }

  li {
    list-style: none;
    float: left;
    margin: 0 0 0 33px;
    position: relative;

    a {
      text-decoration: none;
      text-shadow: 0 1px 0 #000;
      position: relative;
      display: block;
    }

    strong {
      text-align: center;
      color: #fff;
      font-size: 14px;
      padding: 4px 0;
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      @include dim(60);
    }
  }
}

.third .shelf {
  margin: 0 0 30px -20px;
  padding: 0;
  border: none;

  h3 { margin: 0 0 20px 0; }
  li { margin: 0 0 20px 30px; }
}

.shelf.grid {
  margin-left: -6px;

  li {
    margin-bottom: 20px;
  }
}

#genres {
  padding: 0;
  margin: 0 0 30px -4px;

  li {
    list-style: none;

    a {
      padding: 1px 2px 1px 2px;
      margin: 0 0 4px 4px;
      float: left;
      width: 93px;
      font-size: 12px;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}