<div id="modal-login">
  <a href="" class="control modal-close close-button">X</a>
  <h3>Welcome to 2u.fm!</h3>
  <div id="login-promo">
    <p class="restricted-notice">
      <strong>Daily limit reached!</strong> Please login to enjoy unlimited streaming.
    </p>

    <p class="large">
      <strong>Discover great new music</strong> and share it <strong>live</strong> with your friends.
    </p>

    <img id="octo-dj" src="/images/octo_dj.png" />

    <p>
      We crawl music blogs for the newest singles, remixes, bootlegs, mashups, and more.
    </p>

    <p>
      Follow your friends to listen to the music they like.
      Follow artists to hear their latest releases.
    </p>

    <p>
      And, we never spam your Facebook.
    </p>
  </div>

  <div id="loner-login" class="hidden">
    <div class="greater">
      <h4>Sign up</h4>
      <%= render :partial => 'registrations/new_form' %>
    </div>

    <div class="lesser inline">
      <h4>Login</h4>
      <%= render :partial => 'sessions/new_form' %>
    </div>
  </div>

  <div class="modal-actions">
    <span class="afterthought">Or log in <%= link_to 'without facebook.', '#loner-login, #login-promo', class: 'control', 'data-toggle' => 'hidden' %></span>
    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :class => 'facebook-button login-button popup button control', 'data-dimensions' => '800,500' %>
  </div>
</div>