<div class="title">
  <h1>Account</h1>

  <nav class="nav-menu">
    <%= nav_link_to 'Profile', account_path %>
    <%= nav_link_to 'Preferences', account_preferences_path %>
    <%= nav_link_to 'Update Email &amp; Password'.html_safe, account_edit_path %>
  </nav>
</div>