@import "mixins.css.scss";

#new-comment {
  width: 100%;

  textarea {
    width: 100%;
    margin: 0 0 10px 0;
    height: 80px;
    @include box-sizing(border-box);
  }

  input.right {
    margin: 0;
  }
}