@import "mixins.css.scss";

form {
  .field_with_errors {
    color: red;
  }

  #error_explanation {
    h2 {
      background: #811810;
      color: #fff;
      padding: 4px 8px;
      margin: 0;
      font-size: 18px;
      @include border-radius(4px);
    }

    ul {
      margin: .7em 0 1.4em;
      color: #999;
    }
  }

  h3 {
    border: none;
    font-size: 18px;
  }

  .clearfix {
    clear: both;
    padding: 0 0 6px 0;
    margin: 0 0 6px 0;

    &.sep {
      border-bottom: 1px dotted #ddd;
      margin-bottom: 16px;
      padding-bottom: 10px;
    }

    br {
      display: none;
    }
  }

  label {
    width: 100px;
    float: left;
    padding: 5px 16px 10px 10px;
    text-align: right;
    font-size: 13px;
  }

  .input-text,
  .input-email,
  .input-password,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    padding: 5px 4px;
    font-size: 12px;
    color: #eee;
    background: #444;
    border: 1px solid #666;
    width: 220px;
    float: left;
    outline: none;
    @include border-radius(6px);
    @include transition(all linear 0.2s);

    &:focus {
      border-color: #049adb;
      @include box-shadow(0px 0px 8px #222);
    }
  }

  .input-checkbox {
    margin: 10px;
  }

  textarea {
    width: 65%;
    height: 200px;
  }

  input.right {
    float: right;
  }

  span.help {
    display: block;
    max-width: 600px;
    margin: 0 0 0 128px;
    clear: both;
    color: #aaa;
    font-size: 12px;
  }

  .actions {
    background: #f5f5f5;
    margin: 18px 0 0;
    padding: 17px 20px 18px 178px;
    border-top: 1px solid #ddd;
    @include border-bottom-radius(10px);

    &.nopad {
      padding-left: 0;
    }

    p {
      float: left;
      margin: 5px 0 0 20px;

      a {
        margin: 0 20px 0 0;
        font-size: 12px;
      }
    }
  }
}


/* Buttons
------------------------------------------ */

.signin,
.button,
.input-submit,
input[type='submit'],
button {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  padding: 4px 16px;
  margin: 2px 4px 10px 0;
  font-weight: bold;
  position: relative;
  z-index: 10;
  border: none;
  @include border-radius(6px);
  @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.4));
  @include linear-gradient($primary, $primary-dark);

  &:hover {
    color: #fff;
    @include linear-gradient(lighten($primary,4%), lighten($primary-dark,4%));
  }

  &.abs-right {
    position: absolute;
    top: 12px;
    right: 12px;
  }

  &.right {
    float: right;
  }

  &.small {
    padding: 0 4px;
  }

  /* Keep above .remove, .remove.first-hover needs precedence */
  &.remove:hover {
    @include linear-gradient(#c40e0e, #970808);
    border-color: #970808;
  }

  &.remove,
  &.remove.first-hover {
    @include linear-gradient($light-green, $green);
    border-color: #239708;
    border-width: 2px;
    margin: 0;
  }

  &.add {
    color: #fff;
    @include linear-gradient($light-green,$green);
    span { color: #fff; }

    &:hover {
      @include linear-gradient(lighten($light-green,4%),lighten($green,4%));
    }
  }

  &.disabled {
    color: #999;
    border-color: #aaa;
    text-shadow: none;
    cursor: default;
    pointer-events: none;
    @include linear-gradient(#ccc, #aaa);

    span {
      color: #999;
    }
  }

  span {
    display: inline;
    vertical-align: top;
    line-height: 1.1em;
    margin: 0 -2px 0 -4px;
    padding-right: 3px;
    font-size: 20px;
  }
}

.button {
  padding: 8px 16px;
  margin: 0;
  font-size: 19px;
  display: block;
  text-align: center;
}

.actions .input-submit {
  font-weight: bold;
  padding: 8px 38px;
  margin-top: -2px;
  margin-bottom: 0;
}


#body .side .button {
  margin-bottom: 20px;
}

.edit-station {
  margin: -12px 0 0;
}
