@import "mixins.css.scss";

body, button, input, select, textarea {
  font: 13px/21px 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #bbb;
}

/* Layout */
html,body {height: 100%;}
body {
  background: $body-bg;
  position: relative;
  font-weight: 300;
}

p {
  font-weight: 400;
}

a { color: $link-color; @include transition(color .1s linear); }
a:hover { color: $link-hover; }

#main-mid {
  padding: $header-height + 35 0 0;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
}

.page-contain, #dialog { overflow: hidden; }


/* HEADING AND TEXT STYLES */

h1 { font-weight: 300; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4 { font-size: 12px; }

h2, h3, h4 {
  line-height: 1.4em;
  padding: 0;
  margin: 0 0 15px 0;
  font-weight: 300;

  &.inline {
    display: inline-block;
    float: left;
  }

  small {
    font-size: 75%;
    color: #aaa;
    font-weight: normal;

    a {
      color: #ccc;
    }
  }
}

#welcome {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 1000;
  @include linear-gradient($header-light, $header-color);
  @include box-shadow(0 0 10px rgba(0,0,0,0.2));

  &.active {
    display: block;
  }

  &:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: rgba(255,255,255,0.3);
  }

  &:after {
    visibility: visible;
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: rgba(0,0,0,0.15);
  }

  section {
    height: 26px;
    margin: 0 0 -6px 0;
    overflow: hidden;
    position: relative;

    h1 {
      color: #fff;
      font-size: 24px;
      margin: 0 0 6px 0;
      position: absolute;
      bottom: -28px;
      left: 0;
      opacity: 0;
      @include transition(all .3s linear);

      &.in {
        bottom: 0;
        opacity: 1;
      }

      &.out {
        top: 48px;
        opacity: 0;
      }
    }
  }

  small {
    font-size: 15px;
    margin: -6px 0 5px;
    display: block;
    color: lighten($header-color,50%);
  }

  .button {
    position: absolute;
    top: 25px;
    right: 20px;
  }

  #close-welcome {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    font-size: 16px;
    color: lighten($header-light, 20%);
  }
}


/* Header */
header {
  min-width: $width - 15;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 1+$header-height;
  z-index: 200;
  line-height: 1em;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  background: $header-color;
  border-bottom: 1px solid $header-dark;
  @include box-sizing(border-box);
  @include box-shadow(0 0 3px rgba(0,0,0,1));
  @include linear-gradient($header-light, $header-color);

  &:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: rgba(255,255,255,0.2);
  }

  &:after {
    visibility: visible;
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: rgba(0,0,0,0.15);
  }

  h1 {
    position: absolute;
    top: 5px;
    left: 0;
    margin: 0;

    a {
      background: url(/images/2ulogo-web-dark.png) no-repeat 15px 5px;
      width: 85px;
      height: 50px;
      overflow: hidden;
      text-indent: -3000em;
      display: block;
    }
  }

  nav {
    position: absolute;
    top: 24px;
    right: 220px;
    z-index: 200;

    a {
      font-size: 22px;
      color: rgba(255,255,255,0.8);
      padding: 4px;
      margin: -4px;
      float: left;
      margin-right: 10px;

      &:hover {
        color: #fff !important;
      }

      &#nav-music {
        margin-top: -5px;
      }

      &.disabled {
        color: $header-color;
        cursor: default;
      }
    }
  }
}

#navbar {
  min-width: $width + 40;
  float: left;
  position: fixed;
  z-index: 150;
  top: $header-height;
  left: 0;
  right: 0;
  padding-left: 20px;
  @include box-shadow(0 0 12px rgba(0,0,0,.7));
  @include background-gradient($navbar-bg, $navbar-dark);
  @include box-sizing(border-box);

  section {
    display: block;
    float: left;
    position: relative;
    z-index: 1;
    width: 300px;

    &.middle {
      position: absolute;
      top: 0;
      left: 50%;
      width: 265px;
      margin-left: -133px;
    }

    h1:after {
      right: 0;
    }

    &.right {
      float: right;
      margin-right: 20px;
      width: 170px;

      a {
        float: right;

        &:last-child:before {display:none;}
        &:first-child:after {display:none;}
      }
    }

    h1, a {
      padding: 7px 12px 6px;
    }

    h1 {
      font-size: 11px;
      text-transform: uppercase;
      color: $navbar-heading;
      padding-left: 0;
      margin: 0;
      float: left;
      position: relative;
      cursor: default;
    }

    a {
      position: relative;
      display: block;
      text-decoration: none;
      color: $navbar-link;
      font-weight: bold;
      font-size: 13px;
      float: left;
      @include transition(all .1s linear);


      &.active {
        color: #fff;
        @include box-shadow(inset 0 -4px 12px rgba(0,0,0,0.1));
        @include linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2));
      }

      &:hover {
        color: #fff;
        @include box-shadow(inset 0 -4px 8px rgba(0,0,0,0.1));
        @include linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2));

        &:before {
          display: none;
        }
      }

      &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 1px;
        height: 100%;
        @include linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3));
      }

      &:before {
        left: 0;
        right: auto;
        @include linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.06));
      }

      &:nth-child(2):before {
        display: none;
      }

      &:last-child:after {
        display: none;
      }
    }
  }
}

#body {
  min-width: $width;
  overflow: hidden;
  padding: 20px 0;
  padding-left: $gutter-width;

  /* Gutter */
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: $gutter-width;
    background: $gutter-color;
    @include box-sizing(border-box);
  }

  h2, h3 { color: $heading-color; }
  .third h2 { font-size: 14px; margin-top: 2px; }

  #breadcrumbs {
    background: $body-dark;
    padding: 6px 20px;
    margin: -20px 0 20px 0;
    font-size: 11px;

    a {
      color: #888;
      text-decoration: none;
      float: left;

      &:hover {
        color: #fff;

        &.after:after {
          color: #888;
        }
      }

      &.after:after {
        display: inline-block;
        padding: 0 5px;
        margin: -2px 0 0;
        font-size: 10px;
        content: ">";
      }
    }
  }
}

#query:-moz-placeholder {
  color: rgba(255,255,255,0.8);
}

#query::-webkit-input-placeholder {
  color: rgba(255,255,255,0.8);
}

header form {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 1000;

  #query {
    border: none;
    padding: 3px 30px 3px 8px;
    width: $query-width;
    margin: 0;
    color: #fff;
    outline: none;
    font-size: 11px;
    border: 1px solid darken($header-color,10%);
    @include linear-gradient($header-color,lighten($header-color,5%));
    @include box-shadow(0 1px 0 $header-shadow);
    @include border-radius(20px);
    @include transition(all .1s linear);

    &:hover {
      @include linear-gradient(lighten($header-color,5%),lighten($header-color,10%));
      color: #444;
    }

    &:focus {
      background: #fff;
      color: #999;
    }
  }

  #search {
    background: none;
    border: none;
    pointer-events: none;
    position: absolute;
    right: -3px;
    top: -2px;
    font-size: 17px;
    color: rgba(0,0,0,0.2);
    text-shadow: none;
    width: 38px;
    box-shadow: none;

    &:hover { color: #fff; }
  }
}

header #second-nav {
  display: none;
}

.pictos, .button span, .playlist .follow-station {
  font-family: 'Pictos';
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

[class*="pictos-"] {
  position: relative;
}

[class*="pictos-"]:before {
  font-weight: normal;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 12px;
  font-family: 'Pictos';
  -webkit-font-smoothing: antialiased;
}

.pictos-key:before {content: "K";}
.pictos-info:before {content: "i";}
.pictos-write:before {content: "W";}
.pictos-gear:before {content: "y";}
.pictos-help:before {content: "h";}
.pictos-user:before {content: "U";}
.pictos-users:before {content: "g";}
.pictos-download:before {content: "~";}
.pictos-up:before {content: "{";}
.pictos-down:before {content: "}";}
.pictos-refresh:before {content: "1";}
.pictos-heart:before {content: "k";}
.pictos-star:before {content: "S";}
.pictos-music:before {content: "m";}
.pictos-add:before {content: "+";}
.pictos-remove:before {content: "-";}
.pictos-share:before {content: "R";}
.pictos-list:before {content: "l";}
.pictos-cart:before {content: "$";}
.pictos-newspaper:before {content: "N";}
.pictos-eye:before {content: "E";}
.pictos-comment:before {content: "w";}
.pictos-comments:before {content: "q";}
.pictos-shuffle:before {content: ";";}
.pictos-repeat:before {content: "r";}
.pictos-link:before {content: "j";}
.pictos-clock:before {content: "t";}
.pictos-cart:before {content: "$";}


a[href^="http://"] {
  padding-right: .4em;

  &:after {
    content: "A";
    display: block;
    font-family: 'Pictos';
    padding: 0 0 0 .3em;
    -webkit-font-smoothing: antialiased;
  }
}

/* BAR */
#bar {
  position: fixed;
  top: 0;
  left: 80px;
  right: 0;
  z-index: 0;
  min-width: $width - 40;
  height: $header-height;

  #player-share {
    display: none;
    float: left;
    width: 56px;

    .control {
      float: right;
      width: 24px;
      height: 24px;
      margin: 7px 2px;
      overflow: hidden;
      text-indent: -3000em;

      &.facebook {background: url(/images/facebook.png) no-repeat top left;}
      &.twitter {background: url(/images/twitter.png) no-repeat top left;}
    }
  }

  #player-invite-container {
    position: absolute;
    top: 6px;
    right: -2px;
  }

  #player-invite {
    margin: 0;
    padding: 4px 5px;
    font-weight: bold;
    font-size: 12px;
    width: 38px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    border: 1px solid darken($invite-color,15%);
    @include border-radius(6px);
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.3));
    @include background-gradient(lighten($invite-color,10%),$invite-color);

    &.disabled {
      display: none;
    }
  }
}

#player {
  padding-top: 7px;
  white-space: nowrap;
  height: $header-height;
  @include box-sizing(border-box);

  &.playing {
    #player-controls {
      .play span {
        left: -3px;
        top: 0;
        font-size: 31px;
      }
    }
  }

  &.loaded {
    #player-main #player-meta {
      visibility: visible;
    }

    #player-controls a {
      span {
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
      }

      &:hover {
        span {
          color: #fff;
          text-shadow: 0 0 30px rgba(0,0,0,0.4);
        }
      }
    }

    #player-bottom a.control {
      pointer-events: auto;
      color: lighten($header-light,5%);

      &:hover {
        color: #fff;
      }
    }
  }

  #player-controls {
    margin: -3px 0 -4px 2px;
    width: 80px;
    float: left;

    a {
      position: relative;
      display: block;
      float: left;
      overflow: hidden;
      color: $header-color;
      text-shadow: none;

      span {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: inline-block;
        @include box-sizing(border-box);
        @include transition(all .1s linear);
      }
    }

    /* play button */
    .play {
      font-size: 30px;
      width: 50px;
      height: 50px;

      span {
        padding: 22px 0 0 12px;
      }
    }

    .next {
      margin: 15px 0 0 -3px;
      font-size: 23px;
      width: 30px;
      height: 30px;

      span {
        padding: 7px 0 0 5px;
      }
    }
  }

  #player-main {
    position: absolute;
    top: 0;
    left: 90px;
    right: $query-width + 75;
    height: 100%;

    #player-meta {
      text-overflow: ellipsis;
      overflow: hidden;
      visibility: hidden;
      margin: 3px 50px 0;
      line-height: 18px;

      span {
        display: block;
        text-align: center;
      }

      #player-song-name a {
        margin-bottom: 1px;
        font-size: 13px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #fff;
        text-decoration: none;
      }

      #player-artist-name {
        color: rgba(255,255,255,0.7);
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        font-weight: bold;
        text-overflow: ellipsis;
      }
    }

  }

  #player-bottom {
    clear: both;
    position: absolute;
    bottom: 3px;
    width: 100%;
    height: 18px;

    #player-pre-controls,
    #player-post-controls {
      position: absolute;
      right: -6px;
      top: -3px;
      width: 46px;
    }

    #player-pre-controls {
      right: auto;
      left: 0;
    }

    a.control {
      display: block;
      float: left;
      font-size: 16px;
      color: $header-color;
      padding: 4px 5px;
      pointer-events: none;
      @include transition(all .1s linear);

      &:hover {
        color: $header-color;
      }
    }

    a.volume {
      width: 11px;
    }

    a.add {
      margin: -1px 0 0;
      font-size: 17px;
    }

    #player-progress-bar {
      position: absolute;
      top: 3px;
      left: 30px;
      right: 43px;
      overflow: hidden;
      margin: 2px 0 0;
      padding: 4px;
      height: 0;
      border: 1px solid darken($header-color,10%);
      @include linear-gradient(darken($header-color,6%),$header-color);
      @include box-shadow(0 1px 0 $header-shadow);
      @include border-radius(16px);

      &:hover {
        cursor: pointer;
      }

      #player-progress-inner-wrap {
        position: absolute;
        top: 1px;
        left: 1px;
        right: 1px;
        z-index: 1;
      }

      #player-progress-grabber {
        position: absolute;
        top: 0;
        z-index: 11;
        width: 100%;
        height: 100%;
      }

      #player-progress-position,
      #player-progress-loaded {
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 6px;
        background: rgba(0,0,0,0.1);
        @include border-radius(12px);
      }

      #player-progress-position {
        z-index: 4;
        @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.3), 0 0 2px rgba(0,0,0,0.4));
        @include linear-gradient(lighten($primary-light,5%), $primary);
        @include border-right-radius(0);
      }

      #player-progress-waveform {
        display: none !important;
      }

      canvas {
        width: 98%;
        height: 27px;
        position: absolute;
        top: -6px;
        left: 1.8%;
        opacity: 0.25;
        z-index: 2;
        display: block !important;
      }
    }
  }
}



/* NOTICES */

#dialog {
  position: fixed;
  z-index: 1000;
  text-align: center;
  background: orange;
  height: 38px;
  line-height: 2.9em;
  color: white;
  margin: 0;
  font-weight: bold;
  @include border-bottom-radius(4px);

  &.alert {
    text-shadow: 0 -1px 0 #a84a43;
  }
}



/* Lists */
.list {
  margin: -15px 0 25px 0;
  padding: 0;

  section, li {
    padding: 4px 0;
    margin: 0;
    border: none;
    height: auto;
    float: none;
    list-style: none;
    white-space: nowrap;
    line-height: 1.2em;

    div {
      display: inline-block;
      margin: 0 0 -9px 0;
    }

    .image {float: left; padding: 0; border: none; background: none;}
    img { width: 24px; margin: 4px 6px -6px 0; }

    h4 {
      margin: 0;
      display: inline-block;
      line-height: 16px;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;

      a { text-decoration: none; }
    }

    p {
      font-size: 12px;
      color: #666;
      margin-bottom: 0;
      height: 3.5em;
      overflow: hidden;
    }
  }
}

#body .horizontal-list {
  margin: -10px -20px 20px;
  padding: 6px 20px;
  background: rgba(0,0,0,0.2);
  white-space: nowrap;
  overflow: hidden;
  color: #ccc;
  font-size: 11px;
  font-weight: bold;

  h3 {
    margin: 0 10px 0 0;
    padding: 4px 0;
    font-size: 12px;
    font-weight: bold;
    float: left;
    color: #aaa;
    line-height: 1em;
  }

  span {
    border-right: 1px solid rgba(255,255,255,0.1);
    padding: 0 10px;

    &:last-child {
      border: none;
    }
  }

  .list {
    float: left;
    margin: -2px 0 0;

    section {
      padding: 0;
      margin: 0 20px 5px 0;
      float: left;

      img {
        margin-top: 2px;
        @include border-radius(30px);
      }
    }
  }
}

.half .list {
  section {
    float: left;
    display: inline-block;
    margin-right: 20px;
  }
}

$announce-bg: $body-bg;
$announce-color: $heading-color;

.announce {
  z-index: 1000;
  background: $announce-bg;
  color: $announce-color;
  font-size: 12px;
  font-weight: bold;
  padding: 6px;
  padding-left: 25px;
  margin: 0;
  text-decoration: none;
  @include box-sizing(border-box);

  &.maconly {
    display: none;
  }

  &.ismac {
    display: block;
  }

  &.primary {
    display: none;
    position: relative;
    border-top: none;
    padding: 14px 10px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5em;

    strong {
      font-size: 12px;
      display: block;
    }
  }

  &:hover {
    background: darken($announce-bg,4%);
    color: $announce-color;
  }

  &:before {
    color: #666;
    font-size: 14px;
    margin: 2px 0 0 3px;
  }
}

#announce {
  display: none;
  background: $lighter-blue;
  color: rgba(0,0,0,0.6);
  font-size: 14px;
  padding: 10px 0 6px;
  margin: 0 20px -5px;
  text-align: center;
  @include border-bottom-radius(5px);

  #announce-contain {
    margin: 0 auto;
    display: inline-block;
  }

  strong {
    display: block;
    font-size: 24px;
    color: #000;
    margin: 0 10px 0 0;
  }

  ol {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0 20px;
    }
  }
}

h2.title { color: #000; }
.title {
  padding: 0 20px;
  margin: 0 0 20px;
  color: #999;
  position: relative;

  .image {
    float: left;
    margin: 0 15px 0 0;

    img {
      height: 58px;
      width: 58px;
    }
  }


  &.center h2 {
    font-size: 38px;
  }

  h2, p {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 56%;
  }

  a {
    text-decoration: none;
  }

  h2 {
    color: $title;
    font-size: 26px;
    font-weight: normal;
    background: none;
    margin: -2px 0 -6px 0;
    padding: 0;
    display: inline-block;

    &.icon {
      clear: none;
      float: left;
      width: 80%;
      margin: 0;
    }
  }

  h3 {
    font-size: 24px;
    margin: 0 0 2px 0;
  }

  p {
    font-size: 14px;
    margin: 4px 0 0;
  }

  span.stats {
    font-size: 11px;
    font-weight: bold;
  }

  small {
    font-size: 13px;
    font-weight: normal;
  }

  .title-nav {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    right: 20px;

    ul { margin-top: 14px; }
    li {
      list-style: none;
      padding: 0;
      margin-left: 6px;
      float: left;
      display: block;
    }
  }
}


/* Subnav */
.subnav {
  margin: 0 0 20px 0;
  background: rgba(0,0,0,0.1);
  padding: 0 20px;

  li {
    float: left;
    list-style: none;

    a {
      float: left;
      padding: 8px;
      padding-left: 7px;
      font-weight: bold;
      text-decoration: none;
      color: #fff;
    }
  }
}
.twothirds .subnav {
  margin: 0 0 15px 0;
}

#soundmanager-debug {
  display: none !important;
}


/* NAVIGATION AND PAGINATION */

.next-page {
  display: block;
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin: 30px 0;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  @include border-radius(8px);

  &:hover {
    background: lighten($body-bg,6%);
  }

  &.loading {
    display: block;
    cursor: normal;
  }
}

/* Nav menus */

$nav-pad: 15px;
$nav-item-pad: 4px;
$nav-arrow-size: 5px;

.pop-menu, .mp_list {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  padding: $nav-item-pad 0;
  background: rgba(0,0,0,0.8);
  max-width: 280px;
  @include border-radius(5px);
  font-weight: bold;

  &.open {
    display: block;
  }

  &:before {
    display: block;
    content: "";
    position: absolute;
    top: -$nav-arrow-size;
    left: 50%;
    margin-left: -$nav-arrow-size;
    width: 0;
    height: 0;
    border-left: $nav-arrow-size solid transparent;
    border-right: $nav-arrow-size solid transparent;
    border-bottom: $nav-arrow-size solid black;
  }

  .header, h4 {
    text-transform: uppercase;
    color: rgba(255,255,255,0.8);
    font-size: 10px;
    margin: $nav-item-pad*3 0;
    padding: 0 $nav-pad;
  }

  li, a {
    color: #fff;
    display: block;
    padding: $nav-item-pad $nav-pad;
    font-size: 12px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &[class*="pictos-"] {
      padding-left: 18+$nav-pad;
      line-height: .9em;
    }

    &[class*="pictos-"]:before {
      padding-left: -5+$nav-pad;
      padding-top: 4px;
    }
  }

  img {
    width: 18px;
    height: 18px;
    margin-right: 4px;
  }

  li.mp_selectable { cursor: pointer; }

  li.mp_highlighted,
  a:hover {
    @include linear-gradient($header-light,$header-color);
  }
}

/* Ordered list for display results. */
ol.mp_list {
  line-height: 1.4em;
  position: absolute;
  width: 100%;
  top: 25px;
  z-index: 99999;
  left: 0;
  padding-top: 0;

  li {
    list-style: none;
    margin: 0;
  }
}

.nav-container {
  .title .nav-menu {
    margin: 0 0 0 -8px;
    width: 60%;
  }

  .nav-menu {
    display: inline-block;
    margin: 0;
    line-height: 1.4em;
    overflow: hidden;
    padding: 3px 0;

    &.inline {
      margin-top: -2px;
    }

    &.right {
      position: absolute;
      top: 0;
      right: 20px;
    }

    a {
      text-decoration: none;
      float: left;
      padding: 0 12px;
      margin-left: -1px;
      border-left: 1px solid rgba(255,255,255,0.15);
      color: #ccc;

      &:first-child {
        border: none;
      }

      &.active {
        font-weight: bold;
        color: #fff;
      }

      &:hover {
        color: $link-hover;
      }
    }
  }

  nav.nav-menu {
    a {
      font-size: 14px;
    }
  }

  h2.nav-menu {
    margin-bottom: 4px;
    margin-left: -10px;
    margin-top: -2px;
  }

  .section {
    clear: both;
    display: none;

    &.active {
      display: block;
    }
  }
}

h2 small { font-size: 55%; }

/* PAGE LAYOUT */
.third, .twothirds,
.fourth, .half,
.whole, .section {
  padding: 0 20px;
  position: relative;
  @include box-sizing(border-box);
}

.section {
  padding: 0;
}

.contain {
  position: relative;
  clear: both;
  margin-bottom: 20px;
}

.whole {
  clear: both;
}

.half {
  width: 50%;
  float: left;
}

$third-width: 220px;

.twothirds-wrap {
  width: 100%;
  float: left;
  margin-right: -$third-width - 1;
}

.twothirds {
  margin-right: 1 + $third-width;
}

.third {
  float: left;
  width: $third-width;
  padding-left: 0;
}

.third, .twothirds, .fourth, .half, .whole {
  .third, .twothirds, .fourth, .half, .whole {
    margin-left: 0;
  }
}

.feature {
  clear: both;
  padding: 20px;
  border: 1px solid #eee;
  border-right: none;
  border-left: none;
}

#spinner {
  position: absolute;
  z-index: 1000;
}


/* Image Covers */
.cover-tiny img {
  position: relative;
  width: 24px;
  height: 24px;
}

.cover-icon img {
  position: relative;
  width: 32px;
  height: 32px;
}

.cover-small img {
  position: relative;
  width: 64px;
  height: 64px;
}

.cover-96 img {
  position: relative;
  width: 96px;
  height: 96px;
}

.cover-128 img {
  position: relative;
  width: 128px;
  height: 128px;
}

.cover-medium img {
  position: relative;
  width: 256px;
  height: 256px;
}


.image {
  background: lighten($body-bg,20%);
  border: 2px solid $gutter-color;
  padding: 1px;
  display: block;

  img {

  }
}


/* Debug */
#debug {
  position: fixed;
  top: 5px;
  right: 5px;
  font-size: 11px;
  z-index:100000;
  color: $header-dark;
  text-decoration: none;
  font-family: 'Pictos';
}

.debug_dump {display:none;}
#debug_dump.visible {display:block;}
#debug_dump {
  display: none;
  position: fixed;
  border-top: 2px solid #ccc;
  background: #fff;
  color: #000;
  padding: 10px;
  bottom: 0;
  left: 0;
  font-size: 11px;
  z-index: 10000;
  width: 100%;
  height: 250px;
  overflow: scroll;
  white-space:pre;
}


#begin {
  display: none;
  padding: 12px 20px;
  margin: -20px 0 20px 0;
  position: relative;
  @include background-gradient(rgba(255,255,255,0.1),transparent);

  #suggestions {
    display: none;
  }

  #tags {
    display: none;
    background: #fff;
    margin: 0;
    padding: 3px 12px 2px;
    font-size: 14px;
    width: 100%;
    border: 1px solid #ddd;
    color: #999;
    cursor: text;
    @include border-radius(50px);
    @include box-shadow(none);
    @include box-sizing(border-box);

    &.focus {
      color: #000;
    }

    &.tagit {
      display: block;
    }
  }

  #create-station {
    position: absolute;
    right: 25px;
    top: 17px;
    margin: 0;
    padding: 3px 10px;
    text-shadow: none;
    font-size: 12px;

    &:hover {
      color: #fff;
      border-color: darken($invite-color,10%);
      @include border-radius(20px);
      @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.3));
      @include background-gradient(lighten($invite-color,10%),$invite-color);
    }
  }

  .close {
    position: absolute;
    top: -18px;
    right: 20px;
    color: #aaa;
    font-size: 17px;
  }
}

/* Tagit */
ul.tagit.focus span.tagit-placeholder,
ul.tagit.hasTags span.tagit-placeholder {
  display:none;
}

ul.tagit span.tagit-placeholder {
  position: absolute;
  z-index: 0;
}

ul.tagit li {
  display: block;
  float: left;
  margin: 2px 5px 2px 0;
  white-space: nowrap;
}
ul.tagit li.tagit-choice {
  padding: .2em 20px .2em .5em;
  position: relative;
  line-height: inherit;
}
ul.tagit li.tagit-new {
  padding: .25em 4px .25em 0;
}

ul.tagit li.tagit-choice a.tagit-label {
  cursor: pointer;
  text-decoration: none;
}
ul.tagit li.tagit-choice .tagit-close {
  color: #ccc;
  cursor: pointer;
  position: absolute;
  right: .1em;
  top: 50%;
  margin-top: -8px;
}

/* used for some custom themes that don't need image icons */
ul.tagit li.tagit-choice .tagit-close .text-icon {
    display: none;
}

ul.tagit li.tagit-choice input {
    display: block;
    float: left;
    margin: 2px 5px 2px 0;
}
ul.tagit input[type="text"] {
    width: inherit;
    min-width: 300px;
    border: none;
    margin: 0;
    padding: 0;
    background-color: inherit;
    outline: none;
    @include box-sizing(border-box);
}

/* Pictos Font
* Copyright © 2010 Drew Wilson
* http://www.drewwilson.com  -  http://pictos.drewwilson.com
*
* The fonts included in this stylesheet are subject to the End User License you purchased
* from Drew Wilson. The fonts are protected under domestic and international trademark and
* copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
* distributing this font software.
*
* This font is NOT free. It is illegal to use this font without paying for a license.
*/
@font-face {
    font-family: 'Pictos';
    src: url('/fonts/pictos-web.eot');
    src: local('☺'), url('/fonts/pictos-web.woff') format('woff'), url('/fonts/pictos-web.ttf') format('truetype'), url('/fonts/pictos-web.svg#webfontIyfZbseF') format('svg');
    font-weight: normal;
    font-style: normal;
}