/* Pictos Font
* Copyright © 2010 Drew Wilson
* http://www.drewwilson.com  -  http://pictos.drewwilson.com
*
* The fonts included in this stylesheet are subject to the End User License you purchased
* from Drew Wilson. The fonts are protected under domestic and international trademark and
* copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
* distributing this font software.
*
* This font is NOT free. It is illegal to use this font without paying for a license.
*/
@font-face {
    font-family: 'Icon';
    src: url('/fonts/pictos/icon-web.eot');
    src: local('☺'), url('/fonts/pictos/pictos-web.woff') format('woff'), url('/fonts/pictos/pictos-web.ttf') format('truetype'), url('/fonts/pictos/pictos-web.svg#webfontIyfZbseF') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-home:before {content: "H";}
.icon-play:before {content: "4";}
.icon-pause:before {content: "5";}
.icon-key:before {content: "K";}
.icon-info:before {content: "i";}
.icon-write:before {content: "W";}
.icon-gear:before {content: "y";}
.icon-help:before {content: "h";}
.icon-user:before {content: "U";}
.icon-users:before {content: "g";}
.icon-download:before {content: "~";}
.icon-up:before {content: "{";}
.icon-down:before {content: "}";}
.icon-refresh:before {content: "1";}
.icon-heart:before {content: "k";}
.icon-star:before {content: "S";}
.icon-music:before {content: "m";}
.icon-add:before {content: "+";}
.icon-remove:before {content: "-";}
.icon-share:before {content: "R";}
.icon-list:before {content: "l";}
.icon-cart:before {content: "$";}
.icon-newspaper:before {content: "N";}
.icon-eye:before {content: "E";}
.icon-comment:before {content: "w";}
.icon-comments:before {content: "q";}
.icon-shuffle:before {content: ";";}
.icon-repeat:before {content: "r";}
.icon-link:before {content: "j";}
.icon-clock:before {content: "t";}
.icon-cart:before {content: "$";}
.icon-check:before {content: "3";}
.icon-following:before {content: "2";}
.icon-volume-on:before {content: ">";}
.icon-volume-off:before {content: "<";}
.icon-time:before {content: "t";}
.icon-inbox:before {content: "I";}
.icon-globe:before {content: "G";}
.icon-pulse:before {content: "Y";}
.icon-lense:before {content: "L";}
.icon-forward:before {content: "]";}
.icon-period:before,
.icon-normal:before {content: ".";}
.icon-tags:before {content: "z";}
.icon-delete:before {content: "D";}